[2016-09-01 20:42] QuincyLarson opened #1 "SES input"
As a user, I can add an SES key so I can send emails and they will be billed to my AWS account

[2016-09-01 20:46] QuincyLarson opened #2 "Authentication through Google"
As a user, I can sign in using Google.

[2016-09-01 21:06] CodeNonprofit opened #3 "Subscribers data"
As a user, I should be able to upload multiple subscriber lists data in .csv form.

[2016-09-01 21:07] CarlJKashnier opened #4 "Create a user storage database"
As a user who signed in, I can have my data stored so I can login in the future.

[2016-09-01 21:08] CodeNonprofit opened #5 "Amazon SES credential input"
As a user, I should be able to add Amazon SES credentials to settings page

[2016-09-01 21:08] CarlJKashnier opened #6 "Add mailing list schema"
As a registered user, I can store my mailing list in a Mongo database on the server with multiple fields.

[2016-09-01 21:08] CodeNonprofit opened #7 "Settings page"
As a user, I should be able to access my settings

[2016-09-01 21:09] CarlJKashnier opened #8 "Sending a test Email"
As a registered user who has added their SES key from amazon AWS I can send a test email.

[2016-09-01 21:10] CarlJKashnier opened #9 "Sending multiple E-mails"
As a registered user who has entered their SES key I can send emails to multiple people.

[2016-09-01 21:12] CodeNonprofit opened #10 "Campaign setup"
As a user, I should be able to set up campaigns for different email categories. 'Donation requests', 'Welcome email', 'Constituent updates', etc.

[2016-09-01 21:21] CarlJKashnier opened #11 "Create user email content editor"
As a registered user I can insert content into outgoing e-mails in plain text.

[2016-09-01 21:28] CodeNonprofit opened #12 "Templates for reusable content"
As a user, I can save templates of content and select them within the content editor.

[2016-09-01 21:31] CarlJKashnier opened #13 ""Mail Merge""
As a user I can use the user name in an email using a notation.(examples below)

Few options
{{user}}
%user%
<%user%>

[2016-09-01 21:37] CodeNonprofit opened #14 "Send campaigns to specific subscriber lists"
As a user, I should be able to select campaigns to be emailed to one or more subscriber lists

[2016-09-01 21:44] CarlJKashnier opened #15 "Subscribe Microservice"
As a potential subscriber I can click a subscribe button that will add my email to the database and add any relevant data.

[2016-09-01 21:46] CarlJKashnier opened #16 "Unsubscribe Microservice"
As a subscriber, I can one click unsubscribe from a subscription list.

[2016-09-01 21:49] CarlJKashnier opened #17 "Analytics: Delivered Report"
As a user I can see how many emails were delivered.

[2016-09-01 21:50] CarlJKashnier opened #18 "Analytics: Failed Report"
As a user I can see how many sent emails failed. (Bounce Rate)

[2016-09-01 21:52] CarlJKashnier opened #19 "Analytics: Failed Report - Remove (Nice to Have)"
As a user I can opt to remove failed email addresses from my list.

[2016-09-01 21:53] CodeNonprofit opened #20 "Dashboard"
As a user, I can view a dashboard that contains my analytics, subscriber lists, campaigns, and settings

[2016-09-01 21:54] CarlJKashnier opened #21 "Analytics: Click Through Rate(CTR)"
As a user I can view click through rate.

[2016-09-02 00:09] CarlJKashnier opened #22 "Analytics: Total Sent"
As a user I can see how many emails I have sent.

[2016-09-02 00:14] CarlJKashnier opened #23 "Analytics: Date Selection"
As a user I can view analytics by date & date range.

[2016-09-02 00:17] CarlJKashnier commented on #18
Bounce rate: When a user does not get the email and will not view it.

[2016-09-02 00:22] CarlJKashnier opened #24 "Analytics: Export"
As a user I can export analytics data in CSV format.

[2016-09-02 00:27] CarlJKashnier opened #25 "White Label URLs (click through tracking)"
As a user when I add a URL to an Email, it will create a unique link to a micro service that will redirect to the URL and capture click through data.

[2016-09-02 00:29] QuincyLarson opened #26 "Load testing for email blasts"
As a user, I can simulate sending thousands of emails without actually sending them so that I can understand how quickly they will be delivered and verify there aren't any technical issues that will interfere with my email blast.

Note that this will be essential for us to be able to improve the performance of the emailing engine.

[2016-09-02 00:31] CarlJKashnier opened #27 "White Label URLs (CNAME)"
As a user I can set up a CNAME on my web server and use my domain to in place of the app server address.

Looks like
`<a href="http://www.mydomain.com/ref=uniqueID&http://www.freecodecamp.com"> Link </a>`

instead of
`<a href="https://awesome-pines-8675309.herokuapp.com/ref=uniqueID&http://www.freecodecamp.com"> Link </a>`

[2016-09-02 00:37] CarlJKashnier opened #28 "Async methods used"
As a user the system will use async methods to speed the sending of the requests.

[2016-09-02 00:38] CodeNonprofit commented on #26
This might be helpful place to start for the person who tackles this: http://docs.aws.amazon.com/ses/latest/DeveloperGuide/mailbox-simulator.html

[2016-09-02 00:42] CarlJKashnier opened #29 "Analytics: Click Through(data captured schema)"
As a user I can see a simple breakdown of stats including country/state/time/browser/os.

[2016-09-02 00:50] CarlJKashnier opened #30 "Analytics: Export CSV"
As a user I can export my analytic data in CSV

[2016-09-02 00:58] CodeNonprofit opened #31 "Content Editor - Preview HTML"
As a user, I should be able to preview HTML within the content editor

[2016-09-02 01:12] CarlJKashnier opened #32 "Analytics: AWS checks"
As a user, I can see any relevant data passed back from AWS

[2016-09-02 01:16] CarlJKashnier opened #33 "Dashboard (Detail View)"
This card is no longer needed

[2016-09-02 01:19] CarlJKashnier opened #34 "Dashboard (Responsiveness)"
As a user I can view the dashboard on my small device screen.

[2016-09-02 01:28] CarlJKashnier opened #35 "API code snippit for subscribe micro service"
As a user I can get an html form for the subscribe micro service.

[2016-09-02 01:28] CarlJKashnier opened #36 "API (Security)"
As a developer I will have a secret code so that my mailing list will be secure.

[2016-09-06 21:13] CarlJKashnier opened #37 "Adding email addresses"
As a user there is a filed where I can add email addresses.

[2016-09-06 21:14] CarlJKashnier opened #38 "Analytics: Unsubscribe"
As a user I can see who has unsubscribed.

[2016-09-06 21:15] CarlJKashnier opened #39 "Export (no unsubscribed users)"
As a user when I export my lists I can export only currently subscribed users.

[2016-09-07 14:57] ktajpuri commented on #28
Do we have some code base or this is a kind of requirement gathering phase?

[2016-09-07 17:24] CarlJKashnier commented on #28
We are still working on requirements.

[2016-09-12 17:20] CarlJKashnier commented on #4
Google Auth o-auth

[2016-09-14 01:08] AndrewGHC commented on #1
The following doc has interesting info regarding the use SES, particularly with regard to sending limits https://docs.aws.amazon.com/ses/latest/DeveloperGuide/ses-dg.pdf.

[2016-09-14 01:09] AndrewGHC commented on #8
The following doc has interesting info regarding the use SES, particularly with regard to sending limits https://docs.aws.amazon.com/ses/latest/DeveloperGuide/ses-dg.pdf.

[2016-09-14 01:26] CarlJKashnier commented on #8
http://sesblog.amazon.com/post/TxKR75VKOYDS60/How-to-handle-a-quot-Throttling-Maximum-sending-rate-exceeded-quot-error
There is a bit of code for exponential backing off that will allow us to
tune to the best rate.

On Tue, Sep 13, 2016 at 9:09 PM, AndrewGHC <notifications@github.com> wrote:

--
Carl Kashnier
Agile Project Manager at Free Code Camp
Boy Scouts of America Unit Commissioner Lakes Dis

[2016-09-17 11:10] CarlJKashnier commented on #8
Has anyone set up an SES key yet?

[2016-09-17 11:16] AndrewGHC commented on #8
Hi Carl,

Yes, and sending a single email through SES is functional.

On 17/09/16 13:10, Carl J. Kashnier wrote:

[2016-09-26 20:31] CarlJKashnier commented on #6
Fields to include: Subscribed/Unsubscribed.  Source of referral, dates emailed,

[2016-09-26 20:32] CarlJKashnier commented on #6
Ask question on Quora/SO about mega record stores.

[2016-09-26 20:34] CarlJKashnier opened #47 "Add roles for Users"

[2016-09-26 20:36] CarlJKashnier commented on #47
As an Admin, I can add a user to roles (Send Email, access analytics dash board, create templates. ect)

[2016-09-28 16:22] The-Alchemist opened #48 ""Screen-shots here." is not a URL"
See README

[2016-10-03 20:43] CarlJKashnier commented on #48
Great, thank you for the reminder, we will add them when we have them.

[2016-10-05 20:01] #48 closed

[2016-10-23 22:37] AndrewGHC commented on #27
Hey Carl, could I ask for clarification on this one? My understanding is that CNAME records point to A records and are provided to DNS resolvers to offer the flexibility of multiple domains without the hassle of updating the host ip of each record. Would you be able to let me know how this one could be implemented in this app?

[2016-10-24 20:19] CarlJKashnier opened #55 "Tracking Pixel Add"
As a admin, I can use a tracking pixel to see how many emails are opened. Maybe a trend finder to preemptively unsubscribe users from the list.

[2016-10-25 18:17] CarlJKashnier commented on #27
Just coming off a hackathon, so forgive my for spelling. And ooor grammer.

When we send a link in an email: we want to enable the non-profit to change
the name from heavy-tacos-345627.herokuapp.com to mydomain.com so it would
be an account level setting. With the same /followlink/unique-id to show
click throughs was the orignal idea here.

The end user has to set this on their hosting. But we als

[2016-11-07 10:26] jmavasa opened #59 "how to install"
is there any how to install document

[2016-11-12 02:09] AndrewGHC opened #61 "Implement Template view fixes/changes"

[2016-11-12 02:10] AndrewGHC opened #62 "Implement CreateCampaign view fixes/changes"

[2016-11-12 02:11] AndrewGHC opened #63 "Implement TextEditor fixes/changes"

[2016-11-12 02:11] AndrewGHC opened #64 "Implement SendCampaign fixes/changes"

[2016-11-12 02:12] AndrewGHC commented on #64
Send campaign
- Unclear that emails even have to be sent (were they sent on saving the campaign?)
- The error message issued when there's an error with sending a page needs to be cleared on component unmount
- On a successful campaign send, the '4.0 hours' description of how long something will take needs better formatting
- Introduce commas to the remaining Amazon SES limit for better readability

[2016-11-12 02:12] AndrewGHC opened #65 "Implement Settings view fixes/changes"

[2016-11-12 02:13] AndrewGHC opened #66 "Implement ImportCsv view fixes/changes"

[2016-11-12 02:13] AndrewGHC opened #67 "Implement ListSubscriber view fixes/changes"
ListSubscribers
- Currently loads up the full list of list subscribers. Note that changing this will demand reworking csv exports.

[2016-11-13 01:36] AndrewGHC commented on #63
It appears that some of the quirks of the text editor may be bugs in the 3rd party text editor. An issue to investigate this issue has been posted at https://github.com/sstur/react-rte/issues/133.

[2016-11-13 01:59] AndrewGHC commented on #59
Hi there,

It's a bit complex at the moment, but we'll streamline the process in the near future. For the current build you can do the following (it will require a local Postgres database and Google consumer keys):

1. Clone/download the app as normal
2. Run 'npm install' in the root directory

Finally - set up a Postgres database and pass environment variables to the app accordingly. You can do t

[2016-11-13 01:59] #59 closed

[2016-11-14 00:31] AndrewGHC commented on #61
Done:
- It's not clear how to save templates
- Issue a toast warning on form validation failure
- 'Create' button should be 'Save as a template'
- Transition from templates to create campaign is confusing, issue message e.g. "Message saved, sending you to create template page"

Remaining:
- When the editor's in plaintext mode, no rich text options should exist
- Template names should be autogenera

[2016-11-16 00:39] CarlJKashnier opened #68 "Analytics: Enhanced Date"
As a user I can use start and end dates to view success and failure.

[2016-11-16 16:44] AndrewGHC commented on #66
Done:
- Subtext below title looks like an error. Remove the red icon.
- It's not clear is importing a CSV was successful (added toast, and title input clears on success).
- CSV files are not validated on the server (now validates email addresses).
- Needs some way for telling the user that their import is in progress (implemented websocket stream informing user of progress in real time)

Remaining

[2016-11-16 21:34] AndrewGHC commented on #64
Done:
- Unclear that emails even have to be sent (were they sent on saving the campaign?)
- The error message issued when there's an error with sending a page needs to be cleared on component unmount
- On a successful campaign send, the '4.0 hours' description of how long something will take needs better formatting. Should be formatted like "35 minutes" or "1 hour and 23 minutes".
- Introduce comm

[2016-11-19 13:00] AndrewGHC opened #69 "Implement suggestions from 16/11/16"
- Templates should receive its own treeview on the left sidebar
- Toasts should be larger and last significantly longer (20 sec)
- Templates are not applied to the text box correctly
- WebSocket notifications are truncated
- A toast should be shown on creating a campaign
- Deleted campaigns/templates remain visible when a manage table
component is remounted
- Fix preview of templates

[2016-11-19 13:02] AndrewGHC commented on #69
- Templates should receive its own treeview on the left sidebar
- Toasts should be larger and last significantly longer (20 sec)
- Templates are not applied to the text box correctly
- WebSocket notifications are truncated
- A toast should be shown on creating a campaign
- Deleted campaigns/templates remain visible when a manage table
component is remounted
- Fix preview of templates

[2016-11-20 19:26] AndrewGHC commented on #69
Done:
- Templates should receive its own treeview on the left sidebar
- Toasts should be larger and last significantly longer (20 sec)
- WebSocket notifications are truncated
- A toast should be shown on creating a campaign
- Deleted campaigns/templates remain visible when a manage table
component is remounted

Remaining:
- Fix preview of templates
- Templates are not applied to the text box corre

[2016-11-20 19:58] AndrewGHC commented on #66
Done:
- Importing CSV files to the db is slow. Is it possible to improve performance?
- Verify that the list title does not already exist prior to saving a new list

[2016-11-22 23:15] 4iar commented on #64
Done:
- Unclear that emails even have to be sent (were they sent on saving the campaign?)
- The error message issued when there's an error with sending a page needs to be cleared on component unmount
- On a successful campaign send, the '4.0 hours' description of how long something will take needs better formatting. Should be formatted like "35 minutes" or "1 hour and 23 minutes".
- Introduce comm

[2016-11-23 00:18] CarlJKashnier opened #70 "NAME - Email for good"

[2016-11-24 01:25] AndrewGHC commented on #61
Done:
- Templates are not applied to the text box correctly
- Fix preview of templates

Remaining:
- When the editor's in plaintext mode, no rich text options should exist
- Template names should be autogenerated by default
- Preview transition is too quick - also throw a toast informing the user that a transition occurred

[2016-11-24 01:26] AndrewGHC commented on #63
Done:
- Line indicator has weird positioning
- Whitespace issues / lack of clarity in spacing

[2016-11-26 01:39] AndrewGHC opened #71 "Implement suggestions from 25/11/16"
- Bug: If the header is 'emails' rather than 'email', the import CSV function fails silently on the client side.
- Bug: Emails no longer include the sender's name (in the sense of 'Bob <bob@gmail.com>'.
- Buttons should be adjusted for conformity in the following manner. Buttons indicating success/progression should be placed on the left, and a consistent colour scheme needs to be in place. Sizing

[2016-11-26 01:53] AndrewGHC commented on #71
Done:
- Bug: If the header is 'emails' rather than 'email', the import CSV function fails silently on the client side.
- Bug: Emails no longer include the sender's name (in the sense of 'Bob bob@gmail.com'.
- Change 'Preview' button text to 'Next Step'

Remaining:
- Buttons should be adjusted for conformity in the following manner. Buttons indicating success/progression should be placed on the lef

[2016-11-27 15:05] AndrewGHC commented on #61
Done:
- When the editor's in plaintext mode, no rich text options should exist
- Template names should be autogenerated by default
- Preview transition is too quick - also throw a toast informing the user that a transition occurred

[2016-11-27 15:35] AndrewGHC commented on #62
Done:
- On applying a template, some fields have to be reselected
- Campaign name should be automatically filled when blank
- Create campaign button needs a better name (e.g. 'Create this campaign' rather than just 'Create')
- The state of the form is not saved on refreshing the page
- Needs to be clearer that after creating a campaign, it has been created but not sent

[2016-11-27 17:56] AndrewGHC commented on #71
Done:
- Buttons should be adjusted for conformity in the following manner. Buttons indicating success/progression should be placed on the left, and a consistent colour scheme needs to be in place. Sizing also needs to be larger and consistent.
- Importing a CSV needs to be improved. At present, it's not clear that the CSV is actually uploading (in the sense that the file is being sent from the cli

[2016-12-03 23:05] 4iar opened #72 "Implement suggestions from 1/12/16"
### General
- [x] All buttons at the bottom of forms should be placed together instead of spread across the screen (buttons on the far right may be overlooked)

### Bugs
- [x] Toast notifications seem to be generating whitespace at the bottom of the page (see [image](https://i.imgur.com/1hi1zQv.png))

### Lists
- [x] Change "Your CSV file is uploading" to "Initiating upload", and add a message tel

[2016-12-03 23:08] 4iar opened #73 "Cancel campaign sending"
Implement the ability to halt campaign sending

[2016-12-03 23:11] 4iar opened #74 "Export unsent/sent per campaign"
If campaign sending stops or is cancelled, there is no way to know which subscribers have received the email.

Implement the ability to export a csv of subscribers to which the campaign has not been sent to.

[2016-12-06 19:11] AndrewGHC commented on #71
Done:
- A 'test' functionality should be implemented that allows users to send out a quick test email from within a 'send campaign' view. This would allow them to assure themselves of the final email's rendering.

[2016-12-06 19:20] AndrewGHC commented on #36
Current plan is to check this against the OWASP top ten - https://www.owasp.org/index.php/OWASP_Top_Ten_Cheat_Sheet.

- [ ] Injection
- [ ] Session management
- [ ] XSS cross site scripting vulnerabilities
- [ ] Insecure direct object references
- [ ] Security misconfiguration
- [ ] Sensitive data exposure
- [ ] Function level access control
- [ ] Cross site request forgery
- [ ] Libraries with kn

[2016-12-07 01:35] AndrewGHC commented on #68
Hey Carl,

Can I ask for clarification on this one? Not 100% what this refers to or how this is to be implemented.

Thanks

[2016-12-07 23:37] CarlJKashnier opened #75 "Small Bugs 12-7"

[2016-12-07 23:38] CarlJKashnier commented on #75
Margin between buttons and Same Height style

[2016-12-08 00:12] CarlJKashnier commented on #68
See a month  success and failure reports (more than one date.)

[2016-12-13 15:55] 4iar opened #76 "Implement suggestions from 8/12/16"
### General
- [x]  Remove unnecessary nested panels/horizontal lines (e.g. in CSV import page)

### CSV Import
- [x] After CSV import has completed, show exactly how many rows have been processed in notifications

### Campaigns
- [x] Integrate test email functionality with analytics (link wrapping, unsubscribe links, pixel tracking) and mail merge

[2016-12-14 23:45] CarlJKashnier opened #77 "Harden User Roles"
Fix small bugs to get it 100%

[2016-12-14 23:50] CarlJKashnier commented on #77
Greyed out user stuff that they can't access

[2016-12-14 23:59] CarlJKashnier opened #78 "Resume e-mail campaign"
After cancel it will pick up where left off.

[2016-12-15 00:03] CarlJKashnier opened #79 "Walkthrough Videos"

[2016-12-21 05:52] AndrewGHC opened #80 "Implement suggestions from 15/12/16"
### General
- [x]  Form data should not be stored in localstorage to prevent stale reads

- [x] Autogenerated campaign and template names should be consistent with those for lists

- [x]  Buttons should not be flush

- [x] Redirect to /lists/manage after successfully importing a CSV

- [x] Delete buttons should be red

[2016-12-21 06:01] AndrewGHC commented on #80
### General
- [x]  Form data should not be stored in localstorage to prevent stale reads

- [x] Autogenerated campaign and template names should be consistent with those for lists

- [x]  Buttons should not be flush

- [x] Redirect to /lists/manage after successfully importing a CSV

- [x] Delete buttons should be red

[2016-12-27 15:14] 4iar opened #82 "Implement suggestions from 22/12/16"
### General
- [x] Place submit/cancel buttons together in modals
- [x] Add space between table action buttons and make them the same width (possibly using .btn-block)
- [x] Change the order of navbar items to reflect the flow of creating campaigns (should be Lists -> Templates -> Campaigns)

### Campaigns
- [x] The campaign duration estimate is too optimistic because it assumes we will be able to

[2017-01-11 23:51] CarlJKashnier opened #83 "Don't Send to Same Email Twice"

[2017-01-18 23:52] CarlJKashnier opened #85 "Get running on remote server"
Running and document process to get running

[2017-01-18 23:52] QuincyLarson opened #86 "unsubscribe list management"

[2017-01-18 23:53] CarlJKashnier opened #87 "Unsubscribe list - Talk"

[2017-01-18 23:53] QuincyLarson opened #88 "embeddable signup"

[2017-01-18 23:55] #88 closed

[2017-01-18 23:55] #86 closed

[2017-01-19 00:00] CarlJKashnier opened #89 "Key red x AES page"
More explicet

[2017-01-25 23:48] CarlJKashnier opened #90 "Add FCC Style to App"

[2017-01-25 23:48] CarlJKashnier commented on #90
https://www.freecodecamp.com/design-style-guide/

[2017-01-25 23:53] #67 closed

[2017-01-25 23:53] #68 closed

[2017-01-25 23:53] #69 closed

[2017-01-25 23:53] #70 closed

[2017-01-25 23:53] #71 closed

[2017-01-25 23:53] #72 closed

[2017-01-25 23:53] #73 closed

[2017-01-25 23:53] #74 closed

[2017-01-25 23:53] #75 closed

[2017-01-25 23:53] #76 closed

[2017-01-25 23:53] #77 closed

[2017-01-25 23:53] #78 closed

[2017-01-25 23:53] #80 closed

[2017-01-25 23:53] #82 closed

[2017-01-25 23:53] #83 closed

[2017-01-25 23:53] #89 closed

[2017-01-25 23:54] #14 closed

[2017-01-25 23:54] #15 closed

[2017-01-25 23:54] #16 closed

[2017-01-25 23:54] #17 closed

[2017-01-25 23:54] #18 closed

[2017-01-25 23:54] #19 closed

[2017-01-25 23:54] #20 closed

[2017-01-25 23:54] #21 closed

[2017-01-25 23:54] #22 closed

[2017-01-25 23:54] #23 closed

[2017-01-25 23:54] #24 closed

[2017-01-25 23:54] #25 closed

[2017-01-25 23:54] #26 closed

[2017-01-25 23:54] #27 closed

[2017-01-25 23:54] #28 closed

[2017-01-25 23:54] #29 closed

[2017-01-25 23:54] #30 closed

[2017-01-25 23:54] #31 closed

[2017-01-25 23:54] #32 closed

[2017-01-25 23:54] #33 closed

[2017-01-25 23:54] #34 closed

[2017-01-25 23:54] #35 closed

[2017-01-25 23:54] #36 closed

[2017-01-25 23:54] #37 closed

[2017-01-25 23:54] #38 closed

[2017-01-25 23:54] #1 closed

[2017-01-25 23:54] #2 closed

[2017-01-25 23:54] #3 closed

[2017-01-25 23:54] #4 closed

[2017-01-25 23:54] #5 closed

[2017-01-25 23:54] #6 closed

[2017-01-25 23:54] #7 closed

[2017-01-25 23:54] #8 closed

[2017-01-25 23:54] #9 closed

[2017-01-25 23:54] #10 closed

[2017-01-25 23:54] #11 closed

[2017-01-25 23:54] #12 closed

[2017-01-25 23:54] #13 closed

[2017-01-26 17:51] AndrewGHC opened #91 "Implement fixes/changes 26/01/17"

[2017-01-26 18:04] AndrewGHC commented on #91
- [ ]  Make the 'Mail for Good' title all bold. Replace the HTML title in the head.
- [ ] Implement a loading spinner while saving templates to prevent the user clicking save multiple times.
- [ ] Fix the spacing issue in the text input box when applying a template.
- [ ] Dispatch the success notification when updating the Settings page when the refresh effect finishes.
- [ ] Make it clear that th

[2017-02-01 23:29] 4iar opened #92 "Implement fixes/changes 26/01/17 - remaining"
- [x] Fix the spacing issue in the text input box when applying a template.
- [ ] Speed up database queries when the database is otherwise under full load to ensure that the web app remains responsive.

[2017-02-08 23:39] CarlJKashnier opened #93 "If a user ubsubscribes and then wants to resubscribe they can"

[2017-02-08 23:43] #87 closed

[2017-02-08 23:43] #90 closed

[2017-02-08 23:43] #91 closed

[2017-02-10 00:12] AndrewGHC opened #94 "Implement fixes/changes 09/02/17"
- [x] Add commas to number of subscribers to email when sending a campaign in CampaignView
- [x] Tell user how many emails have been sent during an email campaign

[2017-02-22 23:46] CarlJKashnier commented on #92
Speed up in prgoress ongoing

[2017-02-27 18:00] 4iar opened #95 "Implement fixes/changes 23/02/17"
- [x] Prevent extra line breaks from being added.
- [x] Fix issue with test emails: sending a test email results in an err (400 response) and breaks campaign sending (requiring a page refresh before a campaign can be sent).
- [x] Notification updates are no longer received after the page is refreshed. For example, after uploading a csv and the page is refreshed there will be no progress update not

[2017-03-01 21:33] AndrewGHC commented on #95
Linebreak issue ref https://github.com/quilljs/quill/issues/1341

[2017-03-01 23:14] 4iar opened #96 "Implement fixes/changes 09/02/17 (1)"
- [x] Set a progress bar or some manner of notification when CSVs are uploading
- [x] Center text in the 'Create Campaign' button
- [x] Sort buttons for viewing campaign, put all buttons on one line, all should be the same height
- [x] Turn 'send a test' email into a modal rather than an inline process
- [x] Fix sending test emails following changes to permissions.
- [x] Show an error if sending a

[2017-03-01 23:37] AndrewGHC opened #97 "Lock user actions and pause frontend in some manner when server is under full load (addresses #92)"

[2017-03-04 23:36] AndrewGHC opened #98 "Fix sending issues"
- [x] Fix bug with campaign sending on sending second campaign.
- [x] Fix bug with campaign sending failing due to locking issues with Bull.

[2017-03-08 23:14] 4iar opened #99 "Implement a campaign delivery succcess email"

[2017-03-08 23:49] CarlJKashnier opened #100 "Add way to paste in HTML in the email"

[2017-03-09 02:08] AndrewGHC commented on #100
I've done a fair bit of reading on this and the conclusion is that there are no open source email template editors. There are plain/rich text editors that use html, but they lack the power of a fully fledged template editor.

My suggestion is that we could create our own email template editor that could be abstracted to a powerful HTML editor as a separate project (would take too long to do this f

[2017-03-09 13:56] CarlJKashnier commented on #100
Have you checked out tinyMCE? It is used all over the place for HTML
editing plus you can dump html straight into it. It supports tables and a
bunch of other stuff.

It is licensed under the lesser public gnu license so it would seem we can
use it.

It is used by quite a few companies including wordpress, microsoft, ibm.
About 100M wevsite use it.

On Mar 8, 2017 9:08 PM, "Andrew" <notifications@g

[2017-03-14 22:18] AndrewGHC commented on #100
Sorry for the delay in getting back to you on this Carl.

TinyMCE is a great editor and it's one we checked out. Only problem is that it's just a rich text editor, it's not designed to handle complex html email templates.

From my research, there's only one open source editor for this purpose that we could use - https://mosaico.io/. The problem is that its license is restrictive and it would take

[2017-03-15 22:12] #93 closed

[2017-03-15 22:12] #85 closed

[2017-03-15 22:13] #92 closed

[2017-03-15 22:13] #94 closed

[2017-03-15 22:13] #96 closed

[2017-03-15 22:13] #97 closed

[2017-03-15 22:13] #98 closed

[2017-03-15 22:13] #99 closed

[2017-03-23 15:56] fizerkhan opened #103 "Update README file"
Great project. Kudos to you guys.

It will be helpful if you add basic steps to run the application and configurations needed for both development and production.

It will be great if you list the stacks used and add some screenshots.

[2017-03-26 16:41] AndrewGHC commented on #103
Thanks fizerkhan!

We're going to launch this using docker to ease the process of configuration, so we've held off so far on a setup guide. It's not too hard though, check the .example.env file and set it up. Ensure you have both postgres & redis running, and you'll be able to start the app by running npm run build && npm start - then check localhost:8080.

When this launches we'll have screenshot

[2017-03-26 17:35] fizerkhan commented on #103
@AndrewGHC Thanks great mate. I will wait for the launch. :1st_place_medal:

[2017-04-13 16:08] QuincyLarson opened #104 "Automatic database backups to S3"
We have a script that does this for freeCodeCamp that may be helpful.

This is something we can do after we ship the beta.

[2017-04-19 22:45] QuincyLarson commented on #79
Walkthrough video is live! https://www.youtube.com/watch?v=_7U03GVD4a8&feature=youtu.be

[2017-04-19 22:45] #79 closed

[2017-04-26 22:49] CarlJKashnier opened #108 "Create a bug button"

[2017-04-26 22:49] CarlJKashnier opened #109 "SMTP API thing."

[2017-05-24 20:09] QuincyLarson opened #111 "As a user, I should be able to delete an unsent campaign to prevent myself from later accidentally sending it"
I couldn't figure out a way to delete an unsent campaign. I am worried I might unthinkingly send out an old campaign to 700k people, so it would be best if there was a mechanism for deleting it completely to eliminate that possibility.

[2017-05-24 20:10] QuincyLarson opened #112 "Google auth instructions not sufficiently clear"
One of our beta testers encountered this screen:
![](https://www.evernote.com/l/Ar8Ni-ru-ZtEMJoW17b5441nJbazi36SMTkB/image.png)

Do you know what went wrong here? Can we update the documentation to cover this, and ensure that people don't get stuck on this (and in the event that they do, tell them what went wrong?)

[2017-05-24 21:40] AndrewGHC commented on #112
Certainly, can you ask them if they set up OAUTH Google credentials?

We can circumvent this by authentication on the server without requiring
this.

Could you also confirm if tonights event is cancelled?

On 24 May 2017 at 22:10, Quincy Larson <notifications@github.com> wrote:

[2017-05-25 04:53] QuincyLarson commented on #112
@AndrewGHC I've asked him and I'll let you know what he says.

[2017-05-25 05:30] frutsy007 commented on #112
Let me just the code pleasec

[2017-05-25 15:01] AndrewGHC commented on #112
This is an excellent point and I'll improve the documentation shortly to clarify this process.

[2017-05-25 15:01] #103 closed

[2017-05-25 15:02] #95 closed

[2017-05-26 02:46] arcdev1 commented on #112
I got this originally as well. Two key steps to resolve:

### Add `http://localhost:8080/auth/google/callback` to the list of authorized callback URIs in Google API.

1. Make sure you've followed the instructions at: [https://support.google.com/googleapi/answer/6158849](https://support.google.com/googleapi/answer/6158849) and updated the .env file with the correct credentials.
2. Login to [Google

[2017-05-27 02:58] arcdev1 opened #113 "Detect and warn about SES "sandbox mode""
When first setting up Amazon SES, the account is in "sandbox" mode. In this mode, no emails will be sent to any address that has not been verified directly by Amazon SES; however, the UI behaves as if nothing is wrong. I still receive a confirmation that the campaign was successful.

I understand why; some send errors are to be expected, so a notification on any single error doesn't make much sens

[2017-05-31 20:34] AndrewGHC commented on #112
Arcdev1 I can't thank you enough for your help on this matter, I shall update the docs shortly. I'd forgotten these steps, having used the same API keys for a number of months. Thanks!

[2017-06-04 22:33] CarlJKashnier opened #114 "Add ability to upload HTML Template"

[2017-06-04 22:33] CarlJKashnier opened #115 "RAW HTML Field?"

[2017-06-04 22:34] CarlJKashnier opened #116 "Redis glitch on remote set up (looking for local host)"

[2017-06-04 22:34] CarlJKashnier opened #117 "Unsubscribe - Sync with MAILCHIMP"

[2017-06-04 22:35] CarlJKashnier opened #118 "Tags for custom unsubscribe - Add to docs"

[2017-06-04 22:35] CarlJKashnier opened #119 "When creating mailing list allow user to use meaningful name"

[2017-06-04 22:36] CarlJKashnier opened #120 "FLOW Proposed change: From create to send, not main menu -- Discuss"

[2017-06-04 22:37] CarlJKashnier opened #121 "BUG- when using template does not import with plain text selected."

[2017-06-05 13:22] arcdev1 commented on #116
To add some color to this. I believe using a service like [now](https://zeit.co/now) from zeit.co offers a very compelling use case for this product. One can simply drag and drop the mail-for-good folder or use a single command in the terminal to deploy the app. It's wonderful... in theory.

In practice, you can see my deployment [here](https://zeit.co/billsourour/mail-for-good/zdccuzhsxu) (click

[2017-06-07 01:20] arcdev1 commented on #116
I did some sleuthing today. The answer is simple. `now` does not support compose, nor do they recommend hosting databases. So, looks like it's the wrong place for this software. Feel free to close this issue.

On a different note. You guys are on Digital Ocean, what size container (droplet) are you using to support this app?

[2017-06-07 01:21] CarlJKashnier commented on #116
The smallest droplet is our target.

On Jun 6, 2017 9:20 PM, "arcdev1" <notifications@github.com> wrote:

[2017-06-07 01:23] AndrewGHC commented on #116
Thanks for letting us know about that issue, I was going to debug it tomorrow.

We're on the $10 USD box I believe, but this is for 750k+ blasts. The app is designed to be memory efficient, I should try things out with 512mb.

[2017-06-09 06:58] karuppiah7890 commented on #112
@AndrewGHC The docs are still not updated. But I did know what to change when Google showed an error about unauthorized callback URL.

[2017-06-09 07:02] karuppiah7890 opened #123 "Error while exporting subscribers list as a CSV"
[code]

[2017-06-09 07:03] karuppiah7890 commented on #123
The URL which it goes to is : `http://localhost:8080/api/list/subscribers/csv?listId=1&filters={}`

[2017-06-09 07:14] karuppiah7890 opened #124 "Update Docs. Very less information or wrong information"
1. First of all, I see that the App is exposed at port 8080 in my computer. Is it because it recognizes the environment as a dev environment ? But I didn't set any environment of that sort, so I think the App is exposed at port 8080 by default and not 80 as mentioned in the Docs

2. Developers should be informed to apply for SES limit increase in the Docs. I learned this from a YouTube tutorial wh

[2017-06-09 07:19] karuppiah7890 commented on #124
@AndrewGHC I can make PRs actually. But do tell about refinements and I will work on this.

I also plan to create a simple tutorial for the whole setup in Medium

[2017-06-09 07:27] karuppiah7890 opened #125 "Notification always says "Sent 0 mails". But the mails get sent!"
![sent 0](https://user-images.githubusercontent.com/12808424/26965365-0883f832-4d13-11e7-9a92-872af6fcd4cc.png)

[2017-06-09 19:34] karuppiah7890 opened #126 "Put up docs so that developers can help you by contributing!"
@AndrewGHC @QuincyLarson Please put an instruction guide about how to setup the project locally and run it and test it.

I am having a hard time here, since I don't know much of webpack or anything. Since I am more of a backend fellow

[2017-06-10 03:52] arcdev1 commented on #116
Just a quick follow-up. I got MFG running on [Amazon EC2 Container Service (ECS)](https://aws.amazon.com/ecs/). I believe this may be a slightly cheaper option than Digital Ocean and it worked like a charm!!

So, I can now confirm 100% that it was the `now` hosting environment that was the problem. Your codebase and config seem pretty solid.

[2017-06-10 06:54] karuppiah7890 commented on #123
@AndrewGHC I think the change to make is here : https://github.com/freeCodeCamp/Mail-for-Good/blob/master/server/routes/lists.js#L41 ?

From what I see you did in other API endpoints, I think it should be this :

[code]

[2017-06-10 08:51] #108 closed

[2017-06-10 09:09] AndrewGHC opened #127 "Develop CLI tool if the .env file is misconfigured"
This could be a simple shell script that lets users configure their environment variables. I'll take a look at this after implementing the work queue.

[2017-06-10 09:58] frutsy007 commented on #127
Como

[2017-06-10 09:59] AndrewGHC commented on #126
Hi @karuppiah7890, I'm going to update the docs very shortly, thank you for your patience with this and eagerness to try it.

[2017-06-10 09:59] #126 closed

[2017-06-10 10:00] AndrewGHC commented on #125
Hmm quite strange! Haven't seen this behaviour before. If you have any logs you could share that would be great, otherwise I will investigate this.

[2017-06-10 10:13] AndrewGHC commented on #124
@karuppiah7890 Thanks again for this feedback, you've identified some key issues with the Readme that I've now fixed.

1. Thanks for spotting this, I've now corrected the port.
2. This information is now included.
3. This information is now included.
4. This process is currently described in the tutorial video - but it is a good point that we may need to write this process down.
5. Root permission

[2017-06-10 10:15] AndrewGHC commented on #123
This may well be the case - I will be able to test this tomorrow. In the meantime, if you're able to submit a PR for this that would be brilliant.

Cheers for identifying this issue.

[2017-06-10 10:16] AndrewGHC commented on #120
Does this refer to the async work queue?

[2017-06-10 10:16] #124 closed

[2017-06-10 10:17] #112 closed

[2017-06-10 10:19] AndrewGHC commented on #116
Great stuff - Now is an interesting tool and not one I'd heard of before, I'll keep it in mind for the future. Cheers!

[2017-06-10 10:20] #116 closed

[2017-06-10 10:21] AndrewGHC commented on #114
Is this one a duplicate of https://github.com/freeCodeCamp/Mail-for-Good/issues/115 ?

[2017-06-10 11:23] karuppiah7890 commented on #124
@AndrewGHC For 4, the procedure isn't explained properly in the video. @QuincyLarson only asks us to create a pair of Access Key and Secret Access Key, see here [YouTube Demo 1m:22s](https://youtu.be/_7U03GVD4a8?t=1m22s). He doesn't tick the AWS Management Console Access. The demo still works. I guess it wasn't a problem then. But now, the `.env` file instructions mention that AWS Access keys are

[2017-06-10 11:34] karuppiah7890 commented on #124
@AndrewGHC  And about 5, well, I have the latest version of Docker. And I am still getting issues. Are you sure there is no procedure of even adding the user to the docker group ? Because I was just trying that, and it doesn't seem to work out. Searching what is the issue

[2017-06-10 11:50] karuppiah7890 commented on #123
@AndrewGHC Sure. I will send a PR today. And I see you have used `parseJson` middleware even in a GET endpoint like [here](https://github.com/freeCodeCamp/Mail-for-Good/blob/master/server/routes/lists.js#L33), though you have used `req.query` correctly inside the module code. I think `parseJson` should be removed over here as it's unnecessary. And also, I think we should add `parseJson` in [this](

[2017-06-10 11:55] karuppiah7890 commented on #121
@CarlJKashnier I actually saw a weird behavior. I just realized that there is an exact way to reproduce the bug that I was getting only sometimes.

[2017-06-10 11:57] karuppiah7890 commented on #119
@CarlJKashnier The application does allow us to give a name to the list to be created right ? Are you talking about editing the name of the list after creating the list ? cc @AndrewGHC

[2017-06-10 12:01] karuppiah7890 commented on #118
Yes, that would be nice. Giving custom unsubscribe links. Like giving a text and mentioning which word / html element like a button will have the unsubscribe link

[2017-06-10 12:08] karuppiah7890 commented on #125
No, I don't have any logs. I will try again and let you know. But as far as I remember I didn't get any error logs. May be I can provide the info logs.

[2017-06-10 12:36] karuppiah7890 commented on #111
@QuincyLarson In the current version, I think the application disables the send buttons on completed campaigns. I also tried to enable the button on client side and send, to test how it is handled on server side. But I couldn't really send the mail even after enabling the button

[2017-06-10 12:43] karuppiah7890 commented on #121
@CarlJKashnier Please change the issue heading. The error occurs in two cases:

1. When type of email is chosen as Plain Text and when you use HTML template from the drop down, all the fields are set properly including the type of email field, except the email body.
2. When type of email is chosen as HTML and when you use Plain Text template from the drop down, all the fields are set properly incl

[2017-06-10 12:54] karuppiah7890 opened #128 "Add feature to clone template"
This might be useful to build upon other templates

[2017-06-10 12:55] karuppiah7890 opened #129 "Add feature to edit templates"
Just in case people make a mistake in the template, say grammatical errors, which they notice later, they might wanna edit it. So this will be very useful

[2017-06-10 13:27] karuppiah7890 opened #130 "Make click through link labels customizable and also allow URLs to be link lables"
In the current version of the application, if I put {http://karuppiah7890.me/http://karuppiah7890.me} for click through, it doesn't work, because `/` is the delimiter to find the link label and the link. Sometimes people may want the link label also to be a link, may be it is the same link to which the user has to go to. So, I think we can make changes to the syntax of mentioning the link label to

[2017-06-10 13:30] karuppiah7890 opened #131 "Refresh button to refresh the campaign analytics"
As far as I know, currently we have to refresh the page to refresh the analytics. We can have a refresh button to know the analytics values and we can also poll for the values at say 10-15 minute intervals ? Or not poll at all. This decision has to be made with a lot of things in mind though, because polling can overload the server.

[2017-06-10 13:38] karuppiah7890 opened #132 "Provide nice UI to choose date time for filtering with campaign created date time"
For now I had to manually type the whole date time. It's quite tedious

[2017-06-10 13:40] karuppiah7890 opened #133 "Filtering with campaign created date time doesn't work correctly"
The results don't aren't correct when an option is chosen from the drop down of options = , <= etc

[2017-06-10 14:32] karuppiah7890 opened #134 "Add feature for tracking custom fields along with open tracking - requires quite some"
While creating the list, we can ask if the user wants to track any custom fields (if the user has added any) and then we can do tracking on them too.

For example, say user wants to track based on "city" field for list "my pro users"

So, when someone creates chooses the list "my pro users" and put a tracking link, we need to include the particular city name too in the tracking link for each mail.

[2017-06-10 16:39] arcdev1 commented on #125
Can you confirm that AWS  SES is NOT still in Sandbox mode. Have you asked for and received a send limit increase from AWS? If not, you will see a blue alert at the top of AWS SES for sandbox mode.

More info at http://docs.aws.amazon.com/ses/latest/DeveloperGuide/request-production-access.html

[2017-06-10 16:57] karuppiah7890 commented on #125
Thanks for the info @arcdev1 But if you clearly see my screen shot given above, I have a limit of 50,000 mails to send. And like I said in my issue heading, the mails are getting sent. It's just that the notifications show 0 as the number.

[2017-06-10 17:09] arcdev1 commented on #125
@karuppiah7890 yes I see that now. I should have looked more closely at the full thread. I saw the issue title and remembered having a similar issue when I first set things up that was related to AWS being in Sandbox mode. Sorry I couldn't be more helpful.

[2017-06-10 17:12] karuppiah7890 commented on #125
It's fine :) we can look into and see what went wrong.

[2017-06-10 17:38] karuppiah7890 commented on #134
I see that there are already some columns like IP address, city (taken from IP I guess?) in campaignanalytics and related tables. It's cool. But we can have more than that, like more customization.

Say the user has a field called "gender" along with his email list and wants to track how many men and women opened the mail, then the user can do this if the above feature is implemented

[2017-06-10 17:58] karuppiah7890 commented on #125
@AndrewGHC When do the notifications come ? Only after sending all mails huh ? Because I think this can be possibly because my mails are getting sent a bit late sometimes, and that the values during sending are 0 in the database and that's why I get these notifications. But then, there have been times when I instantly get my mails in the mail box, but still the notifications show "Sent 0 mails"

[2017-06-10 19:26] karuppiah7890 opened #136 "Add a nice website builder like front end to create custom HTML templates with drag and drop"
This is a nice feature for people who want to create nice looking HTML templates.

I will look out for React Components to do this. But I don't know React to integrate it with this application. So may be someone else can help with the code

[2017-06-10 19:42] karuppiah7890 commented on #136
@AndrewGHC @QuincyLarson

This one looks crazy awesome : https://github.com/ory/editor
Here's another : https://github.com/quilljs/quill/ and the next one is a React wrapper around it I guess : https://github.com/zenoamaro/react-quill ( but this had some issue in demo when I uploaded an image )

And there are lots more like this. Check this search for wysiwyg editors : https://github.com/search?l=

[2017-06-11 10:25] karuppiah7890 opened #137 "Add "Confirm to delete" feature while deleting email templates"
This would be good feature to prevent any accidental deletes. I didn't think of this while using Mail For Good, but I am trying out MailChimp now and checking out what good features and UI things they have. In future, we could also try out the features provided by other email campaign management tools

[2017-06-11 10:30] karuppiah7890 opened #138 "Change "Export to CSV" button name to "Export all to CSV" for lists as it is a more meaningful name"
I thought that may be if I select just one subscriber and click export, it will export only that subscriber. But that wasn't the case. It exported all the subscribers that it showed on the list after filtering based on any provided filter. I think the name is a bit misleading, so including the word "all" to it would be better.

[2017-06-11 10:36] karuppiah7890 opened #139 "Add "Export selected to CSV" feature for exporting selected subscribers in lists"
We can add a button "Export selected to CSV" for exporting selected subscribers in lists. Something like below which shows Plivo website call logs exporting feature :

Disable Export selected when nothing is selected,  so that users don't export an unnecessary empty list :
![export options](https://user-images.githubusercontent.com/12808424/27010329-b9c8dff6-4ebf-11e7-82ba-33917c14055e.png)

Enabl

[2017-06-11 10:38] karuppiah7890 commented on #132
The below screen shot shows how Plivo uses a nice UI to choose a from date and to date for filtering call logs :

![plivo from](https://user-images.githubusercontent.com/12808424/27010368-36f3e138-4ec0-11e7-967c-c707f30e247d.png)

[2017-06-11 10:45] karuppiah7890 commented on #111
Oops. I just understood what you meant. I missed the word "unsent". Actually, I just thought about this use case.

So, when a user creates a campaign and it's ready and then when he plans to send it, he might notice a mistake in the email. And he might want to delete it. So, I think it's better to provide a delete campaign feature if it's an unsent campaign and also, the delete should be confirmed

[2017-06-11 10:46] karuppiah7890 opened #140 "Confirming to send emails when "Send" button is pressed"
This might be useful to prevent accidental clicks of Send button before reviewing the email to be sent. Also, while asking the user to confirm, we could three options "Confirm", "Cancel", "Send test mail".

[2017-06-11 10:49] karuppiah7890 opened #141 "Add "Confirm to delete" feature while deleting lists"
Prevents accidental deletes of lists

[2017-06-11 11:01] karuppiah7890 opened #142 "Create list page reloads when enter key is pressed after typing list name"
I think it's the form's default behavior which is causing this reload. We need to prevent this default behavior.
This is the page I am talking about :
![list create - enter key](https://user-images.githubusercontent.com/12808424/27010481-081e4364-4ec3-11e7-8b39-cf30b6f2ced5.png)

[2017-06-11 11:19] karuppiah7890 commented on #140
:man_facepalming: Oops. This is already there. I don't know what I was thinking while creating it. I was adding all the possible "confirm" features as issues and this came to my mind too. My bad that it didn't struck me at all that it's implemented as a "Are you ready ?" confirmation question. I was just trying out more stuff and sending mails and I just realized that it IS implemented. Sorry peop

[2017-06-11 11:19] #140 closed

[2017-06-12 06:18] karuppiah7890 commented on #142
Created a PR for this. Do review it :)

[2017-06-12 06:21] karuppiah7890 commented on #123
Created a PR for this. Please do review it :)

[2017-06-12 10:38] karuppiah7890 commented on #138
I created a PR for this. Please do review it! :)

[2017-06-13 18:19] #123 closed

[2017-06-13 18:21] #142 closed

[2017-06-13 18:31] #138 closed

[2017-06-13 18:31] AndrewGHC commented on #138
This is a good point and would definitely improve clarity. Thanks for the PR.

[2017-06-13 18:51] karuppiah7890 commented on #139
@AndrewGHC Hey, what do you think about this ? I was planning to implement this. But then, currently you have used GET request to get the subscribers for Export All to CSV feature. For Export Selected, I will have to give the selected IDs of the subscribers. So, if there are lots of subscribers on a single page, I will have to include all of those IDs in the URL, but I don't think I have to consid

[2017-06-13 18:54] AndrewGHC commented on #128
This would definitely be useful as a feature. At present, one priority would be to allow the editing of templates, which is missing feature we're looking to implement.

[2017-06-13 18:56] karuppiah7890 commented on #128
Yes, true. In case there's an error or something. I did open an issue for it at #129

[2017-06-13 19:02] karuppiah7890 opened #145 "Wiki to explain the working of the application in a concise manner, for developers"
It would be really great to have a wiki to start explaining the working of the application. Starting from the database schema and how things are inserted into and read from it.

And I see some permissions related feature in the application, which I haven't tried properly, but it would be great to know how it all works, so that when new developers come in, they can easily contribute by knowing what

[2017-06-13 21:06] AndrewGHC commented on #129
This is definitely a major feature we're looking to implement - it's one that's fallen somewhat to the wayside. If you have any input in this regard it would be very welcome!

[2017-06-13 21:10] AndrewGHC commented on #130
Do you mean in terms of the path being a link itself?

[2017-06-13 21:13] AndrewGHC commented on #131
A client side poll would definitely be the simplest solution. Should the app be in the process of sending a large campaign, responses may be slow but otherwise there's no drawback to polling every 5-10 seconds.

Analytics is something we're looking to make more use of. We've managed to condense it into a format that almost eliminates the need for a separate analytics section, this is something tha

[2017-06-13 21:15] AndrewGHC commented on #132
We've leveraged react-bootstrap-table to implement a large amount of data handling in this app. It's possible that they've implemented a feature akin to this. If not, the best approach from my perspective would be to submit a PR to this library and implement it directly. Will review this in due course.

[2017-06-13 21:17] AndrewGHC commented on #145
This is a very valid point - I'm currently working on a setup guide for manual installation. Prior to this, I'm going to submit a PR improving the development flow of the app. Leveraging the Wiki for this purpose is certainly something I'll look at.

[2017-06-14 04:07] karuppiah7890 commented on #132
Yes, I did see that! I agree. But then, we are actually using version 3.0.0 beta (https://github.com/freeCodeCamp/Mail-for-Good/blob/master/package.json#L73), and the current version of react-boostrap-table is 3.4 from what I see in their package.json in master branch, but then, they have 4.0.0 beta too now

[2017-06-14 04:07] karuppiah7890 commented on #132
We can choose one of them, but choosing 4.0 will have breaking changes for us

[2017-06-14 04:11] karuppiah7890 commented on #131
What do you mean by a separate analytics section ? Something like Google Analytics and other service ?

[2017-06-14 04:15] karuppiah7890 commented on #130
Path ? I don't get you. And I was talking about the link label having the character `/`, and sometimes users might want to use URLs as link labels and URLs contain `/` , so it will be a problem to use it since currently we use `/` as delimiter to separate the link label from the link. We could use some other syntax. Like the markdown one or anything that can overcome this problem

[2017-06-14 20:48] AndrewGHC commented on #134
These are good ideas but I'd say at this stage there are other items to be tackled that have greater priority.

I can't personally comment on the clickthrough/open ids as it's not something I worked on - it may well be possible to merge these items, though I can't comment without looking into it further.

[2017-06-14 20:53] AndrewGHC commented on #136
We're actually using Quill as a rich text editor.

Ory looks very interesting though. What we're looking for is some sort of advanced template editor, writing our own would take a good deal of time. WYSIWYG editors tend to be RTEs, and from personal experience what you see often isn't what you get in terms of generated HTML markup.

I can help out with the code if you're able to investigate whethe

[2017-06-14 20:55] AndrewGHC commented on #145
I'm going to prioritise this as it would make it much easier for people to contribute, I'll have a full manual installation/development guide up within the next few days.

[2017-06-14 20:58] AndrewGHC commented on #139
I think that for this feature to be useful, the client would need more advanced options for selecting items other than just clicking on them individually. This would required a lot more work than it may seem, so I'd say that we should kick this down the road for now.

Being able to select emails one by one isn't really useful in my opinion.

[2017-06-14 20:59] AndrewGHC commented on #137
This is definitely an enhancement with clear value. I think this one would be great for a first timer or anyone looking to contribute to the project.

[2017-06-14 21:00] AndrewGHC commented on #133
The filtering options are somewhat basic and haven't been tested too much, I've updated the associated react-bootstrap-table library. Perhaps options for filtering have been improved.

[2017-06-14 21:02] AndrewGHC commented on #132
Just out curiosity, does 4.0 have any functionality in this regard that's worth upgrading for?

[2017-06-14 21:04] AndrewGHC commented on #119
This issue refers to the auto-generated name that encourages laziness on the part of users and may end up in lots of lists/templates/campaigns with confusing names.

@zhakkarn is tackling this.

[2017-06-14 22:52] CarlJKashnier opened #148 "Alert when using old version"

[2017-06-15 02:38] karuppiah7890 commented on #134
Hmm, okay!

[2017-06-15 02:42] karuppiah7890 commented on #133
Okay, I will check on it!

[2017-06-15 02:42] karuppiah7890 commented on #145
Cool !

[2017-06-15 02:43] karuppiah7890 commented on #145
Also, we have to make PR against `staging` or `master` ? Because I see two branches. But for now both are at the same point I guess

[2017-06-15 02:46] karuppiah7890 commented on #139
Yes, makes sense. Okay, we will think about this later!

[2017-06-15 02:49] karuppiah7890 commented on #132
I haven't checked anything yet. I was planning on using another library, a bower component, but yes, I will check if React Bootstrap itself has any options for this UI

[2017-06-15 02:53] karuppiah7890 commented on #136
Oh, I should have noticed what we are using.

And yes, I will check out more about Ory and let you know! I did try MailChimp, and then template editor in it was similar. Have to try Sendgrid and MailGun template editor

[2017-06-15 02:57] karuppiah7890 commented on #119
Oh, okay

[2017-06-16 13:24] AndrewGHC commented on #145
For the moment - the old staging branch had diverged from master so significantly I replaced it. PRs should point to staging from this point onwards, ideally.

[2017-06-16 13:53] karuppiah7890 commented on #145
Yes, so that we always keep the master branch stable and not broken. And we can merge `staging` to `master` later after a few PRs, may be during a release.

Also, we need to mention this in the Documentation while talking about Contribution

[2017-06-20 08:55] karuppiah7890 opened #149 "Error while importing CSV"
This is the error :

[code]

And when I logged the `listInstance` variable which I found at [this line](https://github.com/freeCodeCamp/Mail-for-Good/blob/master/server/controllers/list/import-csv.js#L71), I realized that there is only a `_options` key in it and no `$options` key. I think this is all due to the recent update in the packages. I guess the `pg` postgres package ? Not sure. So I chang

[2017-06-25 14:42] zhakkarn opened #151 "Campaigns not displayed in the dashboard"
The campaigns aren't loaded in the "Your campaigns" box in the dashboard.

This is another problem coming from the sequelize upgrade.
The fix might be the exact same as the issue #149

[2017-06-30 02:46] ZaynMalloc commented on #137
I'd like to work on this.

[2017-06-30 05:39] AndrewGHC commented on #137
@ZaynMalloc Please do!

[2017-06-30 05:40] karuppiah7890 commented on #137
@ZaynMalloc And if you have any issues setting up or anything, just comment here :)

[2017-06-30 09:26] AndrewGHC commented on #137
@ZaynMalloc Tomorrow when I have free time I'll write the docs for getting the dev build up, I will ping you once this is up if that sounds good?

[2017-06-30 09:38] karuppiah7890 commented on #137
@ZaynMalloc May be I can help you with this. Are you on Gitter ? Log into Gitter using your GitHub account and type "karuppiah7890" in search on the sidebar and ping me there :smile:

[2017-06-30 11:21] ZaynMalloc commented on #137
Thanks for the help. My gitter is "ZaynMalloc".

[2017-06-30 11:41] zhakkarn commented on #151
This issue was resolved by the downgrade of sequelize. #152

[2017-06-30 11:41] #151 closed

[2017-06-30 11:44] karuppiah7890 commented on #149
Solved in #152

[2017-06-30 11:44] #149 closed

[2017-06-30 13:06] zhakkarn commented on #133
I have tested it and it works fine. The calendar is quite hard to open since you have to click on the right of the box.

[2017-06-30 14:13] karuppiah7890 commented on #133
@zhakkarn ? Are you sure ? I checked even now. And calendar is quite hard to open ? what calendar ?

[2017-06-30 14:44] zhakkarn commented on #133
@karuppiah7890 The calendar I'm talking about is this one
http://imgur.com/T4iTB9U

[2017-06-30 14:46] karuppiah7890 commented on #133
Ohhhh. It isn't available on my page in Firefox. Let me check it.

[2017-06-30 14:46] karuppiah7890 commented on #133
Looks like that's the problem. I have been simply copy pasting the complete date time shown in the table to the input to check it :man_facepalming:

[2017-06-30 15:26] karuppiah7890 commented on #133
@zhakkarn I tried in Chrome. It still doesn't work properly. When I choose ">" and choose a date, it considers it as ">=" and shows the results

[2017-07-01 07:34] ZaynMalloc opened #153 "PostgreSQL Error When Running docker-compose up"
I cloned the repo, but I cannot get the application to run properly. I can connect to the login page, but authentication fails when you click the sign in button. I ran `sudo docker-compose up`. However, I get this error.

[code]

[2017-07-03 12:32] zhakkarn commented on #153
Did you authorize "http://localhost:8080/auth/google/callbackDid" to be a fallback uri in your google dashboard ?
also, did you put your Google+ API keys in your .env file ?

[2017-07-03 13:01] zhakkarn commented on #153
I'm facing the same problems.
Alright, you can ignore my questions.
I should have tested before commenting on this issue.
I'll take my afternoon to look at this. If you happen to be available today or tomorrow I'll be ablet to spend an hour or two to get you up and running.

[2017-07-04 05:37] ZaynMalloc commented on #153
Thank you!

[2017-07-04 05:54] karuppiah7890 commented on #153
@zhakkarn Do you know which commit @AndrewGHC published to Docker Hub ?

[2017-07-04 06:49] ZaynMalloc opened #154 "Development Setup Issue"
I get SequelizeDatabaseError when I run npm run dev and npm run start.

[code]
[code]

[2017-07-04 11:38] zhakkarn commented on #153
@karuppiah7890 as far as I know, @4iar handled the docker part of the project.

[2017-07-04 12:04] 4iar commented on #153
@karuppiah7890 the Docker images are automatically built using the latest commits.

Might this be related to PR #152? This fix has not yet been merged into master so the latest Docker image uses the newer broken Sequelize version (4.x.x).

Maybe you could try running the staging Docker image (which uses the older Sequelize) by editing [docker-compose.yml](https://github.com/freeCodeCamp/Mail-for-G

[2017-07-04 12:12] karuppiah7890 commented on #153
Yes, I think we should keep the master branch stable first of all. That's why we have a master and a staging. So, let's merge #152 to master first. And then get the latest docker image built from master branch and upload it to Docker Hub

[2017-07-08 22:39] AndrewGHC commented on #154
Hey - I've fixed this (I believe). If it doesn't work (using the version I'll soon push), please let me know. Should this happen, go to /server/models/index.js and change line 37 to force: true. Start the app, then change force back to false. I'm working on a better solution to this.

[2017-07-08 22:40] AndrewGHC commented on #153
I have fixed this locally. Shall push changes shortly.

[2017-07-08 22:40] #153 closed

[2017-07-08 22:41] AndrewGHC commented on #145
[Done](https://github.com/freeCodeCamp/Mail-for-Good/wiki/Setup-for-development)

[2017-07-08 22:41] #145 closed

[2017-07-08 22:50] AndrewGHC commented on #137
@ZaynMalloc Could you confirm the status of this one?

[2017-07-09 01:37] #154 closed

[2017-07-09 01:38] #139 closed

[2017-07-09 08:31] ZaynMalloc commented on #137
I just submitted a pull request

[2017-07-13 00:20] AndrewGHC commented on #113
@arcdev1 Thanks again for this - this one has been fixed.

[2017-07-13 00:20] #113 closed

[2017-07-13 00:21] AndrewGHC commented on #141
@zhakkarn Could you confirm if this one was fixed in the last PR?

[2017-07-13 00:21] AndrewGHC commented on #137
@ZaynMalloc Thanks again

[2017-07-13 00:21] #137 closed

[2017-07-13 00:38] AndrewGHC opened #159 "Implementation of AWS SNS Queue causes an error when updating settings."
Updating any of the following fields (after settings have first been set) causes an issue with SNS.

        accessKey: settings.amazonSimpleEmailServiceAccessKey,
        secretKey: settings.amazonSimpleEmailServiceSecretKey,
        region: settings.region,
        email: settings.email

Settings are still updated, but we should delete or update the old queue first to ensure this isn't thrown.

[2017-07-13 01:33] zhakkarn commented on #141
@AndrewGHC, the last PR only addressed #137

[2017-07-13 04:14] AndrewGHC commented on #121
Fixed - thanks @karuppiah7890 (your points here were very helpful while debugging) and @CarlJKashnier.

The app no longer deletes plaintext if html is selected, and vice versa. Instead, it tracks state for both and selectively sends whichever was used to the server. This means it's possible to flip back and forth between plaintext/html without losing your work.

[2017-07-13 04:14] #121 closed

[2017-07-13 04:38] AndrewGHC commented on #111
Cheers guys - this is done

[2017-07-13 04:38] #111 closed

[2017-07-14 01:51] AndrewGHC commented on #127
https://github.com/freeCodeCamp/mail-for-good/commit/453e774e12a5d85e3933d65b5d925af8481e30c6

[2017-07-14 01:51] #127 closed

[2017-07-14 17:33] AlienFX opened #161 "Feature to choose SMTP SERVER instead of AWS"
Hey there,
Your work looks pretty awesome but why is it required to use it only with AWS ?!
Is it possible for you to add a setting to use with another smtp server ?
Thank you so much in advance :)

[2017-07-14 17:36] karuppiah7890 commented on #161
I think this might be considered. But for now, the whole tool is modeled around AWS services like SNS, SQS, and SES.

If you ask why ? It's all because SES is dirt cheap. Like, 10,000 mails for $1 is quite cheap. That's why it's all modeled around SES

[2017-07-14 17:40] AlienFX commented on #161
Yes you right it's cheap but the rules of AWS are really stricts with high volumes.
That's why it's good to manage his own smtp server.

Thank you for your answer, hope it's possible in the futur to have this possibility because the client looks very good :)

[2017-07-14 17:47] karuppiah7890 commented on #161
@AlienFX Yes, I have seen some people trying to use it for high volumes. But AWS is only strict about spams and stuff. You can always justify your reason and ask for a limit increase (emails/day) and send rate (emails/second) increase if all your mails are sent to people who are wanting to receive mails - that is subscribed users or known customers in case of transactional mails or something. In a

[2017-07-14 17:51] AlienFX commented on #161
I totally agree with you, but sadly people who registered to your list/service are the same who are reporting you at spam too (ofc not all of them but on high volume it's mean a lot). That's why it's most easier to manage his own smtp server and IPs. Thanks for your time

[2017-07-14 17:56] karuppiah7890 commented on #161
Mail for Good provides a feature to put an Unsubscribe link in the mails so that users can unsubscribe with just a click

[2017-07-14 17:58] AlienFX commented on #161
Yes but people are lazy and sometime prefer to click on the spam button of their client instead of the unsubscribe link... It's a real issue.
I already saw the README and looks so impressive. I really want to use it :))

[2017-07-14 18:00] karuppiah7890 commented on #161
Okay..
And oh, nice. Actually, you can test it using SES with AWS Free Tier

[2017-07-14 18:02] AlienFX commented on #161
@karuppiah7890 I sent you an email :)

[2017-07-14 18:14] karuppiah7890 commented on #161
Yes, I just read it

[2017-07-15 03:19] AndrewGHC opened #162 "Manage deployment with Now"

[2017-07-16 03:28] karuppiah7890 commented on #153
I am still getting these errors. The `docker-compose up` command doesn't start the app and throws some settings doesn't exist error. I don't get the `DB connected` message also. The same happens with the staging image too. Are the changes pushed ? I do see that the last push was 4 days ago,
cc @AndrewGHC @4iar

[2017-07-16 04:09] karuppiah7890 opened #163 "docker-compose up throws errors and app doesn't start"
This looks similar to #153 . But the logs aren't exactly the same.

Here's the log :
[code]

And the app doesn't start, as in, I am not able to `http://127.0.0.1:8080`

[2017-07-16 04:20] karuppiah7890 opened #164 "check-env-file npm script assumes Python 2 is installed"
We need to mention that Python 2 must be installed in the setup guide. Also, I had Python 3, so I got an error saying `raw_input` is not defined. I don't know Python, but on searching I found out that the Python 3 equivalent is something different - `input()` and `raw_input()` doesn't work in Python 3.

We must find a solution or work around for this, or I would say - just use NodeJs to do this ch

[2017-07-16 04:31] karuppiah7890 opened #165 "Maintain a stable version of the app in a separate branch and have stable tag in Docker Hub"
I keep seeing so many issues in the App's development code and the Docker Hub `latest` and `staging` images. I think we could have a separate branch where we maintain a stable version and test it if it all works fine and push that image with `stable` tag in docker hub

[2017-07-16 04:40] karuppiah7890 opened #166 "Development setup not working"
The development setup is not working for me. This is the log I get for the production environment script :

Log :
[code]

[2017-07-16 04:41] karuppiah7890 commented on #166
@zhakkarn @ZaynMalloc Is it working for you guys ? I tried in `staging` and even in `master` branch. Both of them don't work for me

[2017-07-16 07:21] karuppiah7890 commented on #166
Okay, looks like there have been some changes in the `package.json` file and I removed the `node_modules` folder and did a clean `npm install`

But even now, the `start` script doesn't work and also, the `dev` script did start the app but says URL not found for `/login` and other URLs too

[2017-07-16 07:26] karuppiah7890 opened #167 "socket.io-client npm module missing in package.json file"
When I executed the `dev` script's command, I got an error for webpack building, and it said that it wasn't able to resolve `socket.io-client`, as in not able to find the module

Log :
[code]

[2017-07-16 10:09] AndrewGHC commented on #164
Thanks @karuppiah7890.

Python 2 should always be available on any unix-based machine. I will look into replacing raw_input with something cross-compatible with both 2 and 3, it's been a while since I last used python.

I threw it out pretty quickly to ensure users had the right setup installed. I don't want to invest time in making it much more complex, the point is just to create a .env file if

[2017-07-16 10:14] AndrewGHC commented on #165
This is definitely required, we shouldn't be using the latest version of Redis and Postgres. I will change this tonight.

[2017-07-16 10:17] karuppiah7890 commented on #164
@AndrewGHC  Okay.. and I think the script doesn't check the existence of the `.env` file properly. I get asked to type the environment variable values even if my `.env` is always present. I don't why this `if` condition

[code]

is not working properly

[2017-07-16 10:17] AndrewGHC commented on #166
Can you let me know your Node version?

[2017-07-16 10:18] karuppiah7890 commented on #166
I bumped it up to `8.1.3` and did a clean `npm install`

[2017-07-16 10:20] karuppiah7890 commented on #165
:+1:

[2017-07-16 10:22] karuppiah7890 commented on #165
And we need to test the working of the stable branch in both production (docker images especially) and development environment and keep it clean

[2017-07-16 10:24] AndrewGHC commented on #166
Can you paste the error when you run 'npm run dev'?

[2017-07-16 10:26] karuppiah7890 commented on #166
It doesn't show any errors in the console, or I would paste it here. It only showed in the browser that the page is not found. No error or any other log in the console

[2017-07-16 10:38] AndrewGHC commented on #166
I'm not able to reproduce this - I've used both Docker and npm run dev. @zhakkarn have you encountered anything like this?

[2017-07-16 10:39] AndrewGHC commented on #167
Seems this issue was reported here, but I can't reproduce it https://github.com/socketio/socket.io/issues/2801

However we're using the right syntax as below and I'm not able to reproduce it. I will have another look shortly.

https://github.com/socketio/socket.io/blob/master/examples/webpack-build/lib/index.js

[2017-07-16 10:42] AndrewGHC commented on #166
I've changed the 'npm start' script as it shouldn't really use a process manager.

Double check you're running both redis & postgresql as services. Alternatively, docker-compose will handle this for you.

[2017-07-16 10:53] karuppiah7890 commented on #167
@AndrewGHC Everything works fine if we install the npm module and save it in the `package.json` too, and in the above examples also, I see that the module is installed and saved in the `package.json`
 file here : https://github.com/socketio/socket.io/blob/master/examples/webpack-build/package.json

I think it works for you because it's installed, just not present in your `package.json` may be ? Tr

[2017-07-16 10:56] karuppiah7890 commented on #166
Yes, I double checked. The thing is, I don't get any errors too.

The thing is, I recently dropped my database to reproduce an issue in the repo for development setup. The issue was relating to an error about a relation not existing. That's the only thing I did. I did it again now and created a new database for the app, but still same behavior. You have to drop your database and create a new one t

[2017-07-16 10:58] karuppiah7890 commented on #166
Also, for the "relation doesn't exist" error, if I run `dev` script first and then the `start` script, I get rid of those errors. This happened last time too

[2017-07-16 10:58] karuppiah7890 commented on #166
But last time, the app worked and served pages and did stuff. It doesn't work this time though

[2017-07-16 13:23] AndrewGHC commented on #166
Thanks @karuppiah7890 - I've confirmed this bux and am working on a fix.

It is related to newer versions of npm.

[2017-07-16 15:29] AndrewGHC commented on #166
This was related to #https://github.com/npm/npm/issues/17708, the nested node_modules folder in socket.io-client was not being handled by NPM v5.0 correctly.

I think it's something to do with the lockfile, but it's all very unclear. By some manner of magic, I think this is now fixed.

[2017-07-16 15:39] AndrewGHC commented on #165
I've set this up - but there a few things I need to knock out before release. From now on we'll build the app from this branch. Thanks @karuppiah7890.

https://github.com/freeCodeCamp/mail-for-good/tree/stable

[2017-07-16 15:40] #165 closed

[2017-07-16 15:44] AndrewGHC commented on #161
Hi @AlienFX,

It would be fully possible to use other SMTP services, but each addition would require a hefty amount of client and server side code to accommodate them. A modular SMTP lib could be used, with the configuration of each SMTP relay plugged in prior to a campaign send.

We're using AWS' API as HTTP is quite a bit faster that SMTP. An SMTP approach would therefore first need to be config

[2017-07-16 15:46] AndrewGHC commented on #164
I've removed the forced python check from the app - I think I was a bit hasty throwing it in there. Can come back to this later.

[2017-07-16 15:46] #164 closed

[2017-07-16 16:01] #161 closed

[2017-07-16 16:49] karuppiah7890 commented on #166
@AndrewGHC Uh, I don't get you exactly. I will check more about the npm bug and about the exporting you just mentioned. I thought having the `socket.io-client` module explicitly was the only way to get it to work.

And by the way, I think you mixed up #167 and this ( #166 ) issue and closed it without talking much about this issue

[2017-07-16 18:07] AndrewGHC commented on #166
The `socket.io-client` module is included with the `socket.io` library. It is nested within this module's node_modules directory.

I did mix it up a bit with this issue. This one is also now fixed.

Please try out the latest staging branch and let me know if https://github.com/freeCodeCamp/mail-for-good/issues/167 persists.

[2017-07-16 18:08] karuppiah7890 commented on #167
Looks like there are a lot of issues with npm. I am not able to run the current version with `npm-run-all` not found, and the module is not present in the node_modules folder. Same for `webpack`. This happened after I tried a clean `npm install`. The development dependencies weren't installed properly. Some weird behavior

[2017-07-16 18:10] karuppiah7890 commented on #166
@AndrewGHC Yes, I did see that in the socket.io repo issue you referred and checked it in my node_modules folder inside socket.io module. But I didn't know about exporting and stuff though.

And yes, I just tried it out. Still some issues due to unavailability of development dependencies. Some weird npm issues. I mentioned it even in #167 too

[2017-07-16 18:12] karuppiah7890 commented on #166
npm ain't installing the development dependencies

[2017-07-16 19:29] AndrewGHC commented on #159
This was because one of the attributes of my own SQS queue was different to recent values. It should work fine.

[2017-07-16 19:29] #159 closed

[2017-07-16 22:05] AndrewGHC commented on #167
I was not able to reproduce this:

Node = 8.1.4
NPM = 5.0.3

Steps:
Cloned the repo
Copied over a working .env file
Npm install
Nom build
Npm start

[2017-07-16 22:06] AndrewGHC commented on #163
Looking into this, seems the project at Docker Hub is not updating https://hub.docker.com/r/freecodecamp/mail-for-good/.

[2017-07-17 06:26] karuppiah7890 commented on #163
@AndrewGHC Oh

[2017-07-17 06:28] karuppiah7890 commented on #167
@AndrewGHC Ah. Looks like I shouldn't update npm to the latest version always. Gotta find the stable ones. I am using `5.3.0` after `5.2.0` wasn't helping

[2017-07-17 15:23] karuppiah7890 opened #169 "Use docker for development"
I think this can avoid a lot of issues like "it works on my machine" and it will also make it strict to use a particular version of node and npm for development. Here's a video I checked out which can help tell about what changes to make, including some front end related things (like Webpack config etc) which I don't know much about

https://www.youtube.com/watch?v=zcSbOl8DYXM

[2017-07-19 12:04] karuppiah7890 opened #170 "Create a Website for Mail for Good based on GitHub pages"
In this website, we can mention the features of Mail for Good Beta and also put up more screen shots of the web app

[2017-07-19 12:06] karuppiah7890 opened #171 "Create a Patreon or Gratipay page for Mail for Good ?"
We can send all the donations we get to FreeCodeCamp directly

[2017-07-19 12:07] karuppiah7890 commented on #171
@QuincyLarson and @AndrewGHC  your thoughts ?

[2017-07-19 12:09] karuppiah7890 commented on #167
@AndrewGHC I think we should just stick to npm `v5.0.3` and check things or find some other version which is stable and test things, because now it works for me. Even #166 bug doesn't pop up

[2017-07-19 18:37] QuincyLarson commented on #171
@karuppiah7890 We could add a link to the donate page, though I don't think this is super high priority at this point.

[2017-07-19 18:37] #171 closed

[2017-07-19 18:38] karuppiah7890 commented on #171
Ah, okay. True :+1:

[2017-07-23 08:20] ashish-y opened #172 "Error while running docker-compose up(installation steps)"
After installing Docker and doing the necessary steps
when I run `docker-compose up`
Getting this error message:
 `manifest for freecodecamp/mail-for-good:stable not found`

[2017-07-23 08:23] karuppiah7890 commented on #172
Umm, currently the stable tag is not uploaded, sorry about that. And thanks for reporting.

For now, you can change the line 6 in docker-compose.yml and change the tag to `latest`. It should look like this :

[code]

[2017-07-23 08:25] karuppiah7890 commented on #172
And I am not sure if the `latest` tag works. We found some issues in the Docker images and kind of concluded that they aren't getting updated. But please do try it. For any issues, you can comment here or mail me and I can provide support

[2017-07-23 11:28] AndrewGHC commented on #172
As far as we can tell, this is a bug with Docker Hub. The repo below should automatically update, but it has not done so for two weeks.

https://hub.docker.com/r/freecodecamp/mail-for-good/

We've reported it to Docker, who have said they're looking into it. We won't be able to make any progress on this one until we hear back.

[2017-07-23 19:30] ashish-y commented on #172
@karuppiah7890 `latest` resolved that issue but now I'm getting a postgres error
`postgres_1  | ERROR:  relation "settings" does not exist at character 204
postgres_1  | STATEMENT:  SELECT "id", "amazonSimpleEmailServiceAccessKey", "amazonSimpleEmailServiceSecretKeyEncrypted"
, "amazonSimpleQueueServiceUrl", "region", "whiteLabelUrl", "email", "createdAt", "updatedAt", "userId" FROM "settings"
AS

[2017-07-24 05:45] karuppiah7890 commented on #172
Like @AndrewGHC mentioned, there are some problems in the freecodecamp Docker Hub repository due to issues on Docker Hub side, so the Docker images aren't updated. You can try a version that I uploaded recently for using in a server (but it's not the latest), by changing line 6 to

[code]

[2017-07-25 04:01] ZackWard commented on #141
I would be happy to help with this.

[2017-07-25 20:43] ZackWard commented on #166
I just cloned the repo to try to make a contribution, and am running into the same issue. The server will start and serve pages, but I cannot logout/login, and the current user is "undefined." Also, adding a list seems to be broken.

Ubuntu 16.04
Node 8.1.3
NPM 5.0.3

[2017-07-26 03:57] karuppiah7890 commented on #141
@ZackWard Awesome! Go ahead! You can ask help over here by commenting if you run into something!

[2017-07-26 04:26] karuppiah7890 commented on #166
@ZackWard Yes, sorry about that. The issue is regarding some login/logout thing in the dev mode, from what I see (I just tried it out too). I just found a workaround for you to start developing. First run the application in production mode like this :

[code]

And then use the application in the browser and login. After this, don't logout. Now stop the `npm start` process with `Cmd/Ctrl + C` and t

[2017-07-28 15:45] ZackWard opened #174 "Deleting a list generates a warning"
When deleting a list, the following warning is generated by the server:

(node:31979) Warning: a promise was created in a handler at /xxx/mail-for-good/server/controllers/list/delete-lists.js:18:20 but was not returned from it, see [http://goo.gl/rRqMUw](http://goo.gl/rRqMUw)
    at Function.Promise.attempt.Promise.try (/xxx/mail-for-good/node_modules/bluebird/js/release/method.js:29:9)

[2017-07-28 15:55] ZackWard opened #176 "Small typo in template deletion prompt"
In researching #141, I found a small typo in the prompt to confirm template deletion. PR incoming.

![image](https://user-images.githubusercontent.com/3154622/28725490-d24285c0-737a-11e7-8dd6-cff5e5459e60.png)

[2017-07-28 21:16] hsribei commented on #172
@karuppiah7890 I followed your instruction, then ran `sudo docker-compose up` and everything was successful up to a point.

The server booted up, I went to `http://localhost:8000`, clicked "Sign in with Google", picked an account, then got `Internal Server Error`.

This is what the logs show:

[code]

Any idea what I'm doing wrong?

Thanks a lot!

[2017-07-28 21:43] hsribei commented on #172
Not sure if it's related, but at first I didn't set a `PSQL_USERNAME`, `PSQL_PASSWORD`, and `PSQL_DATABASE` in the `.env` file and the `docker-compose up` showed this:

[code]

Then I changed the `.env` to set values to those variables, did a `docker-compose rm`, then `docker-compose up` again, and still got the same warning.

Maybe there's something wrong with establishing a database connection a

[2017-07-28 21:50] AndrewGHC commented on #172
@hsribei I wouldn't be able to advise until Docker get back to us. I've spoken with @QuincyLarson about this and might be able to build this manually if I can get permissions to the Hub repo. We're haven't heard back from the Docker team yet. The problem is simply that there was a bit of a frenzy in terms of updating and changing various bits of the app. I'm a fan of @karuppiah7890's suggestion to

[2017-07-28 21:55] AndrewGHC commented on #176
Thanks for the PR - this has been merged

[2017-07-28 21:55] #176 closed

[2017-07-28 21:57] AndrewGHC commented on #170
This is a great idea, I don't suppose you'd have time to implement a basic skeleton? Ideally it would be something based on static pages, particularly if there's a way to use a static site generator. Anything basic and quick to implement that's also easy to edit/update would be ideal.

[2017-07-28 21:59] AndrewGHC commented on #166
@ZackWard The new version of NPM threw a bit of a wrench into the works, a few issues appear to have emerged. Next week I'll do another fresh install on an Ubuntu VM to debug this.

[2017-07-28 22:03] AndrewGHC commented on #167
I'm going to close this one as if this issue is related to the NPM problems discussed elsewhere. The socket.io-client package is not itself missing, as it is part of the socket.io library. This issue emerged when the package was incorrectly handled by NPM, causing it to skip the package in question.

It might be that we need to ensure that we use an NPM version that has addressed this issue. As pa

[2017-07-28 22:03] #167 closed

[2017-07-29 05:44] karuppiah7890 commented on #166
Or try it in a Ubuntu Docker container :)

[2017-07-29 06:56] karuppiah7890 commented on #172
@hsribei Are you using my Docker image ? I just tried the whole thing with my Docker image, and it does work. The Postgresql is not really creating issues. I think it's your Google API keys configuration that's creating issues. And even I get a "relation doesn't exist" error, but then the application works. I believe sequelize creates the relation later. The `Internal Server Error` that you got, i

[2017-07-29 07:24] Dhiana1 commented on #170
I can make the "basic skeleton" for you (Mail for good). Do you like WordPress? Or want Bootstrap? Let me know. Also, let me know where I can find your content/ presentations for the "Mail for good" project - so I can use them to populate the site. I suppose you already have the domain... :) Thank you! :)

[2017-07-29 07:37] karuppiah7890 commented on #170
@Dhiana1 We can use Bootstrap or Site generators like @AndrewGHC mentioned. It should just be a static website. The ideal thing would be to use `gh-pages` branch to upload the static site using (GitHub Pages)[https://pages.github.com/] if you are gonna use Bootstrap or see how to use the Jekyll themes provided by GitHub pages. And for domain, it will get a default domain from GitHub - `https://fre

[2017-07-29 09:18] karuppiah7890 commented on #172
@ashish-y Does it work for you now ?

[2017-07-29 09:19] Dhiana1 commented on #170
Ok. GitHub Pages is also ok. Talk to you soon.

[2017-07-29 09:32] karuppiah7890 commented on #170
@Dhiana1 :+1: :smile: And for content, you can use the [README](https://github.com/freeCodeCamp/mail-for-good/blob/master/README.md) file. It tells about the features and also about how to contribute code to the software, since it's an OSS. For now, just start with mentioning the features and put a nice sign to mention that it's in Beta and that people are welcome to use it and give feedback and s

[2017-07-29 09:33] karuppiah7890 commented on #170
If you have any doubts, you can comment here and we can discuss it out along with Andrew. cc @AndrewGHC

[2017-07-29 10:00] ashish-y commented on #172
Oh sorry, I was trying to comment using my phone and clicked on "close issue" by mistake.
@karuppiah7890 yes! I'm using your docker image file, and it does work. Haven't faced any issues.

[2017-07-29 12:56] hsribei commented on #172
@karuppiah7890 I found the error! I had set up the Google+ API on Google API Manager, but after setting it up it remained disabled. I enabled it, then things worked :)

Now on to setting up Amazon SES.

[2017-07-29 13:02] hsribei commented on #162
(Assuming this is about Zeit Now.) Is it/will it be possible to deploy to the Now's free tier?

I see that they support Dockerfile deployment, but not sure if Docker compose qualifies, as there are three separate images (sorry if this doesn't make sense, I'm still unfamiliar with docker).

[2017-07-29 13:05] hsribei commented on #162
I guess [this is the answer](https://github.com/freeCodeCamp/mail-for-good/issues/116#issuecomment-306658655) I was looking for:

I'm curious what is the plan towards Now signaled by this issue then. Thanks!

[2017-07-29 13:07] hsribei opened #181 "Free hosting/deployment"
Does anybody know of a hosting option where MfG would qualify for a (non time-limited) free tier? Not only the app server, but all dependencies like Redis and Postgres. Thanks!

[2017-07-29 13:17] hsribei opened #182 "Embeddable email capture form"
How does a user opt in to a List? Is there an embeddable form or URL I can point them to after deploying? Or is a CSV import the only way at the moment? Thanks!

[2017-07-29 13:48] hsribei opened #183 "Comparison with similar open source tools"
I'm sure questions of the type "Why not X?" are bound to come up when people are researching Mail for Good and alternatives, so let me begin.

Are there any alternatives that freeCodeCamp considered or tested before settling on building its own solution?

One tool I'm not familiar with but that seems to overlap with MfG is [Mautic](https://www.mautic.org), which is also open source. Was there a re

[2017-07-29 13:49] karuppiah7890 commented on #182
@hsribei There's an embeddable form. You can find it on the manage lists section, for each list there's an option to check the signup form and the subscribers of the list

[2017-07-29 13:57] hsribei commented on #182
@karuppiah7890 I didn't get to this part because I couldn't create a list in the first place. It seems like the only way to create one is to import a CSV file. When going to Create List I only see the field for List name and the Import button. There doesn't seem to be a way to submit the form without importing one. Is this something I'm doing wrong or should I add it as a feature request issue?

I

[2017-07-29 14:00] karuppiah7890 commented on #181
It's not that easy to get hosting for free. Only some of them provide free hosting for the backend stuff and only some out of them support Docker. In short, they are Zeit Now and Heroku. A long answer is below.

1. Zeit Now. I know you already checked that they don't support docker compose but you could may be find a work around and run three separate containers, but you need to provide strong pas

[2017-07-29 14:02] karuppiah7890 commented on #182
@hsribei Ah, well, you could import a CSV with just one subscriber (may be dummy like you said, or yourself - your email ID) at least, because I doubt if a CSV with just the column headers and no other data will be accepted by the server.

[2017-07-29 14:04] hsribei opened #184 "Allow creating empty list without a CSV file import"
Feature request.

[2017-07-29 14:06] karuppiah7890 commented on #184
I am not sure if this will be taken up, because we don't want the user to simply create empty lists because it's more like a mess if nothing is added to it later.

[2017-07-29 14:07] hsribei commented on #182
Yes, it worked with the dummy CSV. Just created a file with

[code]
Created an issue #184 for allowing empty lists to be created.

Thanks!

[2017-07-29 14:07] #182 closed

[2017-07-29 14:13] hsribei commented on #184
The user has to be able to start from somewhere if they don't already have a list on some other service. For FCC the use case was migrating from Mailchimp (or some other email service). But for some users it will be starting a new list from scratch (like me).

If they're just starting their list, there won't be a CSV file to import (like it is my case). Requiring a dummy one is confusing and unnec

[2017-07-29 14:25] karuppiah7890 commented on #184
@hsribei I agree that you need to create an empty list when you don't have any subscribers, but the thing is, there's also a technical catch to it which I just thought about. When you create a list, you need to say what data (fields) you are going to store about the subscriber other than the Email ID. Those custom fields (eg. Name, City etc ) can be used in the Email Templates to customize and mak

[2017-07-29 14:42] karuppiah7890 commented on #183
@hsribei I have actually heard about Mautic. It's more like a solution for automated marketing, which has Email marketing as one of it's features. I also saw that we can use any Email service (including SES) for the [Email Campaign in Mautic](https://mautic.org/docs/en/emails/index.html#email-delivery).

I think Mail for Good is just a Email Campaign management tool, which uses SES alone for now.

[2017-07-30 09:52] Dhiana1 commented on #170
guys,
I still try to understand this github pages generator

until than...
I made a little treat for the project:

![mailforgood](https://user-images.githubusercontent.com/26485860/28752349-52d87cde-7525-11e7-8d04-cfa7dfdf026a.png)

I hope you like it! :)

[2017-07-31 05:52] karuppiah7890 commented on #170
@Dhiana1 If you need any help, you can ask :) and the art is pretty good!

[2017-08-23 21:23] #141 closed

[2017-08-23 21:23] #174 closed

[2017-08-27 14:38] stanleyyylau opened #188 "Google Plus Callback Gives Me Internal Server Error"
So I use follow the README file to set up Mail For Good. I create google + OAuth client ID Credentials and fill it in the .env file. I didn't enter PSQL related credentials. only GOOGLE_CONSUMER_KEY, GOOGLE_CONSUMER_SECRET and GOOGLE_CALLBACK. And I run docker-composer up... the app was successfully accessible via localhost:8080. But when I click login with google +,  it gave me 'Internal Server E

[2017-08-27 15:30] zhakkarn commented on #188
Hey,
Thank you for reaching out.
If your end goal is to contribute or examine the code I recommend you follow the [developer setup guide](https://github.com/freeCodeCamp/Mail-for-Good/wiki/Setup-for-development).
Anyway, I'll take some time to look into this issue. So far I managed to reproduce it. I'll keep you up to date.

[2017-08-27 15:56] karuppiah7890 commented on #188
@stanleyyylau Can you screenshot the webpage ? And also, it's an Internal Server Error from Google ? If yes, then there's usually a link to click to know more details about the error, do click on it and then screenshot it :)

[2017-08-27 16:15] stanleyyylau commented on #188
@karuppiah7890  Hi, thanks for your reply. I think this error is caused by the codebase, I didnt see any errors on google api console. page, here's a screenshot

![](https://ws3.sinaimg.cn/large/006tKfTcgy1fiyqjcmsx7j31f20iqacw.jpg)

my .env file is as below

![](https://ws1.sinaimg.cn/large/006tKfTcgy1fiyqk2yv8zj31hy0y2gx6.jpg)

here's the error output by console

![](https://ws3.sinaimg.cn/large

[2017-08-27 16:18] karuppiah7890 commented on #188
@stanleyyylau Thanks for the screen shots. :) I will look into too I guess. @zhakkarn Have you found the problem already ?

[2017-08-27 16:23] zhakkarn commented on #188
@karuppiah7890 Not yet and unfortunately I won't be able to work on it for the next 4hours.

@stanleyyylau, just a guess, did you try to assign 'http://localhost:8080/auth/google/callback' to the GOOGLE_CALLBACK in your env?
Also, can I see what you did put in the google console when you retrieved your id and secret (I mostly want to see if the redirections are set properly, just in case)

[2017-08-27 16:34] stanleyyylau commented on #188
@zhakkarn Thanks for getting back to me,  I tried it with and without the callback link, neither one is working.

Here is the google console info

![](https://ws3.sinaimg.cn/large/006tKfTcgy1fiyr12p7e6j31kw0tfagd.jpg)

I just start a ubuntu machine with docker, I will try the developer setup guide also to see if this will solve the issue.

[2017-08-27 17:46] karuppiah7890 commented on #188
@stanleyyylau I am not able to reproduce the error. And I have set the GOOGLE_CALLBACK environment variable in `.env` file

[2017-08-27 17:49] AndrewGHC commented on #188
Hi @stanleyyylau,

Can you add:

GOOGLE_CALLBACK=http://localhost:8080/auth/google/callback

To your .env on line 11 in your screenshot and let us know the result?

[2017-08-27 23:58] stanleyyylau commented on #188
Hi @AndrewGHC  @karuppiah7890 I try again with the GOOGLE_CALLBACK url on the .env file, but still don't work. but google still returns me error.

![](https://ws4.sinaimg.cn/large/006tKfTcgy1fiz3wwgm3dj31j80biwju.jpg)

I checked the ./server/secrets.js file, looks like GOOGLE_CALLBACK is automatically set to  http://localhost:8080/auth/google/callback if no value is specified in the .env file

![]

[2017-08-29 05:11] karuppiah7890 commented on #188
If you still have issues, screenshot the Google Error and let us know :)

[2017-08-30 01:25] stanleyyylau commented on #188
@karuppiah7890    thanks for your reply, I still can't make it work. the app only gives the msg of ' internal service error'. with no link to google error page. 　I did some googling but still can't figure out if it's possible to check authentication logs directly on google console page.  highly appreciate if you can give me some guidance

[2017-08-30 05:14] karuppiah7890 commented on #188
@stanleyyylau I don't get you. Are you getting a Google Internal Server Error page ? Or a page like the low ?
![image](https://user-images.githubusercontent.com/12808424/29856367-05d781f6-8d70-11e7-8f65-8af7ee5e6f7a.png)

[2017-08-30 05:16] karuppiah7890 commented on #188
@stanleyyylau Screenshot what you get currently. And when did you get the Docker Image for the application ? Like, when did you run `docker-compose` command for the first time for Mail for Good?

[2017-08-31 01:16] stanleyyylau commented on #188
@karuppiah7890 Thanks for getting back to me , no I still cant get it work even after I reapply for another google API following the README.md file

the error msg I got is below
![](https://user-images.githubusercontent.com/12808424/29856367-05d781f6-8d70-11e7-8f65-8af7ee5e6f7a.png)

Here's what docker console output
![](https://ws4.sinaimg.cn/large/006tNc79gy1fj2mx2cyn8j31kw0uady8.jpg)

![](https

[2017-08-31 05:05] karuppiah7890 commented on #188
@stanleyyylau You just plan to run Mail for Good right ? I can check what's the issue if you have TeamViewer. My timezone is UTC+05:30, ping me in gitter.im @karuppiah7890

[2017-08-31 05:21] stanleyyylau commented on #188
hi @karuppiah7890  thanks for your help. my timezone is https://www.timeanddate.com/worldclock/china/beijing    so there isnt much time difference. I wonder if tonight around 10 is ok for you. thanks in advanced

[2017-08-31 05:24] karuppiah7890 commented on #188
That's too late. And 10 PM for you or me ? And I think it's better to switch over to gitter.im
And something in the evening (for me) should be good.

[2017-08-31 05:52] stanleyyylau commented on #188
@karuppiah7890   I just send you a message on gitter.im,  evening is also ok for me, anytime that's better for u,  I can wait for you, no problem, appreciate your help( by the way I thought we only have like around 30 mins time difference)

[2017-08-31 06:18] karuppiah7890 commented on #188
No, I think it's 2.5 hrs difference, from what I see in the link you gave me

[2017-08-31 17:45] karuppiah7890 commented on #188
@AndrewGHC It was a proxy issue. The application wasn't able to connect to Google to do the OAuth stuff (getting tokens etc) but the user was able to see the Google accounts screen as browser had proxy settings and that was shown as passport redirected the user to that page, but after the authorization, when it redirected to `http://localhost:8080/auth/google/callback` , the application was not ab

[2017-08-31 17:49] karuppiah7890 commented on #188
@AndrewGHC Next time, we need to make sure that people don't use proxies in their PCs while debugging such issues, and hopefully, no one uses proxies in their servers.

[2017-08-31 20:17] zhakkarn commented on #188
@karuppiah7890 I got some other error.

[2017-09-02 14:13] AndrewGHC commented on #188
@karuppiah7890 Great investigation there and thanks for the report. So the issue was that the user's browser had a proxy to allow access to Google, but the system itself did not (meaning that the app could not connect to Google)?

Thanks for your help with this.

[2017-09-02 14:13] #188 closed

[2017-09-02 14:16] AndrewGHC commented on #181
@karuppiah7890 Wrapped this up very well. Zeit only offers a way to deploy applications to remote servers in a simple manner, but it doesn't provide hosting. Heroku is a potential option however, the question is one of complexity in terms of setup & the reliability and computational power they can offer.

[2017-09-02 14:16] #181 closed

[2017-09-02 14:17] AndrewGHC commented on #162
I was looking into ways to simplify deployment of this application. However I don't think that we can simplify the process with Zeit, there's no way of circumventing complexity with it. At some point people do need to get their hands dirty with configuration and setting up a server.

[2017-09-02 14:17] #162 closed

[2017-09-02 14:32] karuppiah7890 commented on #188
@AndrewGHC Yes, you are right. :)

[2017-09-02 14:34] karuppiah7890 commented on #162
That is quite true. But if we still need to support easy installs, we can look at some docker based servces, which provide environments to install stuff and we can try to bring all the configuration to the web interface instead of hard coding it in `.env`. But this can be put to later versions

[2017-09-02 16:13] karuppiah7890 commented on #172
@AndrewGHC I think this issue can be closed, since the Docker images look fine and work well.

[2017-09-02 18:46] styfle commented on #181
@AndrewGHC Which provider did you pick?

[2017-09-06 22:58] AndrewGHC commented on #181
@styfle We're using EC2 instances on the free tier.

[2017-09-09 10:34] chiefoleka opened #189 "Email list creates but subscribers are never stored"
There seems to be a problem with the adding subscribers to the list.
Email list gets created (I can have like 1 million of them), but the subscribers never quite get added to the list. This happens using docker or local setup.

[2017-09-09 10:57] karuppiah7890 commented on #189
@chiefoleka Can you show a sample of you list including the header row ?

[2017-09-09 12:22] chiefoleka commented on #189
I tried different combinations

Then I also tried

Then also flipped this

So, the thing is that the list comes in, it sees the headers and identifies each field irrespective of the combination I use, but it doesn't store it.

[2017-09-09 12:30] karuppiah7890 commented on #189
@chiefoleka Okay, I think I know what the issue is. I have encountered it, but I forgot to create an issue for this.

How big is your list ? Try uploading a subset of your list with say 500-1000 emails.

I have encountered issues in uploading when the list was big - anything more than 2000 records (only emails). The upload didn't happen properly. It's some bug.

And the output that you see for the

[2017-09-09 12:38] chiefoleka commented on #189
@karuppiah7890
Not necessarily. I tested with a single email because I felt it was the volume, but it still didn't work.
Now, it says upload completed but records 0.
The first time I set it up, I'm not sure, but I think it uploaded just fine, and I was running it in a docker container.
But before trying to use it last night, I sort of rebased my local repo people running docker. This issue started

[2017-09-09 12:44] karuppiah7890 commented on #189
@chiefoleka Then you could just stop and remove all containers using `docker-compose down` and try again if you don't have any important data in the DB.

@AndrewGHC I think we need to work on DB backup procedure (DB container) docs for people and provide volume based storage for DB in the upcoming versions so that it's easy to upgrade to the latest version of the application. And if for any reason

[2017-09-09 12:47] chiefoleka commented on #189
@karuppiah7890
I'm not sure that would work because today, I removed all my docker containers since they are not necessarily useful yet.
But let me try and give you feedback

[2017-09-09 12:55] chiefoleka commented on #189
@karuppiah7890
if it helps, here is the error that comes up every time I drop and recreate a container
[code]

[2017-09-09 12:56] karuppiah7890 commented on #189
That's just an error when there are no users in the DB and when the App tries to run that statement to check before logging in. I see that too in a new container. @AndrewGHC I think we could handle this error this in a better manner ?

[2017-09-09 13:00] karuppiah7890 commented on #189
@chiefoleka If you still run into issues, ping me on gitter @karuppiah7890 and I will remote login to your PC through TeamViewer and see what the issue is :)

[2017-09-14 14:08] smiller171 opened #190 "Deployment too complicated"
The current application deployment process is much more complicated than necessary, involving a great deal of manual effort in the AWS console.

IMO an effort should be made to automate this process both for initial deployment and for updates with tools such as Ansible or Cloudformation. As a DevOps Engineer, I'd be happy to assist with the planning and building of this automation, and could assum

[2017-09-14 14:12] karuppiah7890 commented on #190
Thanks for your interest @smiller171  ! :) The repo welcomes all contributors and contributions!

By automate - you mean we can automate even the process of IAM user creation and giving it SQS, SNS, SES access and also get out of the SES sandbox by putting up a automated limit increase request ?

[2017-09-14 14:16] karuppiah7890 commented on #190
We also need to configure Google APIs stuff for the Google OAuth. So, we have to create a project and enable Google Plus API and have to create OAuth token and also configure the origins and redirection URLs. That can be automated too?

[2017-09-14 14:18] karuppiah7890 commented on #190
But I think, for any automation to be possible, we need programmatic access - API level access, and so, however, we have to do some configuration at least right ? Even in AWS

[2017-09-14 14:18] karuppiah7890 commented on #190
cc @AndrewGHC @4iar

[2017-09-14 14:19] karuppiah7890 commented on #189
@chiefoleka Any updates on the issue ?

[2017-09-14 14:24] chiefoleka commented on #189
Same issue I have always been having. It has not Vern fixed. Everything
works, but once I get to the point where I have add list, it doesn't work.

On Thu, Sep 14, 2017, 3:19 PM Karuppiah <notifications@github.com> wrote:

[2017-09-14 14:25] karuppiah7890 commented on #189
"Vern" ?
And have you tried getting rid of the containers and recreating them using the commands I mentioned ?

[2017-09-14 14:26] karuppiah7890 commented on #189
@chiefoleka If you are still getting issues, let me check and verify the issue through TeamViewer. Ping me on gitter.im and we can decide on a time to check the issue

[2017-09-14 14:27] karuppiah7890 commented on #189
My Gitter username is karuppiah7890 , the same as my GitHub one

[2017-09-14 14:31] chiefoleka commented on #189
We would do this later.

[2017-09-14 16:03] smiller171 commented on #190
@karuppiah7890 I'm not familiar enough with Google's Oauth to know if we can get that down to one-click automation (would have to do research) but AWS has APIs for every single thing you can do through the console, and SDKs for all common programming languages. My preferred tool for automating all of this kind of stuff is Ansible, which is an open source configuration management tool owned by RedH

[2017-09-14 16:04] smiller171 commented on #190
With the Oauth stuff, if it can't be easily automated, it's still a lot simpler if they just have to get that one thing manually and enter it as a variable to the automated tool.

[2017-09-14 18:11] karuppiah7890 commented on #190
@smiller171 I understand you want to make deployment simpler, but I think it won't be very simple even if you do all the automated stuff. Like I said, you need API keys to access the AWS SDK, which is again a set of access key and secret key http://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/getting-your-credentials.html and it is just a bit easier than what the Mail for Good (MfG) v

[2017-09-14 18:19] karuppiah7890 commented on #190
And you are going to make the complete deployment automated ? I think that's what Ansible does. Like
1. Creating an AWS EC2 instance
2. Install Docker in it
3. Get the MfG github repo or just the docker-compose.yml
4. Get all the necessary keys and put it in the .env
5. Deploy the containers using the .env

[2017-09-14 18:19] karuppiah7890 commented on #190
And some similar stuff for updating the application

[2017-09-14 20:38] smiller171 commented on #190
At a high level, the user needs to get API keys for an IAM user or run the Playbook from an EC2 instance with sufficient IAM Role permissions, and they probably have to get the Oauth API key (need to research to what degree this can be automated if at all). Everything else in AWS can be automated fairly easily. I have experience doing this for continuous delivery pipelines. Everything is idempoten

[2017-09-15 00:38] AndrewGHC commented on #190
Hi @smiller171,

Thanks for your input on this. I'm not a devops engineer and I don't have experience with automation tools such as Ansible. In the real world though I've seen the capability of these tools and would imagine that our current build process can be dramatically simplified.

I'd be very surprised if we could automate the creation of OAuth credentials, but the installation of Docker and

[2017-09-15 15:26] smiller171 commented on #190
@AndrewGHC Everything other than generating the API keys for AWS and for Google Oauth can be automated easily. I have a couple changes I would recommend while going through the process, but those are small details.

[2017-09-15 17:16] luisfmelo commented on #190
Can I be involved? I want to explore those technologies but I'm not comfortable enough to do that alone, If you mind to mentor me, I would be glad to assist you @smiller171

[2017-09-15 17:22] smiller171 commented on #190
Absolutely @luisfmelo! The best way to improve is to teach.

@karuppiah7890 @AndrewGHC The level of effort involved in the current architecture is pretty low. Do you want to take the time to lay out acceptance criteria or should I just go off with @luisfmelo to build an initial proof of concept?

[2017-09-15 17:27] karuppiah7890 commented on #190
Level of effort ? Sorry, I don't understand

[2017-09-15 17:31] smiller171 commented on #190
Sorry @karuppiah7890, updated my comment for clarity. I meant to automate it.

[2017-09-15 17:32] smiller171 commented on #190
@luisfmelo I pinged you on Slack to sync up

[2017-09-15 17:35] karuppiah7890 commented on #190
What kind of acceptance criteria ? Like, EC2 instance specs (OS, RAM, Disk) ?

And what changes do you want to make ? You mentioned -

[2017-09-15 17:52] smiller171 commented on #190
@karuppiah7890
1. I would use an ELB instead of an Elastic IP
2. I would assume that the service is going to be hooked to a custom domain, not using the default Amazon address
3. I would split off postgres and redis into RDS and Elasticache so that the data isn't lost if the instance fails
4. I would start the instance in an autoscaling group with a desired instance count of one, so that if the in

[2017-09-15 17:53] smiller171 commented on #190
None of these changes are required to automate the process, and can easily be changed at a later date.

[2017-09-15 18:10] pandemicsoul commented on #190
Just want to offer a +1 for automating as much of the setup process as possible. I work with lots of progressive digital activists, and 95% of them have never touched AWS and wouldn't have the faintest idea how to set up Google Auth API keys. If you want this tool to be ubiquitous, the setup process needs to be as good, or better, than the WordPress five-minute install. Needs to be simple to the p

[2017-09-15 18:17] karuppiah7890 commented on #190
@pandemicsoul That's true. Only Devs or DevOps engineers know about doing such stuff and it takes time even for them. This is just one step towards automation. As we do more stuff, we can iterate on things, build on top of this to automate more and make things better :) But getting AWS API keys is still a thing, but I guess we can automate the process of getting Google API Keys - if we can use OAu

[2017-09-15 18:23] smiller171 commented on #190
I've thought about that as well @karuppiah7890. Most of the time orgs are willing to pay a bit more for a fully managed service so that they don't have to operate it themselves. I wonder if there would be a benefit to doing an OpenSource+ model, where the whole thing is Open Source if you want to run it yourself, but you can also purchase the service from FCC or an affiliate organization. This wou

[2017-09-15 18:31] karuppiah7890 commented on #190
@smiller171 The points you put up, I didn't get point 1 alone. About point 2, yes, it's definitely a custom domain. And the others, it's all good, but if we want a cost effective and simple system it wouldn't be necessary. The solution you are suggesting is good and robust when there are many (like 100s) users using the App. But MfG is actually gonna be used only by a small group of people max or

[2017-09-15 18:41] karuppiah7890 commented on #190
@smiller171 I am not sure about that. Gotta ask @QuincyLarson @AndrewGHC and other contributors

But the main idea of MfG is - self hosted solution and privacy. You can see about the privacy part here too - https://github.com/freeCodeCamp/mail-for-good#why-are-we-doing-this

Also, FCC is more of a non-profit, but yes, hosting a service would help contribute to FCC's development of this project and

[2017-09-15 18:54] smiller171 commented on #190
@karuppiah7890 You should aim for those architecture changes anyway. If everything is running on a single EC2 instance the change of losing all your data is nearly 100% if you're running it for long at all.

[2017-09-15 18:56] smiller171 commented on #190
but for the topic at hand, my intent is to automate based on the current instructions first, and iterate on that. I think unless you have anything specific you'd like to interject as far as requirements, it's probably easiest for me to present an initial version and iterate from there.

[2017-09-15 18:58] karuppiah7890 commented on #190
@AndrewGHC @QuincyLarson have been using the App in production for a lot of time. I believe they are using just a single machine and Docker containers. We need to wait for them to tell their opinions on the architecture

And yes, you can automate based on the current instructions of course!

[2017-09-15 19:03] smiller171 commented on #190
The chance of losing an individual EC2 instance is extremely high, so running Postgres or Redis on a single instance is a really bad idea for production. AWS has managed services for both that have a free tier, so you can have data resiliency while still paying nothing.

[2017-09-15 19:09] karuppiah7890 commented on #190
@smiller171 I know about the 1 year free tiers yes. And I am still stunned at how the chance of losing an individual EC2 instance is high. I don't have much of a say in this as I don't know so much about instance availability in AWS or any other cloud server. But looks like it's pretty bad from what you say

[2017-09-15 19:17] smiller171 commented on #190
@karuppiah7890 Amazon gives no guarantee for individual EC2 instances. You are instructed to treat them as a disposable commodity. That's why ELBs and auto-scaling groups exist. Losing an instance is just a matter of when, not if, but if you are following best practices for auto-healing and scalability, it will never affect you. It's also fairly common for an entire Availability Zone to go down te

[2017-09-15 20:44] bsocial opened #192 "Email Announcement URL Error"
There is a broken link in the email blast that went out announcing Mail For Good. In the email, the link to the AWS deploy how-to points do ../deploy.md which does not exist. It should point to ../aws_deploy.md. Since the email is in the wild perhaps you want to put a copy of ../aws_deploy.md at ../deploy.md?

[2017-09-16 04:52] karuppiah7890 commented on #192
I think you could have commented on the Medium post and Quincy would have
corrected it :) anyways, someone commented and it's changed now, you can
check the post. Thanks for the heads up though :) You can close the issue

On Sep 16, 2017 2:14 AM, "bsocial" <notifications@github.com> wrote:

[2017-09-16 15:23] TheMightyPenguin commented on #170
Hey @karuppiah7890 @dhiana1 I'd like to add an initial structure for the site with Jekyll! I'll add bootstrap with sass, I'm gonna try to open a PR for this tomorrow!

[2017-09-16 17:39] arashsoheili commented on #172
I also can't get it to work. Using the stable tag I get the following error at the end.

[code]

[2017-09-16 17:41] karuppiah7890 commented on #172
@arashsoheili Umm, it's an error which occurs while running the application for the first time, but the error doesn't crash the App. You can try the Application in the browser and it will work. Try it out and let us know if any other error pops up!

[2017-09-16 22:56] arashsoheili commented on #172
Yes, it is working. I was confused as the console shows that it's running on port 8080 and that's what I was expecting in my host browser. But it seems that host port 80 is mapped to 8080. I think it would be better if host port 8080 was matched to the container port 8080 instead.

[2017-09-17 03:01] karuppiah7890 commented on #172
@arashsoheili Yeah, sorry about that. Thing is, we recently changed some configurations (like mapping host port 80 to container port 8080) - so that people can run the system in production without changing config. But we didn't change it in the guide.

[2017-09-17 03:08] karuppiah7890 opened #193 "Use Nginx reverse proxy server for the Application ?"
This way, people can use SSL certificates in the Nginx config for HTTPS. We could actually provide an automated way to get LetsEncrypt certificates too, as an option.

[2017-09-17 03:09] karuppiah7890 commented on #192
@AndrewGHC This issue can be closed

[2017-09-17 03:19] karuppiah7890 opened #194 "Change port number to 80 in local deployment guide"
https://github.com/freeCodeCamp/mail-for-good/blob/master/docs/local_deploy.md

It's mentioned as 8080 everwhere and asks to use reverse proxy to server on port 80. But it looks like we have recently changed the docker-compose.yml config to map host port 80 to container port 8080

[2017-09-17 03:20] karuppiah7890 commented on #172
I have created an issue #194 to address it. Thanks @arashsoheili for notifying this :smile:

[2017-09-17 03:22] karuppiah7890 commented on #193
Okay, looks like you have mentioned it even in the [planned features](https://github.com/freeCodeCamp/mail-for-good/blob/master/docs/planned_features.md)

[2017-09-17 04:09] omulmicsinegru commented on #166
Hey guys.

Just installed the app myself and can confirm the login/logout issue is still happening.
Any ideas when this will be fixed?

[2017-09-17 04:30] karuppiah7890 commented on #166
@omulmicsinegru Can you give more detail ? Logs and what error you saw in the browser, may be a snapshot

[2017-09-17 04:35] omulmicsinegru commented on #166
@karuppiah7890 sure thing.

![image](https://user-images.githubusercontent.com/10855580/30518030-b4bf7f94-9b7a-11e7-8f60-d48d1f55fa41.png)

[2017-09-17 04:39] karuppiah7890 commented on #166
Okay, so you don't get the Google login screen at all.
What do you get in the console ? Please paste the log

[2017-09-17 10:27] AndrewGHC commented on #194
Nice spot, will get round to this next week. If you have the time a PR would be greatly appreciated

[2017-09-17 10:44] omulmicsinegru commented on #166
this is what i get in the terminal:
[code]

@karuppiah7890 I don't know where the logs are. Can you please tell me so i can paste those as well?

[2017-09-17 11:20] karuppiah7890 commented on #166
@omulmicsinegru I was asking for the above logs only actually :) Okay, can you check the Network logs in the browser and also check the Console tab for errors by refreshing the page ?

[2017-09-17 11:22] karuppiah7890 commented on #166
And do mention the node and npm version using this
`node --version`
`npm --version`
 :smile:

[2017-09-17 12:12] #192 closed

[2017-09-17 14:04] arashsoheili commented on #172
@karuppiah7890 Okay, that's fair. But this can be better solved by having different docker compose files like `docker-compose.prod.yml`. Please refer to [docker compose override](https://docs.docker.com/compose/extends/#example-use-case) for details.

[2017-09-17 14:06] karuppiah7890 commented on #172
True, I agree @arashsoheili , we actually plan to have even a development version of the docker-compose file for development purposes
The application is still being developed. We will soon consider all this

[2017-09-17 14:44] nickjj opened #196 "Autoresponders with flow based triggers"
Hi,

Do you have any intentions on adding in autoresponders?

This would be sending out automated messages based on XYZ triggers. These triggers could be anything from "1 day after someone signs up" to "after someone leaves XYZ list". Basically they are conditions in which, when met, an email would be sent out.

ConvertKit and GetDrip does this really well by having actual flow charts that you can

[2017-09-17 14:52] nickjj opened #197 "1 list with many tags instead of many lists"
This is probably a huge change in terms of coding but for the last couple of years other platforms have shifted towards using tags instead of individual lists to manage subscribers.

I think this is a really good idea because it puts the emphasis on the subscriber instead of the list, which in turn makes it WAY easier to get useful information from your subscribers and even manage and market to yo

[2017-09-17 15:05] karuppiah7890 commented on #197
It's really a nice idea. Also, I think we can still have many lists feature even after adding tags, just in case people have non-overlapping subscribers (like for different non-related sites/products)

[2017-09-17 15:58] nickjj commented on #197
Right, that makes sense. This way 1 installation can manage multiple projects.

Here's documentation from other platforms that describe tags in general (for inspiration):

http://kb.getdrip.com/general/overview-of-tags-events-and-custom-fields/
http://help.convertkit.com/article/12-convertkit-subscribers#f4

[2017-09-17 16:37] #194 closed

[2017-09-17 16:38] #183 closed

[2017-09-17 16:38] #163 closed

[2017-09-17 17:19] karuppiah7890 commented on #196
I think you mixed up the feature of
1. autoresponding to received mails
2. auto sending mails / scheduling mails to send later, based on some triggers

And what you mentioned, it is quite some complex feature but sounds nice. But first, we are yet to work on inbound mails as mentioned here : https://github.com/freeCodeCamp/mail-for-good/blob/master/docs/planned_features.md#planned-features , after

[2017-09-17 17:24] nickjj commented on #196
"Autoresponder" is a general term used in the email marketing industry to describe the act of sending out automated emails (typically in a sequence). Funnily it enough it has nothing to do with responding to someone who emails you in this context.

It's really aimed at sending out emails automatically based on triggers/rules.

[2017-09-17 17:25] karuppiah7890 commented on #196
Ah, okay

[2017-09-17 17:51] karuppiah7890 opened #201 "Use labels to segregate issues"
The repository is gaining quite some popularity and many people are
- Asking questions
- Suggesting features
- Reporting bugs
- Reporting Documentation typos and mistakes

I think it would be better to use labels, so we can add some more labels like "feature request" rather than "enhancement" and add "docs" label for sure. And we can actually create an architecture diagram of the whole application

[2017-09-17 18:00] karuppiah7890 opened #202 "Semantic Versioning of the Application"
http://semver.org/

I think we need to be strict on doing some semantic versioning so that we know what version is being used by people when they report bugs. This way we know if they are using an old version or not. We need to mention the version in the console logs for people to identify version.

So, we need to make sure we bump the patch number when we fix known bugs. And bump minor version wh

[2017-09-17 18:02] karuppiah7890 commented on #202
We also need to release the source code when we bump versions, including patches too

[2017-09-18 12:05] karuppiah7890 opened #203 "Remove port 8080 in URLs in Google API config guide and add missing project creation step"
https://github.com/freeCodeCamp/mail-for-good/wiki/How-to-configure-your-Google-API-Keys
We need to add Project creation step for creating a Mail for Good project

I think we need to look into the docs completely and try the setup once to see if the docs are up to date with the new code and config

[2017-09-18 12:06] karuppiah7890 commented on #203
Similar to #194

[2017-09-18 15:21] wadleo commented on #203
The current docs aren't update to with the update Google Api Keys site, I will sent a pull request to fix this soon.

[2017-09-18 15:23] karuppiah7890 commented on #203
@wadleo Not really. I think it's up to date. Can you be more specific on what's missing ?

[2017-09-18 15:36] olimart commented on #190
Heroku button or Digital Ocean 1-click installation would be top notch.

[2017-09-18 15:42] karuppiah7890 commented on #190
#181 talks some things about Zeit and Heroku deployment. About DigitalOcean 1 click installations - yes, that would be a thing to consider. But I don't know if anyone create a 1 click installation app. I thought that the ones in DO like Discourse, Dokku and others are maintained officially (DO) or something. Gotta check on this.

Also, we still have to configure some stuff in AWS for SES and Googl

[2017-09-18 15:47] omulmicsinegru commented on #166
@karuppiah7890 the versions
![image](https://user-images.githubusercontent.com/10855580/30550817-49080e38-9ca1-11e7-86fa-7e8f79d6091a.png)

and the network error
![image](https://user-images.githubusercontent.com/10855580/30550997-caa12498-9ca1-11e7-91bd-e018cc0d96ea.png)

[2017-09-18 15:51] karuppiah7890 commented on #166
@omulmicsinegru Ah. It's the npm version I think ? I had issues when I used `v5.3.0`. Try using `v5.0.3`. I have to update my local repo and try too. Been long since I used the App

[2017-09-18 15:54] omulmicsinegru commented on #166
@karuppiah7890 thanks for the help. I'll downgrade and try again.
Off-topic: I took a look at the repo and haven't seen alot of activity lately. Is help still needed?

[2017-09-18 15:58] karuppiah7890 commented on #166
@omulmicsinegru Trust me, we need all the help we can get. Softwares can always be made better :smile: Also, we have a lot of issues you can check out. There are bugs, and a lot of feature requests

[2017-09-18 16:04] omulmicsinegru commented on #166
@karuppiah7890 thanks for the answer 😄  i'll take a look an help where i can.

Tried it with npm v5.0.3.. same error 😢

[2017-09-18 16:08] karuppiah7890 commented on #166
That's bad. Did you remove the `node_modules folder` and reinstall all the modules ? If you have done that, then I think you might be facing the same issue as @ZackWard who commented the same.

[2017-09-18 16:08] karuppiah7890 commented on #166
I will try a fresh install in my PC and get back to you :smile:

[2017-09-18 16:11] omulmicsinegru commented on #166
thanks.

[2017-09-18 18:18] wadleo commented on #203
yeah, you are correct the guide here matches the Google API management site, but I think developers who are new to using the Google API site would find it difficult because you have to start by selecting a project or creating a new project, before following the steps in the guide. I think that is the only step missing. When the user logins into Google API site, selects the project(mail-for-good) o

[2017-09-18 18:19] karuppiah7890 commented on #203
Oh yes. I did think about the project creation

[2017-09-18 18:19] karuppiah7890 commented on #203
@wadleo Sure! PRs are welcome :smile:

[2017-09-18 18:59] wadleo commented on #203
Hi @karuppiah7890 here is my change, https://github.com/wadleo/mail-for-good-wiki but I need help to create a PR to this issue, since it is not possible to send pull request for wikis on github, since there aren't part of the cloned or forked project.

[2017-09-18 23:35] zhakkarn commented on #201
Great input.
Our labels needed a rework for sure. I did not go with your exact solution. The labels on the moby repo are great but they have to manage 2k issues. A simpler system would be easier to manage and use.

[2017-09-18 23:43] zhakkarn commented on #119
done with #150

[2017-09-18 23:43] #119 closed

[2017-09-19 01:13] smiller171 commented on #190
Since Mail for Good depends on SES, a one-click deploy is only possible in AWS using CloudFormation, not DigitalOcean, Heroku, or Zeit. Since SES is a requirement, AWS is the only cloud it makes any real sense to run this in.

[2017-09-19 03:53] karuppiah7890 commented on #201
@zhakkarn I agree they have lots of issues and have to manage them. But it's still more neat and I am not asking to use many labels, I am just giving ideas on how the label names could look. It's just a matter of preference, like, we could use "docs" or "area/docs" and stuff. And we will get lots of issues too soon. I see M4G trending on GitHub , so many people will try it out

[2017-09-19 03:58] karuppiah7890 commented on #203
Oh yes, I know. Also, remove the port number 80 in the file, as it's not needed. Just `http://localhost` is fine, as browsers will try to access port 80 by default when the protocol is http as 80 is the default listening port for HTTP servers

Hey @zhakkarn can you help here in merging this Wiki ?

[2017-09-19 04:07] karuppiah7890 commented on #190
@smiller171 People can run it even in DigitalOcean or other hosting if they want. Even the Readme mentions the performance with respect to DO servers. But yes, if they want least manual config, AWS should be the choice, with the one click install method that is gonna be developed. Looking forward to it! :smile:

[2017-09-19 05:41] karuppiah7890 commented on #104
@AndrewGHC I have seen a tool for this called [Wal-E](https://github.com/wal-e/wal-e), it is used to backup Postgres Database

[2017-09-19 05:44] karuppiah7890 commented on #100
@AndrewGHC I have actually tried out Mosaico and it's pretty neat! We can take inspiration from it if we write our own, and it uses tinyMCE only I think

[2017-09-19 06:01] karuppiah7890 opened #204 "Integrate Prometheus, cAdvisor and Grafana to monitor Containers for resource usage ?"
https://github.com/prometheus/prometheus
https://github.com/google/cadvisor
https://github.com/grafana/grafana

This is some DevOps stuff. I think it will be useful for people to know the usage of system resources and may be we can set some simple alerts too, to know that some resource usage limit has reached. Also, we can export some custom metrics for M4G application to know that the application

[2017-09-19 09:09] wadleo commented on #203
ok I will update the guide

[2017-09-19 09:40] AlroneRhyn opened #205 "Smarthost"
Hi Guys !

Mail-for-good seems a pretty nice alternative to mailshimp ! We would like to use it.....with a local exim4 instead of an AWS. Is anybody have already worked on it ?

Thx !!

[2017-09-19 10:17] karuppiah7890 commented on #205
@AlroneRhyn Thanks for your interest in Mail-for-Good :smile: And about the exim4, we support only AWS SES. We don't support external SMTP servers and I don't think we will support the feature in the future too.  You can check issue #161 to see a small thread about the same. And if you are looking to do email marketing for your business, it makes a lot of sense to use AWS SES. See the thread for m

[2017-09-19 12:06] karuppiah7890 commented on #166
@omulmicsinegru I am getting the same issue too
cc @AndrewGHC
Also, I don't see any package-lock.json file which should actually be included in the git repo. What version do you guys use ? cc @zhakkarn @AndrewGHC

[2017-09-19 12:13] karuppiah7890 commented on #166
The issue exists with the `dev` script only. the `start` script works for me

[2017-09-19 12:19] zhakkarn commented on #201
@karuppiah7890 Fair point. I did change the labels again to make the categories clearer. I would be keen to use the "area/" prefix but the app is built such a way that you have a frontend,  a backend (with a fairly light codebase) and the docs. Do I miss something or can we just roll with just a "docs" tag?

[2017-09-19 12:25] karuppiah7890 commented on #201
docs tag should be good!

[2017-09-19 12:28] zhakkarn commented on #201
Alright, I'll close this issue until the tags are a problem again or someone come up with another nice idea.

[2017-09-19 12:28] #201 closed

[2017-09-19 12:32] karuppiah7890 commented on #201
It would also be nice to list out the currently used labels in this thread and the possibility of labels for upcoming issues relating to things instead of just mentioning that "docs" label will be used for docs

[2017-09-19 12:43] zhakkarn commented on #201
I might not get what you are saying on this one. If people want a list of the labels they can just go in the "issue" tab and click the "labels" button to see them. As for the second half of the sentence, I will, after doing my best, ask you to rephrase it.

[2017-09-19 13:59] karuppiah7890 commented on #201
okay

[2017-09-19 14:11] smiller171 commented on #190
@karuppiah7890 I know you _can_ run it anywhere, but maintaining infrastructure in two different clouds introduces complexity and latency that doesn't make sense.

[2017-09-19 17:50] ryanbsherrill commented on #170
@karuppiah7890 I would like to help with this in any way I can. Exp. w/ HTML, CSS, React, Redux, Router, NodeJS, Express, MongoDB, testing, deployment, etc.

[2017-09-19 17:58] karuppiah7890 commented on #170
Okay, many people are trying to work on this PR. Let's get this sorted out
@Dhiana1 I think you aren't working on this anymore ?

@TheMightyPenguin Have you started work on this ?

And @ryanbsherrill Wow, that's quite some skill set. We could use your help in the Application itself which uses NodeJS, Express and React :smile: For DB it uses Postgres though. Do have a look at other issues and if @T

[2017-09-19 18:04] Dhiana1 commented on #170
I am not a developer. :) I only do wordpress sites (with wordpress tools)
and some graphic design.
So good luck with the page. :)

https://www.facebook.com/AgendaCulturalaPentruCopii
http://agendacopiilor.wordpress.com/

On Tue, Sep 19, 2017 at 8:58 PM, Karuppiah <notifications@github.com> wrote:

[2017-09-19 18:11] karuppiah7890 commented on #170
@Dhiana1 Even that's some development. And thanks for the art. :smiley:

[2017-09-19 19:21] TheMightyPenguin commented on #170
Haven't started due to college, but I'll do it @karuppiah7890! I plan to make a Jekyll with Webpack setup (I have lots of experience with Jekyll), so the site can be easily built on top of that setup. I'll make sure to document it and add a Readme with instructions, my plan is to make a `site` branch and then make a `gh-pages` branch that will be used to deploy. Does that sounds good?

Also, once

[2017-09-19 19:21] QuincyLarson opened #206 "Could Mail for Good run on Glitch?"
Could Mail for Good run on Glitch.com? That would be one free way for small nonprofits to host it (and deployment could potentially be as easy as "remixing" the demo and adding your own keys).

The reason I ask is @anildash, CEO of Fog Creek (Glitch.com) [asked about it](https://twitter.com/anildash/status/910216303750926336), and we already use Glitch extensively in our beta curriculum.

My main

[2017-09-19 19:32] karuppiah7890 commented on #170
@TheMightyPenguin We need Webpack setup for Jekyll ? I haven't used Jekyll actually, but I see that Jekyll can be used as a static site generator and that's what we want like @AndrewGHC mentioned. And yes, the ideas sounds awesome! And sure, we welcome all contributions to the Application! :smile:

cc @AndrewGHC

[2017-09-19 19:40] TheMightyPenguin commented on #170
You don't need Webpack, but it helps a lot managing any needed dependencies and processing assets (bootstrap, etc..). Alright I'm gonna start working on this 👍

[2017-09-19 19:42] karuppiah7890 commented on #206
I don't think glitch has any hosted instances of Postgres DB or Redis DB and the App requires both. And the performance is a quite a question as it's a PaaS and there's no guarantee that App will always be alive and stuff, as we don't really have control over the environment. No security issues will be there.

Other than this people have to do config out of glitch, for - AWS SES, Google API.

[2017-09-19 19:43] karuppiah7890 commented on #170
:+1:

[2017-09-19 20:13] QuincyLarson commented on #206
@karuppiah7890 Could they potentially use AWS products for the databases? I know that would require changes to Mail for Good itself, but I'm just curious. Because this could significantly increase adoption if we make setup sufficiently easy.

[2017-09-19 23:30] esaezgil commented on #170
what about using https://github.com/gohugoio/hugo for this. It's free, OSS, easy to contribute to,  just installing a binary. There's more info on http://gohugo.io/ including themes (https://themes.gohugo.io/), docs (http://gohugo.io/documentation/) and tutorials. Just my 5c. Most of the styling/templating done in Jekyll will be reusable there.

[2017-09-19 23:57] TheMightyPenguin commented on #170
Hmm I've never used Hugo before, it seems nice, I'll develop the tempate in jekyll tho, I've lots of experience with it, I'll make it support multilanguage out of the box!

[2017-09-20 08:42] karuppiah7890 commented on #206
We still have to consider the performance and the App lifecycle part. In Heroku, web processes sleep after 30 mins of idle time. There might be something similar in Glitch too, so we gotta see if it will run alright be doing some testing and yes, like you mentioned, we need to make changes. Actually, just a few I think, since there are already environment variables that can be used to configure Po

[2017-09-20 10:07] Dhiana1 commented on #170
Welcome. I could do some more. When you will feel you need to have some
images for illustrating the project. Just let me know! :)

On 19 Sep 2017 21:11, "Karuppiah" <notifications@github.com> wrote:

[2017-09-20 10:17] karuppiah7890 commented on #170
@Dhiana1 Sure :smile:

[2017-09-21 13:58] thegreyham opened #207 "Clickthrough not working"
Followed all steps and the email sends to the list. When you click the clickthrough a redirect notice appears.

![image](https://user-images.githubusercontent.com/29119439/30699583-04774c82-9edd-11e7-8444-e3180dbac09a.png)

Here is how i have the template setup

When I run docker-compose up I am getting the following, not sure if it could be related:

[2017-09-21 14:16] karuppiah7890 commented on #207
Hi @thegreyham. Thanks for using Mail for Good and reporting this. From the redirect URl, I see that you haven't setup your Domain URL properly. Set it in the settings page and also set it in your .env file in [this line](https://github.com/freeCodeCamp/mail-for-good/blob/master/.env.example#L34)

[2017-09-21 15:21] thegreyham commented on #207
Hi @karuppiah7890. Didn't see that, Thanks that worked perfectly.

[2017-09-21 15:21] #207 closed

[2017-09-21 17:05] alexgleason opened #208 "Dependency on AWS"
Hi, I don't know much about AWS; I'm a bit put off by it because it's owned by Amazon wants online services to be managed in an unfamiliar way. I'm comfortable deploying a Linux image and working in a terminal.

Does this software require using AWS? If so, can it be modified to run on a normal Linux server?

I have a mail server that I bootstrapped with [Mail in a Box](https://mailinabox.email/) a

[2017-09-21 17:52] QuincyLarson commented on #206
@karuppiah7890 I don't think Glitch has this same issue. Even if it did, the 20-second spin-up time on Heroku isn't that big a deal in my opinion. If this were a consumer tool, yes it would be, but I think nonprofits would be OK with a 20-second spinup time a couple times a week when they're using the app.

[2017-09-22 06:09] karuppiah7890 commented on #208
@alexgleason Thanks for your interest in Mail for Good App. We currently support only AWS SES for sending mails, and no other external SMTP servers. Check #205 and #161 for more details on this whole thing :smile:

cc @AndrewGHC I think we can close this issue

[2017-09-22 06:09] karuppiah7890 commented on #205
cc @AndrewGHC I think we can close this issue

[2017-09-22 06:14] karuppiah7890 commented on #206
@QuincyLarson Spin up times shouldn't be a problem yes. I think we can check the performance by trying it out in Glitch with the small changes I mentioned.

[2017-09-22 10:22] ishanjain28 opened #209 "REST API like SES"
It's a great tool if I want to write a message and send it to a lot of people but having a REST API where I can send data like `to`, `from`, `subject`, `body` like the AWS SES API and it sends that message to the specified email would be great.

[2017-09-22 10:25] ishanjain28 commented on #204
If anyone else hasn't starting working on this yet, I can integrate Prometheus and Grafana in this application. I'll have to look up what cadvisor does and how to integrate it.

Thanks for the suggestion, @karuppiah7890

[2017-09-22 10:46] ishanjain28 commented on #209
@karuppiah7890 I checked the code and in [secrets.js](https://github.com/freeCodeCamp/mail-for-good/blob/master/server/config/secrets.js) it reads smtpServer configuration from env variables but doesn't uses them anywhere.

And in [planned_features.md](https://github.com/freeCodeCamp/mail-for-good/blob/master/docs/planned_features.md), They have mentioned they'll be building a REST API for it so y

[2017-09-22 10:47] karuppiah7890 commented on #204
@ishanjain28 cAdvisor is used to monitor Docker containers :)

And actually, this is still a suggestion. We have to discuss and make sure it's a necessary feature and then only work on it. We need to wait for @AndrewGHC and the other contributors to comment on this. I would suggest you to wait on this. And it's not a very tough implementation to plug and play Prometheus and Grafana, we just need t

[2017-09-22 10:48] ishanjain28 commented on #209
TL;DR, This tool apparently will also enable you to run a SMTP Server so you don't need AWS or any other third party provider to send emails.

[2017-09-22 10:51] karuppiah7890 commented on #209
@ishanjain28 I believe that is for some testing, where they use a SES simulator. And the simulator is only for testing.

And also, about the REST APIs, yes, I did think you might be referring to that feature, but that feature is about providing an API to send campaigns to lists unlike sending emails to a specific `to` address. And I believe issue #109 is about this. So, I think we can close this i

[2017-09-22 10:52] ishanjain28 commented on #209
Thanks for clearing it up. I understand it a bit better now. :)

[2017-09-22 10:52] #209 closed

[2017-09-22 10:52] ishanjain28 commented on #204
@karuppiah7890 Okay, I'll wait. :)

[2017-09-22 10:59] karuppiah7890 commented on #209
@ishanjain28 And no, the tool doesn't enable you to run a SMTP server. M4G is only an email campaign management tool, it's not a mail server, and that's why we use AWS SES and only that is supported now nothing else and most probably, it will remain the same in the  future too. You can check issue #161 to know more about this. And some people have been asking if they could use external SMTP server

[2017-09-22 11:27] codeforgeek opened #210 "After deleting campaign, shouldn't the campaign subscriber be deleted too?"
Trying it on local

Added around 1000 subs and created a campaign. After deleting the campaign, entries in compain subs tables persists, which I think should be deleted.

If there is any reason to keep them then let me know otherwise I will send a PR for a fix.

Thanks.

[2017-09-22 11:32] karuppiah7890 commented on #210
@codeforgeek In Email marketing, people send multiple campaigns to the same list of subscribers. So, deleting a campaign shouldn't lead to deleting the subscribers

[2017-09-22 11:33] codeforgeek commented on #210
No you don't get it.

That part of subscribers is stored in list and list subscriber table. When we create compain and choose list, then that piece goes to compainsubscriber table. entries in that table should get deleted if we delete the compaign. Not from list or listsubscriber of course.

[2017-09-22 11:36] karuppiah7890 commented on #210
Sorry, I thought you meant from a user's pov. You mean the database tables and entries; that's some technical stuff. I need to look into this.

[2017-09-22 14:31] zhakkarn commented on #166
Alright, I don't like my answer but here it is :

The problem comes partly from the webpack-dev-config as it serves you the react app before you can authenticate yourself. Normally you query localhost and you get the redirected by the backend app on the login page then you get the front end app served, overwriting the URLs.

So I've put the public path of the frontend app from '/' to '/dist/' in o

[2017-09-24 05:29] deadcoder0904 opened #211 "Is it Serverless?"
I think if Emails are sent only once a month, then it can be Serverless which might drastically reduce the cost for servers as well.

Idk a lot about AWS or Serverless architecture, but I have a question.

Is it Serverless or can it be made Serverless ?

[2017-09-24 05:35] karuppiah7890 commented on #211
@deadcoder0904 Hmm. That's true, using serverless architecture when there's less traffic is good and cost efficient. And currently, it's not serverless. May be we will think about this. But doing the whole thing would require changing lots of stuff in the codebase.

Also, the application is not only for sending mails, it is also used to check the open rates, clickthroughs, bounces. So, it's not li

[2017-09-24 05:36] karuppiah7890 commented on #211
cc @AndrewGHC @QuincyLarson

[2017-09-24 07:02] deadcoder0904 commented on #211
Then maybe u can make sending emails process ServerLess & rest of the process using a Server.

Maybe decoupling things will reduce more cost & 1 million requests are free for Serverless architectures like Google Cloud Functions, Azure Functions & AWS Lambda I guess.

[2017-09-24 07:05] deadcoder0904 commented on #211
Also another question is rather than sending Emails using AWS SES, can we use something like `nodemailer` on our own server so that it will additionally cut more cost ❔

I've also made a helper module which is a Gmail abstraction over `nodemailer` but its not that secure called [email-via-gmail](https://www.npmjs.com/package/email-via-gmail), so can we use this for maybe if someone only has 1000 E

[2017-09-24 07:47] nickangtc opened #212 "Missing instructions to workaround broken dashboard on initial setup"
Hi all, I'm looking forward to contributing to M4G. I did however struggle for a while to set up the locally hosted project before @zhakkarn eventually pointed out the issue - there's apparently an issue in dev environment.

I think this info needs to be somewhere until the root cause of the problem is fixed (at this point, I'm unsure what that is).

Specifically, the "broken dashboard" problem is

[2017-09-24 07:59] karuppiah7890 commented on #211
@deadcoder0904 Actually, it's quite easy to run a mail server using a lot of self hosted software. But it's not just about sending the Email. It's about sending it to them securely with DKIM signature and stuff and also making sure that it reaches the Inbox / Updates section of the client and not in Spam, also our mail server's IP shouldn't get blacklisted by ISP or other mail servers. This is all

[2017-09-24 08:01] karuppiah7890 commented on #212
@nickangtc Thanks for this. And yes, it's true, we need to add it to the Wiki temporarily I think, till the problem is fixed. @zhakkarn Can you help with this Wiki page?

[2017-09-24 08:06] karuppiah7890 commented on #211
@deadcoder0904 If we are going to run the server in AWS EC2, it's however gonna run 24 x 7 and cost money. Using Serverless partly and Server partly only increases cost if Serverless functions are executed more than the free limit.

Also, we first have to make the app more stable and achieve some of the goals and fix bugs, and then may be we can discuss about converting the architecture to a serve

[2017-09-24 08:07] nickangtc commented on #212
@karuppiah7890 Ok no problem.

Do you think it's perhaps a good time to try and resolve this issue? My wild guess here is it's something to do with the authentication with Google+ needed to log into the app.

[2017-09-24 08:12] karuppiah7890 commented on #212
@nickangtc Yes. @zhakkarn mentioned some infinite looping problems too. PassportJS stuff. Gotta look into it, but idk about react and webpack stuff which serve front end pages

[2017-09-24 08:19] deadcoder0904 commented on #211
Cool. Thanks for the awesome explanation 😄

[2017-09-24 08:20] karuppiah7890 commented on #211
@deadcoder0904 :+1:

[2017-09-24 19:22] joepin opened #213 "Add the ability to schedule campaigns"
I think that scheduling campaigns to be sent at a specific time (or even repeatedly) is very necessary for a project such as this one; in my opinion, this is one of the most important features of a marketing email service.

I seriously appreciate all the work that has gone in to making this project.

[2017-09-24 19:27] karuppiah7890 commented on #213
Thanks for the suggestion :) We will consider it for the upcoming project
goals!

[2017-09-24 19:28] joepin opened #214 "Add API access to this service"
In addition to #213, I think the other major feature that email services provide is an API for sending emails/managing contacts. I recognize that this is well beyond the scope of what the project was initially intended to be, but I think that this project would gain tremendously by providing an API for developers to write scripts to automate email campaign creation and sending.

[2017-09-24 19:32] joepin commented on #213
Glad to hear!

I personally use ConstantContact to send a daily email to 1000+ subscribers, and almost never send an email right away; I tend to schedule campaigns from about a week before. Also, as a developer, I use the CC API to manage my subscribers and schedule emails, making my life a lot easier. (Hence the two feature addition suggestions :) )

[2017-09-25 05:38] karuppiah7890 commented on #214
@joepin Yes, we have this in mind :smile: It's already an issue #109 and mentioned in [here](https://github.com/freeCodeCamp/mail-for-good/blob/master/docs/planned_features.md)

[2017-09-25 05:38] karuppiah7890 commented on #214
So, I think we can close this issue

[2017-09-25 09:17] ryanbsherrill commented on #170
@karuppiah7890 @TheMightyPenguin  Hey guys. Was just wondering if anything has been started for this? Definitely would still love to contribute.

[2017-09-25 14:38] sevgit commented on #148
You mean as in telling you when the codebase has been updated?

[2017-09-25 14:40] karuppiah7890 commented on #148
I think that's what he meant. We need to first work on #202

[2017-09-25 15:06] joepin commented on #214
Ah I didn't understand that this is what #109 is referring to! Ok I'm glad to hear!

[2017-09-25 15:06] #214 closed

[2017-09-26 15:15] kleebaker commented on #115
I second this! Quill does not preserve HTML I paste into the editor.

[2017-09-26 15:18] kleebaker commented on #100
Is this also related to #114 and #115?

[2017-09-27 17:17] missmatsuko commented on #170
Would also be interested in contributing. Has a design been made yet, or does FreeCodeCamp have any other similar sites to base a design off of?

[2017-09-27 23:30] AndrewGHC commented on #170
@Dhiana1 @missmatsuko Thanks for your interest in this project. There are two key areas where design would be valuable, a github pages sort of thing detailing the objectives and use of the project, and the sign in page (which is very basic at present). The sign in page is itself in essence a separate app that could be expanded, and currently consists of basic HTML/CSS without any bells and whistle

[2017-09-27 23:33] AndrewGHC commented on #213
@joepin This is a feature that would be a very valuable addition, no question. I think we have a few other tasks prior to its implementation, but it's the next on the list and I envisage that it would be part of the implementation of an API for the app that could be used to securely use it as a remote service. Thanks for the suggestion, will close this after we add it to our project management app

[2017-09-27 23:38] #211 closed

[2017-09-27 23:39] AndrewGHC commented on #210
@codeforgeek Agreed - this shouldn't happen. Will address this.

[2017-09-27 23:40] AndrewGHC commented on #208
@alexgleason We use two key services from Amazon, SES and SNS. The first lets us send emails, and the second lets us know what happened when Amazon tried to deliver them. Beyond this, we do not use any other AWS services.

[2017-09-27 23:40] #208 closed

[2017-09-27 23:43] AndrewGHC commented on #206
@QuincyLarson I think that @karuppiah7890 and I should spike this but my intuition says that this should be possible. The app is orientated around low memory consumption, though we are taking additional steps to guarantee this. I think this is a very real possibility.

So long as we have a Unix system with (pushing it here) 512mb memory to work with, we should be ok. Will need further investigatio

[2017-09-27 23:45] AndrewGHC commented on #205
At present we only SES, though the possibility of third party services remains open. At present though we're rolling with SES as it's the cheapest and for the price, certainly most reliable email service available.

[2017-09-27 23:45] #205 closed

[2017-09-27 23:52] missmatsuko commented on #170
@AndrewGHC I'm primarily a front-end developer, but I could work on the design as well. I think a design (or at the very least, a wireframe) is necessary before starting on the website.

I think a simple static site using GitHub Page's version of Jekyll would be the simplest way to create the site. I haven't used Hugo before but I'm wondering if that's overcomplicating things unless localization i

[2017-09-27 23:55] AndrewGHC commented on #170
@missmatsuko Cool - I agree that we should spec this before any development. Just to clarify, are you talking about a Github pages website or a site for unauthenticated users using the app?

That's definitely a vote for Jekyll over Hugo. I've only ever used Gatsby as a static site generator, but I'm familiar with the use case. Interested in other's thoughts on this. Overall, I think we should limi

[2017-09-27 23:57] AndrewGHC commented on #204
@karuppiah7890 @ishanjain28 Previously we ran the app with PM2 as a process manager. Our logging in this regard could do with improvement.

My knowledge on devops is limited, particularly with concern to deploying dockerised containers on remote services. I'm open to suggestions in this regard.

[2017-09-27 23:58] AndrewGHC commented on #203
@wadleo Thank you for raising this to our attention.

@karuppiah7890 @wadleo Has this been addressed? If so we can close this.

[2017-09-27 23:59] AndrewGHC commented on #202
@karuppiah7890 This is something we'll do from this point onwards. In the earlier days, @4iar and I were purely concerned with implementing features and disregarded this but it's something that we'll take heed of from this point forward. Please email me as a follow up to this comment.

[2017-09-27 23:59] #202 closed

[2017-09-28 00:02] AndrewGHC commented on #193
@karuppiah7890 There's some dev overhead at present required to deploy this app. We've tried to minimise this with EC2 instances with elastic IPs, which use TLS by default. However your point is valid, we can add Nginx to our docker-compose setup & expose the resulting port.

My only concern is that I think we'll inevitably need separate guides for separate services. Adding SSL in a dockerised con

[2017-09-28 00:02] #193 closed

[2017-09-28 00:05] AndrewGHC commented on #190
@smiller171 Your comments have been taken of board and given us greater perspective in terms of how the deployment of this app can be improved. Would it be ok if we ping you on this in the near future following some immediate plans to discuss implementing this?

[2017-09-28 00:32] missmatsuko commented on #170
@AndrewGHC I was thinking that it would be a static site hosted on GitHub Pages that provides an overview of the features of Mail for Good, or am I misunderstanding? I dob't see an existing GitHub Pages for FreeCodeCamp, but repositories often use it to provide information about their repos.

There's some examples here:
https://github.com/showcases/github-pages-examples

[2017-09-28 04:00] deadcoder0904 commented on #211
That was a nice explanation. Thanks @AndrewGHC 😄

[2017-09-28 04:04] karuppiah7890 commented on #170
@missmatsuko Yes, I believe that's what @AndrewGHC meant. This whole thread is about creating a static website to provide an overview of the features of Mail for Good as currently, the only way to know the features is to read the Repo's Readme and it's not very catchy unlike showing it in a webpage with screenshots and nice design

[2017-09-28 04:17] karuppiah7890 commented on #193
Yeah, I agree. We need to do quite some automation. Also, actually, there are some more ways to use reverse proxies and get SSL certificates or use own certificates and also prevent from DDoS. For example, people could use a cloud service like cloudflare for this.

[2017-09-28 04:28] karuppiah7890 commented on #203
@AndrewGHC No, it hasn't been addressed

[2017-09-28 05:42] Dhiana1 commented on #170
I can help with the visuals.
Let me know if you have a preferred style (including fonts and colors) or a
specific webpage that you love (and want something similar).
As far as I understand there will be 2 visuals. One for signing in and one
with objectives. :)
Is there anything else? :)

https://www.facebook.com/AgendaCulturalaPentruCopii
http://agendacopiilor.wordpress.com/

On Thu, Sep 28, 2017

[2017-09-28 05:47] karuppiah7890 commented on #204
@AndrewGHC Actually, Prometheus is only for monitoring, and it's quite different from logging, but if we can create application logs with specific format and scrape the logs in the form of metrics, then we can use them as metrics too. But this won't be very great for error detection and finding root cause of error and stuff. This is more like - monitoring if everything is working normal and you ca

[2017-09-28 09:08] codeforgeek commented on #210
@AndrewGHC Let me help then! Will send PR.

[2017-09-28 12:30] smiller171 commented on #190
@AndrewGHC Absolutely. Probably the quickest way to reach me is to PM me on Gitter.

[2017-10-01 06:58] seanWLawrence commented on #170
Hey guys, I created a site with Hugo for this repository that can easily be run on GitHub Pages, let me know what you think: [mail-for-good.netlify.com](http://mail-for-good.netlify.com)

[2017-10-03 05:23] QuincyLarson commented on #206
@AndrewGHC @karlchvojka Awesome - this sounds like a plan. Anything we can do to reduce costs and make it easier for nonprofits to use. Please keep me posted on how this spike is going :)

[2017-10-03 05:57] karuppiah7890 commented on #170
Wow @seanWLawrence ! It's awesome and neat and matches the freecodecamp theme :smile: Also, for the top right github icon, I think we could link that too to Mail for Good repo. What do you think ?

cc @QuincyLarson @AndrewGHC @zhakkarn

[2017-10-03 19:32] Rigel772 opened #219 "What is Google API for?"
I do not understand how does it relates to Google? Do you need email hosted on Google to use it? Thanks :)

[2017-10-03 20:06] wadleo commented on #219
Hi, @Rigel772 the Google API keys setup is for Google authentication in the app. Mail4Good uses Google+ API for authentication.

[2017-10-03 20:10] wadleo commented on #203
I think this problem has been completely solved now from the commits above. I think we can close this issue now

[2017-10-03 20:15] #203 closed

[2017-10-03 23:01] educastro opened #220 "Uses mail for good without google apps"
Is it possible to use my own domain email and server instead of an email integrated with Google Apps?

[2017-10-04 01:00] zhakkarn commented on #220
It depends on what you want to "use" your email for.

If you want to use it to log into an instance of Mail for Good, you can't. As of right now, the only way to login is through the Google+ API which requires you to provide a valid Google account.

But if you want to use your address as the "sending" address during the email blast, you can. For instance, Quincy is using "quincy@freecodecamp.org".

[2017-10-04 01:02] zhakkarn commented on #220
As for your own server, yes you can run MfG on it instead of hosting it somewhere else but you'll still have to use AWS because the app is using some of its services to dispatch your emails.

[2017-10-04 04:10] seanWLawrence commented on #170
Thanks! I updated the link. Also thinking about adding a lightbox/modal for the screenshots to make them easier to see - thoughts?

[2017-10-04 05:14] karuppiah7890 commented on #170
@seanWLawrence Good idea! It will be useful for the AWS deployment guide screenshots. Also, we need to add more screenshots to show some features too

[2017-10-04 17:41] educastro commented on #220
@zhakkarn I want to host Mail for Good at AWS but I want to send the emails using my professional domain, the point is that this domain is not integrated with Google Apps and I'm not willing to pay US$5 per month to have it (but if I have no other option I'll).

Can I login at Mail for Good running at AWS+SES using my personal gmail account and send the emails using my professional domain?

[2017-10-04 17:45] karuppiah7890 commented on #220
@educastro Yes you can use your personal gmail account just for authentication purposes and use your professional domain to send emails, but the emails are actually sent using SES Email Servers, so, you need to verify your professional domain in AWS SES Dashboard so that you can send mails using any Email ID under your domain :smile: You can also setup DKIM signature for your mails with just a few

[2017-10-04 19:54] educastro commented on #220
Amazing! That's exactly what I need, actually I have already integrated my domain with SES! Thank you very much!

[2017-10-04 19:54] #220 closed

[2017-10-04 20:16] adamhesim opened #221 "What about for-profits ?"
There is two occurences of "for non-profit" in this repository but the license (BSD) is not non-commercial.
Does that mean for-profits can not use Mail for Good ?

[2017-10-04 23:10] zhakkarn commented on #221
This question has been brought up in the gitter chatroom and Quincy said that MfG was designed with non-profit in mind but you totally can use MfG to make profits.

[2017-10-05 13:26] bmorelli25 commented on #189
I think I figured out what the problem is. I too was having 0 emails come through, no matter my list size (tried 0, 100, and 1000 placeholder emails).

The fix, was renaming my email column. The email column must be named exactly `email`. I had it named `Email` with a capital E. Once I lowercased everything, my subscribers uploaded for all test sizes (0, 100, and 1000).

[2017-10-05 13:28] bmorelli25 commented on #189
@chiefoleka - make sure your header is titled exactly `email`. You may have an inadvertent character, capitalization, or space that's causing the issue. I'd delete the whole header row and add a new one just to be sure.

[2017-10-05 14:32] karuppiah7890 commented on #189
@bmorelli25 Thanks for that :smile: I think I have tried with `Email` as header. Let me try again. That's probably the issue as @chiefoleka couldn't get even 1 mail to import

[2017-10-05 21:45] #221 closed

[2017-10-06 20:29] killerfbi commented on #170
Hello I can build the website for mail for good.I have experince in HTML5, CSS, jQuery, node.js, BootStrap,Wordpress, Joomla, Ajax and meteor. I can make the design of the website and then I should upload it here?(if so message me what the website should contain)

[2017-10-07 03:52] seanWLawrence commented on #170
@karuppiah7890 Cool, I'm happy to add the screenshots you need to if you like, just let me know what you'd like to show (or you can send them to me if you prefer). Also, what's the best way to send you the files - through a pull request?

[2017-10-07 03:55] seanWLawrence commented on #170
@killerfbi Thank you so much for offering your help! I've already created a site with Hugo, a static site generator that integrates well with GitHub Pages for free hosting. It's also written in Markdown to make adding/editing content easier for everyone. You can view the draft [here](mail-for-good.netlify.com). We'd love your help if you have any suggestions to make it better!

[2017-10-07 09:41] karuppiah7890 commented on #170
@killerfbi Yea, you could suggest things to what @seanWLawrence has developed :smile:

@seanWLawrence We need to discuss about screenshots with @AndrewGHC and others. Mostly it will be about showing how people can upload email lists, see subscribed and unsubscribed people, see open rates, click through statistics, and some more. And for the PR, I think we can have a `gh-pages` branch in this repo

[2017-10-07 13:29] killerfbi commented on #170
@seanWLawrence Back after analyzing the website draft.In my opinion if you only want a static website we should try making only one page site.This means that it should have only the homepage and be block based type of design(I can prepare one).Otherwise the website looks good and functions properly.May I ask you if I can have a look on the website code? :) Thank you!

[2017-10-08 11:15] Rigel772 opened #222 "Instalation error..."
Hello there,
Tried the app and after the command:
**sudo docker-compose up**
I am getting to this point and the prompt freezes:

postgres_1  | LOG:  autovacuum launcher started
app_1       | Clickthrough tracking: Make sure that geoip data has been downloaded:
app_1       |    $ cd node_modules/geoip-lite
app_1       |    $ npm run-script updatedb
app_1       |
app_1       |   ####################

[2017-10-08 11:51] karuppiah7890 commented on #222
The error occurs only for the first time of running the app. It's due to
the non existence of the tables in the database initially, which is later
created by the application. The app will work. If you find any bugs while
using the app in browser, do report it :)

[2017-10-08 13:26] Rigel772 commented on #222
thank you for fast response :) will report!

[2017-10-08 13:27] karuppiah7890 commented on #222
@Rigel772 Then I will close the issue for now

[2017-10-08 13:29] karuppiah7890 commented on #222
cc @AndrewGHC Is there a way to get rid of this error even on the first run of the application ?

[2017-10-08 13:29] karuppiah7890 commented on #222
cc @zhakkarn

[2017-10-08 13:34] #222 closed

[2017-10-08 13:36] karuppiah7890 commented on #219
@wadleo is right. We use Google+ API just for authentication and nothing else, so you don't need to have email hosted on Google to use this application.

[2017-10-08 13:36] #219 closed

[2017-10-08 15:49] Rigel772 opened #223 "Sending from multiple domains possible?"
I understand you can configure multiple domains in Amazon SES... can I use them in the app?
Thanks :)

[2017-10-08 16:19] karuppiah7890 commented on #223
Yes you can :) Just use the appropriate email id ( under the verified
domain ) while creating a campaign and that's it

On Oct 8, 2017 9:19 PM, "oskar" <notifications@github.com> wrote:

[2017-10-09 07:01] Rigel772 commented on #223
fantastic :)

[2017-10-09 09:11] #223 closed

[2017-10-09 10:41] Rigel772 opened #224 "How to paste html code?"
Is it possible to send html email without using the html WYSIWYG editor? Just to paste html code?
Thanks :)

[2017-10-09 13:54] karuppiah7890 commented on #224
I am actually able to paste plain html code in my editor. You are not able to ?

[2017-10-09 14:29] seanWLawrence commented on #170
@karuppiah7890 Cool, do you want to wait until the additional screenshots and modal/lightbox is added before creating the gh-pages branch and pushing it? I'll get started on adding the modal/lightbox ASAP and will add the screenshots as soon as we all decide on which ones to add.

@killerfbi Do you mean a single page application? If so, may I ask why you think that would be better for this project

[2017-10-09 14:33] karuppiah7890 commented on #170
Yup, let's wait. I want to hear @AndrewGHC 's and @QuincyLarson 's opinions
on the site and about screenshots too

On Oct 9, 2017 7:59 PM, "Sean W. Lawrence" <notifications@github.com> wrote:

[2017-10-09 15:24] Rigel772 commented on #224
I can but I am seeing html code, not converted... Can you show me a sample of what do you paste in? Is the css inline?

[2017-10-09 15:53] Rigel772 commented on #224
Actually as I try now you can select "txt message", paste html and then switch to "html message" when the code gets converted... but html styling is very limited... :(

[2017-10-09 16:02] karuppiah7890 commented on #224
Okay, I am sorry I didn't know about HTML templates properly. There are already issues regarding this. #100 #115 You can't actually paste raw HTML and expect it to render. If you paste raw HTML, I believe it will escaped and it will be seen raw in the mail and not rendered. But there's a rich text editor to create basic HTML template for now.

[2017-10-09 16:04] karuppiah7890 commented on #224
And about pasting HTML in text template and changing to HTML template, it does work in a basic manner. I tried it out. But I have to check if styles work too

[2017-10-09 16:08] karuppiah7890 commented on #224
And the styling is probably limited because it's just like a rich text editor, not a complete HTML template editor so, when you switch between text and HTML templates, the maximum styling you can have is what a rich text editor can have

[2017-10-09 16:09] karuppiah7890 commented on #224
duplicate #100

[2017-10-10 03:07] PtkFerraro opened #225 "List subscribers error 'Unexpected end of script '"
In the console log there is nothing about this error...

<img width="1141" alt="screen shot 2017-10-10 at 00 03 26" src="https://user-images.githubusercontent.com/243409/31367597-b1963bec-ad4e-11e7-8ca6-366523db57cb.png">
<img width="1144" alt="screen shot 2017-10-10 at 00 03 14" src="https://user-images.githubusercontent.com/243409/31367601-b64f46ce-ad4e-11e7-8ee2-fab61de21bd4.png">

[2017-10-10 04:47] Rigel772 commented on #224
thanks for the information, I believe being able to send html email is essential feature... I mean proper html
You do not need to render the code in the app - I would not care for the preview if the code was sent and rendered properly on receiver end.
It is a shame you cannot bypass somehow the rich text editor... :(

[2017-10-10 13:28] karuppiah7890 commented on #224
Thing is, many non-profit organizations want text only templates - plain text or HTML containing styled text (rich text). We will be supporting HTML only in the later versions I believe

[2017-10-10 13:29] karuppiah7890 commented on #224
And no, I don't have any list of HTML tags that work. I think - only the rich text editor compatible elements will work, so it's better to just use the rich text editor than type it all

[2017-10-10 13:32] karuppiah7890 commented on #225
Thanks for reporting this @PtkFerraro :smile: We will look into it!

[2017-10-10 13:33] karuppiah7890 commented on #225
And which console log do you mean ? The browser console log or the terminal console log where the Docker containers are running and logging info ?

[2017-10-10 13:53] PtkFerraro commented on #225
Hi @karuppiah7890 ,

The terminal console where Docker runs... no error or warning there...

[2017-10-10 14:07] karuppiah7890 commented on #225
Okay!

[2017-10-10 14:08] karuppiah7890 commented on #225
How did this error occur ? Did you try to upload the list again and encounter the same error ?

[2017-10-10 14:09] Rigel772 commented on #224
There is unordered list styling in rich text editor but emails are delivered without these tags...

[2017-10-10 14:16] PtkFerraro commented on #225
I don´t know why the error message just changed without I change anything. The error now is:

![image](https://user-images.githubusercontent.com/243409/31391207-432992fe-adac-11e7-9c9f-c769bba69af2.png)

You can upload many times the same list and the error is the same.

Bu the emails are uploaded correct, because even with this error, I can click in 'Export Csv' and the file has all emails...

ch

[2017-10-10 14:38] karuppiah7890 commented on #225
Oh

[2017-10-10 14:39] karuppiah7890 commented on #224
? I don't get you, what tags ?

[2017-10-10 14:42] seanWLawrence commented on #170
@karuppiah7890 Sounds good, I'll hang tight and add the modal/lightbox in the meantime. Thanks!

[2017-10-10 14:50] Rigel772 commented on #224
On second test the <li> look ok, not sure what happened before, sorry for false alarm :)

[2017-10-10 15:08] karuppiah7890 commented on #224
Okay! And I am gonna close this issue as it's a duplicate of #100 #115

[2017-10-10 15:08] #224 closed

[2017-10-10 15:34] PtkFerraro commented on #225
Would be something related to permissions? When I click on 'My Permissions' I don´t have any granted.

When I try to grant some permissions to me, pops a message saying 'You cannot offer yourself permissions'

cheers

[2017-10-10 15:47] karuppiah7890 commented on #225
Okay, we might need some info on this to reproduce the error. Are you the admin of the server ? And are you accessing the system as someone else (with particular permissions) by clicking the settings on the top right and choosing an account ?

[2017-10-10 15:48] karuppiah7890 commented on #225
Admin as in, do you have access to start and stop the application ?

[2017-10-10 16:06] PtkFerraro commented on #225
@karuppiah7890 ,

Yes, I am the Admin and have access to everything. I hosted in Amazon.

I just followed the guid at the Github page. I just did one thing different, changed the docker comopse yam file to get LATEST and not STABLE.

Smoething must be wrong, just sent a campaingn, everything was OK and I´ve got a message saying 'Sent 11 emails', You have left 49.999 emails quota left...
![image](h

[2017-10-10 16:13] PtkFerraro commented on #225
@karuppiah7890 , ignore the 0 sent problem, it was because my from address that I was not using the email from the domain that I added to Amazon SES.

The only problem that I have is that I can´t see the email list...

cheers

[2017-10-10 17:08] karuppiah7890 commented on #225
Oh yes. You need to verify email addresses or domains (whose email ids you will be using to send from) to in SES dashboard, to send the mails.

And about the bug, yes, we will check it out :smile: I have to check what's the issue. Also, we need to reproduce this to debug it, so, do tell us if you find anything in the browser console, or in the networks tab (with error responses) , and if you did a

[2017-10-10 17:52] 4iar commented on #223
@Rigel772,

It has been a while since I've looked at it, but you may run into issues if you do not also change _SES Email_ in the settings page (to match your new email).

_SES Email_ in the settings page is used to set up email feedback (bounces, complaints, that type of thing) with AWS.

If your bounces/complaints/deliveries/etc are seeming dodgy on your new email, then this mismatch might be th

[2017-10-10 23:23] PtkFerraro commented on #225
@karuppiah7890 ,

Just deleted the other VM and made a new one to make sure that was not a problem of the instalation. Same problem yet (can´t see the subscriber and I don´t have any grant)!

the get of the api works fine and brings the data:
![image](https://user-images.githubusercontent.com/243409/31414998-064d17b6-adf7-11e7-969b-8bc09af995b6.png)

But the error is still the same 'Unexpected end

[2017-10-11 07:03] Rigel772 opened #226 "Campaign reports not working."
Created sample list (4 in total: 3 good emails and 1 with typo in host name) and send a campaign.
In the statistics I can see 4 emails sent, 4 delivered, 0 bounced, 0 opened (some were opened).
So the raports does not seem to be working at all...
Another thing: on your you tube video you can see in statistics a number of click throughs while number of opens stay 0... can you explain? How to make i

[2017-10-11 07:28] karuppiah7890 commented on #226
Have you set the domain name of the site in the settings page ?

[2017-10-11 07:32] karuppiah7890 commented on #225
Some issue on the client side I think. Gotta check.

Also, the permissions, it's for giving permissions to others to look at your data and for managing permissions given by others (to you) to look at their data. And permissions work in the form of offers and accepts concept. You can't really offer a permission to yourself and I think that's what you did and hence the error

[2017-10-11 07:35] karuppiah7890 commented on #223
Thanks for the insight @4iar ! I don't know about the complete working of the app, esp SNS and SQS yet. Gotta dive into code. Into golang currently

[2017-10-11 07:37] karuppiah7890 commented on #223
So, @4iar , does this mean that using M4G you can send Emails from only one mail and properly get the feedback ? because if you use many mail ids, you still can give only one email id in the settings page for the email feedback that you just explained about.

[2017-10-11 07:37] Rigel772 commented on #226
sure, followed all the guides

[2017-10-11 07:39] karuppiah7890 commented on #226
Did you use trackers when creating the template ?

[2017-10-11 07:39] karuppiah7890 commented on #226
If yes, can you check the email's HTML content using the "show original" option and see the links in the HTML

[2017-10-11 07:49] Rigel772 commented on #226
I did use trackers. The email source is compressed. Hard to see anything. why on the youtube video opened emils is ZERO? why sending to wrong address is reported as delivered???? this is bug, right?

[2017-10-11 08:43] karuppiah7890 commented on #226
Are you sure the address doesn't exist ? May be the host name exists. Try sending a mail to it from your mailbox. And @4iar mentioned you need to setup email id properly in the settings to get proper feedback. And for open emails, do you use Gmail ? You can see the source by clicking "show original" and search for links with Ctrl+F and typing your domain name. About the YouTube video, I need to ch

[2017-10-11 11:25] Rigel772 commented on #226
I did try... and got this
 "Your email was bounced...... because something went wrong between you and your recipient. Bummer!
What to do next?
Well, your specific problem was a 5.1.2 error.
Which means you should: Check the "gmai.com" part of"

So somehow M4G is able to successfully deliver messages to emails like: whatever@**gmai**.com
;)

[2017-10-11 11:26] Rigel772 commented on #226
the email id is set properly

[2017-10-11 13:41] PtkFerraro commented on #225
Yesterday I made few tests about permissions and I figured that out...

A dummy question, why my installation doesn´t have 'Analytics' on the menu? is there a newer branch of M4G?

cheers

[2017-10-11 15:12] karuppiah7890 commented on #225
What do you mean by Analytics section ?

[2017-10-11 15:22] karuppiah7890 commented on #226
@Rigel772 M4G sends the mails using AWS SES. If a email id is invalid / non-existent , then a mail cannot be sent to it what so ever happens. So, even AWS SES cannot send it. In your situation, it's just that there was no proper report about the mails sent and bounced. And what do you mean by "your specific problem was a 5.1.2 error." ?

[2017-10-11 15:28] Rigel772 commented on #226
why M4G reports it delivered??????
in quotes there was return message I got when tried to send to misspelled email address

[2017-10-11 15:29] PtkFerraro commented on #225
My version doesn´t have the analytics menu:
![image](https://user-images.githubusercontent.com/243409/31450311-7e5306c0-ae7f-11e7-9867-9716e5381336.png)

Git image does (https://github.com/freeCodeCamp/mail-for-good):
![image](https://user-images.githubusercontent.com/243409/31450435-c66e442e-ae7f-11e7-80a6-1420d49453d6.png)

[2017-10-11 15:29] Rigel772 commented on #226
this conversation is pointless

[2017-10-11 15:31] karuppiah7890 commented on #226
Like I said, there must be a bug or something that caused the wrong report about all mails being sent. And about the return message - okay, we will note that.

[2017-10-11 15:35] karuppiah7890 commented on #225
I am not sure about this, gotta check with others. But in the current version, it's not present. Currently, all the analytics details (open rates, click throughs etc) come up in the campaigns section in the table

[2017-10-11 15:37] karuppiah7890 commented on #226
@Rigel772 There's no point in being rude. It doesn't help. And yes, we will look into the issue

[2017-10-11 15:44] karuppiah7890 commented on #226
Also, please do abide to the (Code of Conduct)[https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CODE_OF_CONDUCT.md].

[2017-10-11 17:15] 4iar commented on #226
@Rigel772, can you create a campaign and send some emails to [bounce@simulator.amazonses.com](https://docs.aws.amazon.com/ses/latest/DeveloperGuide/mailbox-simulator.html).

If after a few minutes you still don't get any bounced emails, go to https://eu-west-1.console.aws.amazon.com/sqs/home?region=eu-west-1# and select the region that matches your MfG settings page at the top right (mine says Ire

[2017-10-13 03:43] karuppiah7890 commented on #226
Thanks a lot @4iar , for helping with this!

On Oct 11, 2017 10:46 PM, "4iar" <notifications@github.com> wrote:

[2017-10-13 17:53] 4iar commented on #225
@PtkFerraro - that's totally fine, the recent version does not have a dedicated analytics section. As @karuppiah7890 says, all the analytics stuff is integrated into the campaigns section.

During early development, we intended for analytics to have its own dedicated section, but later decided that it was cleaner to integrate everything into the campaigns section. The screenshot was taken on an ol

[2017-10-16 13:53] badruayomaya opened #227 "Startup Error"
Hello Team,

Thank you for this great effort. I only just installed mail-for-good and go the errors below after running "sudo docker-compose up":

(node:46) DeprecationWarning: Using the automatically created return                                                                                      value from client.query as an event emitter is deprecated and will be removed in pg

[2017-10-16 16:22] karuppiah7890 commented on #227
@badruayomaya Hey, this is just an error that occurs for the first run, but everything should work fine - you can check the browser `http://localhost`

[2017-10-16 16:54] karuppiah7890 opened #228 "Do complete email verification when importing emails"
We could use something like [trumail](https://github.com/sdwolfe32/trumail)

[2017-10-18 23:34] seanWLawrence commented on #170
@karuppiah7890 Hey, just a heads up, I'm still working on the modal. Should have it done soon, and will add the photos you need as soon as you decide on which ones you guys want.

[2017-10-19 00:38] jeremycady commented on #227
I cannot make it past this spot on AWS. Freezes up every time.

[2017-10-19 04:21] karuppiah7890 commented on #227
@jeremycady You mean your VM freezes ?

[2017-10-19 10:55] jeremycady commented on #227
@karuppiah7890 Correct.

Right before:

mentioned above.

I was required to start/stop my instance several times through the process. I ended up being able to see application and login via Google, but I could not add a user, a list, or add my SES information. It would just sit and think and then ended up crashing again.

Not sure what the issue is. I'll try it on my local machine today and see if

[2017-10-19 11:45] karuppiah7890 commented on #227
I think it's a resource usage issue. What is your AWS EC2 specs ? And yes,
lemme know how it works in your local machine

On Oct 19, 2017 4:26 PM, "jeremycady" <notifications@github.com> wrote:

[2017-10-19 13:23] jeremycady commented on #227
I had setup a t2.micro instance per the instructions.

[2017-10-19 13:52] karuppiah7890 commented on #227
Okay. I have tried it only on DO servers actually, with 1GB RAM and it worked quite well. I see that t2.micro also has 1GB RAM. Not sure why the issue. Most probably a bug which is leading to too much resource usage. Can you create a separate issue ?

[2017-10-19 13:55] karuppiah7890 commented on #227
And yes, do try it in a separate t2.micro instance again, after you are done setting up in your local machine. That way you can ensure the issue is reproducible

[2017-10-19 14:02] jeremycady commented on #227
I had a huge spike during my first attempt, I think taking up to 75% of CPU. I later removed docker and attempted again, but could have been an issue with it not being a "clean" install.

I believe my initial issue was connecting to the Google API (put in https where it wanted http).

Yep, I'm wanting to do local just so I know have the process down correctly. I'll give it another try on a fresh i

[2017-10-19 14:13] karuppiah7890 commented on #227
75% CPU is too much. And yes, try again later and let me know how it worked

[2017-10-22 12:09] akbarsheikh opened #230 "Need Help In Deploying Mail For Good On my AWS Account"
Hello,

As i am not very technically sound would love if anyone is willing to help me deploy me this tool on my AWS account? Willing to pay as well.... Donno if this is right to ask here but the process is a bit complicated.

My AWS account is setup, i just need to run it and deply the tool with proer settings

[2017-10-22 16:49] karuppiah7890 commented on #230
@akbarsheikh You could follow the instructions in this repo or hire a freelancer in various platforms like UpWork, Fiverr etc :smile: Also, do note that the software is still in beta.

[2017-10-22 16:49] #230 closed

[2017-10-22 23:31] zhakkarn commented on #230
hi @akbarsheikh , I can spare 2 hours out of this next Tuesday from 1pm to 11pm-ish (minus some inbounds phone calls here and there). Hit me up at valentin.lc.dupas@gmail.com, 1 or 2 hours in advance (the more the better)

[2017-10-23 01:04] zhakkarn commented on #230
I forgot to mention it but the above times are UTC/GMT+2

[2017-10-24 21:26] QuincyLarson commented on #170
@seanWLawrence @karuppiah7890 Sorry I've been absent from this thread recently. Your prototype (http://mail-for-good.netlify.com/) looks amazing! You have the green light from my end to do whatever you all think is best. Hopefully we'll be able to re-use your code here to create landing pages for the other open source for good projects in the future, as well :)

[2017-10-30 23:31] gilbertginsberg opened #233 "Question: How do you customize the email subscription confirmation page?"
I've set up Mail for Good and I'm using an MFG form on my site http://www.ciudea.co/. If you enter your email in the input field, the form successfully captures the email address and updates the corresponding mailing list I created in Mail for Good. This is all great.

My question concerns the email subscription confirmation page. If you subscribe, you're brought to a page that looks like this:

!

[2017-10-31 01:16] jonathanRinciari commented on #233
It would need to be set up on your backend to handle the submission or use javascript to prevent the redirect that you are currently using and have it handle the request

[2017-10-31 04:13] hong-duc opened #234 "Question: How to include file in email body ?"
AWS SES support send email with attachment, but I don't know how to include file in the email body to send.

My question only concerns the server side and the AWS SES api. What should I do ? Thank you.

[2017-10-31 06:34] karuppiah7890 commented on #234
Currently, the web app doesn't support using attachments in the emails. You need to work on the front end and back end too, to make this change. In front end, you need to provide a way to upload the files, and in back end store attachments and use SES to send the attachments too in the email

[2017-10-31 06:37] karuppiah7890 commented on #233
Hey @gilbertginsberg , @jonathanRinciari is right. Actually, the best thing to do would be to modify the front end and the use the Mail for Good API endpoints and send Ajax requests and redirect to your customised web page for showing confirmation.

[2017-10-31 06:51] hong-duc commented on #234
It just that I don't know how exactly to put the attachment to the email body, and from that I will work thing up to the client.

Assuming that I store the uploaded file on the server, what should I do to include it in the email body ?

[2017-10-31 14:03] gilbertginsberg commented on #233
Excellent -- thank you @karuppiah7890 , @jonathanRinciari.

[2017-10-31 14:03] #233 closed

[2017-11-01 04:25] hong-duc opened #235 "Question: Why templateInstance exists return error ?"
https://github.com/freeCodeCamp/mail-for-good/blob/a65eb7a92a288786ef5c78adea5adb380f47a38d/server/controllers/template/create-template.js#L34-L39

It confusing, because when I create new template server always return 400.

[2017-11-01 06:59] karuppiah7890 commented on #234
I don't know. I think @zhakkarn @4iar can tell you about that.

[2017-11-01 07:04] karuppiah7890 commented on #235
Haven't encountered an error while creating a template. I think this should be considered as a issue instead of a question. And what errors did you see at the client side ? Any pop ups saying template already exists ?

[2017-11-01 07:36] hong-duc commented on #235
Oh no it not that kind of error, it just an error in console log, because I am change some stuff in the client in the `create template` part and when I test I see that error I thought I do something wrong, so I check and found that part of code on the server and wonder why 😄

[2017-11-01 10:47] karuppiah7890 commented on #235
Ah, okay. Well, check if there are no errors in the back end by checking
the terminal logs.

[2017-11-02 20:14] nickymikail opened #236 "RSS to Newsletter feature"
It's a feature that [MailChimp](https://mailchimp.com/features/rss-to-email/) and [other email newsletter services](https://www.campaignmonitor.com/create/rss-to-email/) support, why not mail-for-good?

[2017-11-06 09:34] mstgeo opened #237 "mail-for-good @ ubuntu 16.04 -- NOT working"
Hi!

I've followed the LOCAL installation procedures for mail-for-good and run the app.

I've set up all things following your manual and got errors while running it as: npm run start

![screenshot-1](https://user-images.githubusercontent.com/33416322/32434208-b22ecdd6-c2dd-11e7-8676-12d5b6111443.jpg)

When I run the app as: npm run dev I have no error but there's no access to the app from the WEB

[2017-11-06 10:00] karuppiah7890 commented on #236
Thanks for the suggestion, we will consider the feature :smile:

[2017-11-06 10:03] karuppiah7890 commented on #237
As far as I know, the `start` script is for production, for which you have to run the `build` script first, which created the distribution files in `dist`. So, try running `npm run build` first, before running `npm run start`

[2017-11-06 10:39] mstgeo commented on #237
Thx! Working ! :) Enjoy !

[2017-11-06 10:39] #237 closed

[2017-11-06 13:46] vicky002 commented on #212
I totally agree.

Please add this in the Wiki installation guide. This worked for me, been struggling a lot since last couple of hours, was not able to figure out the issue.

@nickangtc Thanks for pointing this out. 👍

[2017-11-06 14:13] karuppiah7890 commented on #212
I got permissions now. So, I edited the Wiki page. Thanks @nickangtc :smile:

[2017-11-06 14:13] #212 closed

[2017-11-07 14:19] #235 closed

[2017-11-07 14:20] #234 closed

[2017-11-09 05:44] jakesorce opened #238 "Error updating credentials"
The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details. The Canonical String for this request should have been 'POST / host:sns.us-west-2.amazonaws.com x-amz-content-.........................................................................

[2017-11-09 13:19] karuppiah7890 commented on #238
@jakesorce Hey, I think you need to use the correct AWS Password (in `.env` file) for the user whose Secret key and Access key you are using

[2017-11-09 18:29] jakesorce commented on #238
where in .env is AWS password?

Is it the ENCRYPTION_PASSWORD?

[2017-11-09 18:49] karuppiah7890 commented on #238
Yes, ENCRYPTION_PASSWORD is the IAM user's password and no it's not the same as the secret key of the user

[2017-11-09 18:49] karuppiah7890 commented on #238
And it's not the same as your AWS account's password too

[2017-11-09 19:03] jakesorce commented on #238
So I've tried everything. I created a new IAM user. I generated a random password for that IAM user. I used that random password as the ENCRYPTION_PASSWORD in the .env file and I'm using the Access Key and Secret Access Key of that same user in the "Settings" of the Mail for Good App. I still get the same error.

[2017-11-09 19:04] jakesorce commented on #238
That new user has these permissions set:

<img width="1478" alt="screen shot 2017-11-09 at 12 04 09 pm" src="https://user-images.githubusercontent.com/801470/32624326-23bce004-c546-11e7-8a85-40c0f4c16c40.png">

[2017-11-09 19:17] jakesorce commented on #238
Nevermind I figured it out. Had to generate a bunch of credentials and add a bunch of IAM permissions. Maybe the documentation needs to be updated to better reflect this.

[2017-11-09 19:17] #238 closed

[2017-11-09 19:39] karuppiah7890 commented on #238
There's a video which shows how to add the set of IAM permissions and what permissions (SES, SNS, SQS stuff). And you just need to generate the password for the user randomly afaik. What other difficulty did you face ?

[2017-11-10 22:01] jakesorce opened #239 "Error Sending Campaign Emails"
Hello,

attached you'll find a screenshot of what I'm experiencing.

When I try to send out campaign emails or even just a test email nothing happens.

When I go to settings and add all the correct info for my AWS account it says settings saved successfully, which leads me to believe my account is setup correctly.

My SES account is out of sandbox mode and has a 50,000 daily email limit.

<img wid

[2017-11-10 22:02] #239 closed

[2017-11-10 22:03] jakesorce commented on #239
I had the wrong from email in the campaign. I'll create a new issue for this so either I or someone else can make a pull request to show valid errors if you have the wrong sending email setup in your campaign.

[2017-11-11 00:07] seanWLawrence commented on #170
@QuincyLarson Thanks for the feedback! Yes, you can use it for any project you like.

@karuppiah7890 Sorry I took so long on this, but I've added a modal to zoom in on the image when clicked. You can check it out [here.](mail-for-good-modal.netlify.com)

PS. Most of the images are the AWS set up page [here.](http://mail-for-good-modal.netlify.com/aws-deployment-guide/)

Also, have you all decided

[2017-11-11 04:27] karuppiah7890 commented on #239
That's true. We need some better error handling and show appropriate errors
to tell the user if he/she is in sandbox mode or if they have used an
unverified email and other possible causes

[2017-11-11 04:35] karuppiah7890 commented on #170
It's completely okay. You don't have to be sorry. Also, I am sorry because
I have been quite inactive here except for helping people with issues
setting up the current version and I think others are busy with code and
other work, but not much commits recently. We didn't communicate much too.
I will mail Andrew about the screenshots and get back to you. Thanks a ton
for this. Also, if you would lik

[2017-11-13 22:57] AndrewGHC commented on #170
Hey guys, sorry for my absence in turn!

@seanWLawrence The site you made with Hugo looks brilliant. I think only a few screenshots would be of value, particularly the screen for creating campaigns and perhaps configuring settings. If you feel that anything would be of value then please do throw it in.

Great frontend on the site

[2017-11-13 23:35] seanWLawrence commented on #170
@karuppiah7890 Awesome, I'd love to continue helping with all of the above. Thanks again!

@AndrewGHC Thanks! I'll make those screenshots and add them on the site and loop back to see if there's any other visuals/features to add before getting it ready to launch.

[2017-11-14 05:49] karuppiah7890 commented on #170
@AndrewGHC @seanWLawrence Awesome 👍

[2017-11-14 21:15] zbhoy opened #240 "Unsubscribe Link"
Hi,
I am testing out MFG to see if my organization can use it. I have followed the tutorials and got everything approved and am now stuck on my first test email.

The unsubscribe link did not work. I used the checkbox provided in the software.

And none of the reports are showing up. It just says 6 emails sent and no further info.

[2017-11-15 04:17] karuppiah7890 commented on #240
Have you set the domain name in the last field in the settings page along
with the AWS SES settings ?

[2017-11-17 12:01] Crowes commented on #170
@seanWLawrence That's right on the brand. Kind of inspires a FreeCodeCamp app store!

[2017-11-20 21:46] zbhoy commented on #240
How do i do that last field? Sorry i am new with this and only did what the docs said

[2017-11-21 05:30] karuppiah7890 commented on #240
I am sorry I should have been specific. I am talking about M4G app's
settings page, not AWS. You would have typed your keys in the settings
page, at the end, there will be a field for domain name, fill the app's
domain name (according to your DNS records) over there

[2017-11-21 08:33] mstgeo opened #241 "CAMPAING STATUS: SENT, but NOTHING is DELIVERED."
Hi!

We have sucessfully configured the mail-for-good with google and amazon. We created a test subscriber list with our addresses only, made a template and a created a test campaign.

A test email option is working well (we've got a test email). While trying to send a CAMPAING, it is showing that all passed but we got NOTHING to our mailboxes.

This is strange! The TEST EMAIL functionality is wor