[2017-11-21 08:40] mstgeo commented on #241
![screen shot 2017-11-21 at 10 09 55 am](https://user-images.githubusercontent.com/33416322/33062542-eee39842-ce9f-11e7-9902-41c833afcc36.png)
![screen shot 2017-11-21 at 11 23 36 am](https://user-images.githubusercontent.com/33416322/33062543-ef042cb0-ce9f-11e7-848a-e2962f84b871.png)

[2017-11-21 13:52] seanWLawrence commented on #170
@Crowes Thanks, really appreciate the feedback!

[2017-11-21 23:00] seanWLawrence commented on #170
@karuppiah7890 @AndrewGHC I took a few screenshots of the "Creating campaigns" and "Settings" screens (blank). Let me know if you think I should change anything and your thoughts on if I should a) add new sections to the site specifically for these instructions or b) add them to the deployment instructions?

Secondly, would you also like me to to write the instructions on how to do these?

![scree

[2017-11-22 05:14] karuppiah7890 commented on #170
@seanWLawrence The screenshots are good, and about instructions, I think we can add it to the Wiki later and then the site can get it through the wiki like how it currently gets other docs (installation and others)

[2017-11-22 06:38] karuppiah7890 commented on #241
Have you checked the console log ? Any errors ? And did you try again ? with any other Email IDs ?

[2017-11-23 02:31] 6ilcarlos opened #242 "Limit Authentication of other users"
Once the Application is running in AWS, How do you manage who can log in and use MFG?

I probably did something wrong, however in my current install, anyone can log in MFG by going to the Whitelabeled URL and using their google credentials. How do you avoid this?

[2017-11-23 05:04] karuppiah7890 commented on #242
Currently anyone with a Gmail account can login, we have to do some stuff
to create a whitelist of email IDs that can login. And you don't have to
worry too much, they can login, but they have to set their AWS Service
credentials in their account settings to be able to send emails, which you
would have set already for your account. So, you can send emails. And if
they do have their own AWS credent

[2017-11-23 14:56] 6ilcarlos commented on #242
Great! Thanks for the help! I was thinking about configuring a domain redirect to direct people to other site, however I don't know how that would affect the white label URL.

[2017-11-25 15:48] MitchMo commented on #228
I've been playing around with the Trumail API, and it is telling me, emails from my current work's domain are not deliverable. They are from Office 365. Something like this could get very time consuming as well with each API call

[2017-11-25 16:19] karuppiah7890 commented on #228
@MitchMo Oh. Well, it was just a thought. It's not like we should necessarily use trumail, anything similar to it. And yes, it is time consuming, but it's worth it if people consider validating the email instead of sending and seeing it get bounced and then manually remove them from list in that case

[2017-11-25 16:50] MitchMo commented on #228
No I agree, It would be a nifty feature if you could find the right tool for the job. I like the idea of what you described giving them the option to remove the emails manually once the validation has completed. With that approach you could make something like trumail work

[2017-11-26 03:28] karuppiah7890 commented on #228
Yup and it's also quite good to verify the validity of the email before
sending even the first mail, after which you will surely know if the mail
exists or not. And yes, it's a quite nifty feature

[2017-11-27 00:48] seanWLawrence commented on #170
@karuppiah7890 Sounds good, you can check out the screenshots on the home page [here](https://mail-for-good-screenshots.netlify.com/).

Two things worth mentioning are that my screen resolution is slightly smaller and the original screenshot (the Mail For Good landing page) has a faded color. I'm happy to redo the original one so they all match, but it'd be a little smaller-sized.

Lastly, and my

[2017-11-27 05:33] karuppiah7890 commented on #170
I don't think it's a problem, but if you want to make the user accounts to
be the same, and redo the original ones, I am cool with that. 👍

[2017-11-27 21:30] JoshuaSlaven42 opened #243 "Incorrect Clickthrough URL"
Hi

I'm running into problems with the wrapLink function. I'm running MFG on windows and I wonder if the new line character may be in play?

Following the setup tutorial, this simple template

This produces some unexpected merge html. You can see the html has gotten into the url value and the link text contains part of the {{email}} expression.

`<div>Hi <a href="http://localtest.me:8080/clickthro

[2017-12-04 22:54] seanWLawrence commented on #170
@karuppiah7890 Cool, I'll just leave it then to keep things simple. Would you like me to get it ready and make a PR, or add anything else to it at this point?

[2017-12-05 04:17] karuppiah7890 commented on #170
Let's start making a PR and merge to gh-pages branch

[2017-12-05 10:37] HoenikkerPerez commented on #226
Hi, I've got the same problem. I send emails to bounce@simulator.amazonses.com in order to test and after that I had a look at the SQS Service: I realized that the Messages Available are not consumed by M4G. How can I try to fix it? (if u need more details just ask)

[2017-12-06 03:20] seanWLawrence commented on #170
Pull request: #248 This is my first pull request, so please advise if I need to alter the it in any way. Thanks!

[2017-12-06 03:55] zhakkarn commented on #170
@seanWLawrence  I'll take a deeper look at your PR later but I think that reading [the freecodecamp contributing guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) might help you. The "Forking the project"->"Maintaining your fork" might help you to submiting a PR which only contains the changes you are proposing.

But again it's 4am here and I'll give you better feed

[2017-12-07 23:15] andrewhli opened #249 "More professional looking success page"
Hi there!

Thanks for creating MFG. It's been enjoyable to use!

Currently, after users enter their emails and sign up, they get redirected to a blank page with the following message: {"status":"success","message":"added successfully"}

What's the best way to redirect them to another webpage instead of showing the blank page with that message?

Willing to code this up, so any pointers are apprecia

[2017-12-08 02:22] zhakkarn commented on #249
Hi Andrew,

I glad you appreciate Mail for Good so far.

When you say "another webpage" do you mean a page external to your instance of MfG? Or you do just want to fill the current landing page?

[2017-12-08 02:24] andrewhli commented on #249
Either option works:
- Can fill the current landing page with a generic, professional Success page, or
- Can auto-redirect the user to a webpage of our choice
Let me know what's easier.

[2017-12-08 02:35] zhakkarn commented on #249
If I'm eyeballing it not too badly, both are very easy to do. I do like the redirect to an external webpage as the goal of the subscription form is to be embedded somewhere by the MfG user so it makes sense to redirect the user somewhere on the app he entered his email instead of a "dead-end" on your MfG instance. Plus it would give the MfG user the choice (but also the responsibility) of his land

[2017-12-08 02:47] andrewhli commented on #249
Ok - Giving it a try and will post a snippet if I can't figure it out. Thanks!

[2017-12-08 02:59] andrewhli commented on #249
Here's the new code:
<input type="hidden" name="redirect_url" value="https://google.com">

What's the best way to call "redirect_url"? I've tried <form action="https://URL/api/list/subscribe" target="_self" method="post">, but MFG returns "Cannot POST /api/list/subscribe"

[2017-12-08 03:03] andrewhli commented on #249
Here's the full snippet:
`      <form action="URL/api/list/subscribe" target="_self" method="post">
      <div>
          <div class="subscribe_input">
              <input type="email" value="" name="email" label="signup-email" class="subscribe_input" id="mce-EMAIL" placeholder="Your Email" required>
          </div>
          <div class="subscribe_hidden" aria-hidden="true">
              <input

[2017-12-08 03:15] zhakkarn commented on #249
If you put "URL/api/list/subscribe" in the action property of your form you are sending the form data to http://[the url of your instance/localhost]/URL/api/lists/subscribe which is a route that your MfG instance don't know what to do with.

When you talked about willing to code this up I understood that you were ready to work on a pull request to implement a new default landing page or the new re

[2017-12-08 03:21] zhakkarn commented on #249
Mmh, please ignore the first paragraph of the last comment, I understood what you meant afterward. It's 4am here. I'll get back in this issue tomorrow.

[2017-12-08 03:47] andrewhli commented on #249
Thanks! I can wait until tomorrow.

[2017-12-09 00:24] zhakkarn commented on #249
Alright, a pull request implementing your requested feature has been submitted.

[2017-12-09 00:30] andrewhli commented on #249
Really appreciate this!

Looking forward to cloning from and updating to the latest.

[2017-12-09 01:23] andrewhli commented on #249
I was eager to give this a try, so I replaced "ListSignupFormCreator.js" and "subscribe.js" on my server with your changes to those files. Then I ran "sudo docker-compose up".

After following the steps above, should the new redirect feature work, or does the MFG team have to make more changes before the new feature's supported?

[2017-12-09 01:29] zhakkarn commented on #249
Here is a confusing thing (we did to avoid some complexity when writing the deploy docs) : when you run "sudo docker-compose up" you are pulling and then using an image of mail-for-good from the docker registry, you are not using the sources you retrieved when you cloned the MfG github repo. So if you want to use this change we have to publish a new updated image of mail-for-good to the docker reg

[2017-12-09 01:46] zhakkarn commented on #249
Anyway, thank you again for having the patience to beta test mail-for-good. With the start of proper versioning and a growing number of our beta users, I'll probably join in on the fun of using a MfG instance for real and use it to post newsletter when we'll release a new version with its patch notes. Do I have your permission to add you to this list? Bear in mind that the first one will take some

[2017-12-09 01:47] andrewhli commented on #249
Yes - I'd be interested in joining the newsletter.

Sounds like only the MFG team can publish the new Docker image. I can wait for that.

[2017-12-13 22:07] andrewhli commented on #249
Hey there. Just wondering if there's a day when we can start using this new feature. Thanks!

[2017-12-14 16:42] kumario commented on #240
Hey @karuppiah7890! What if we want to use the M4G unsub process? The unsub URL in the emails appears to be http://unsubscribe/0fbce038-124a-41f5-9c43-6cfec8df01f2 where I imagine it should be http://ec2-34-216-9-4.us-west-2.compute.amazonaws.com/unsubscribe/0fbce038-124a-41f5-9c43-6cfec8df01f2, Would that be an easy fix?

[2017-12-22 05:39] ejdanderson opened #254 "Relation 'users' does not exist at character 112"
Not sure if this is best place -

I've setup everything on AWS, created my OAuth 2.0 Client credentials. I hit the URL and I get a Sign in with Google button. I click it, select my account and it just redirects me back to the same page with the login button.

Double checked that my .env file matches my credentials.
I have both the Google+ API and Google+ Domains API enabled.

Anyone encountered th

[2017-12-22 11:45] Yusadolat opened #255 "Internal Server Error Google Auth login"
Hello there,
I don't know what actually went wrong but i have double check the Docs I followed to recheck, All installation went well except the Google Login. can you please help look to this. Thanks in Advance
![internal](https://user-images.githubusercontent.com/10975011/34297043-fa70b1e8-e715-11e7-946c-a841779d872d.png)

[2017-12-27 02:19] zhakkarn commented on #254
Hi,
Thank you for taking on your time to test mail for good and reaching to us.
I've never heard about this issues. The OAuth configuration doesn't seem to be the problem.

Could you log into your AWS instance just like you did and try to authenticate yourself into your MfG. Is something displayed in your the terminal of your AWS instance? If yes, could you paste it here?

[2017-12-27 02:29] zhakkarn commented on #255
Hi,
Thank you for taking some of your time to test out Mail for Good and to reach out to us.

Did you fill the googleId and secret in the .env?

Could you ssh into your instance (just like you did when deploying) then try to access your instance. Does your terminal display any errors?

[2017-12-27 11:46] ejdanderson commented on #254
Hey, thanks for the response. I went ahead and rebuilt everything, and I believe I have found the issue - its not creating the users table. See the end of the output here:

[code]

[2017-12-27 19:11] zhakkarn commented on #254
The user table will be created when the first user will log in. This error is expected when you run your app for the first time as you never logged into it and therefore didn't create the user table yet. Are you still experiencing a redirect to the login page after selecting your Google account?

[2017-12-27 21:57] ejdanderson commented on #254
I am - I don’t see anything being output in the terminal when I attempt to log in either.

[2017-12-27 23:07] zhakkarn commented on #170
@seanWLawrence  Alright, I had to move just some bits here and there but now your baby is live at https://freecodecamp.github.io/mail-for-good/ thank you again for this.

[2017-12-27 23:07] #170 closed

[2017-12-28 06:52] QuincyLarson commented on #170
@zhakkarn Wow - this looks great! There are a few minor things I think we should change to get it to conform to our [design style guide](https://github.com/freecodecamp/design-style-guide) but in general this looks solid, and does a nice job of bringing all the information scattered across the repo together into one browsable page.

How much maintenance would this page require? Will it automatical

[2017-12-31 16:57] seanWLawrence commented on #170
@zhakkarn Thanks, it looks great, and I really appreciate your help!

@quincylarson I'm happy to update the css to conform to the style guide - thoughts?

It shouldn't require much maintenance, though if you guys would have me, I'd love to help add new features as needed and/or stay in the conversation about the site in case there are any bugs I missed, etc.

And yes, the markdown files for it are

[2018-01-03 04:38] andrewhli commented on #249
Happy 2018! All the work for this feature seems to be done. Any way to add this feature to production?

[2018-01-03 07:40] zhakkarn commented on #249
I had a few things to knock down in order to get everything rolling. My regret is that I kept you in the dark. Expect to see changes at least this week and probably before next Friday.

[2018-01-03 08:12] andrewhli commented on #249
Thanks for letting me know. Looking forward

[2018-01-05 14:14] Yusadolat commented on #255
Thanks for your time @zhakkarn I definitely filled the GoogleID and secret in the env, what actually caused the problem was the **Whitespace** between the Equal sign and the GoogleID. after clearing the whitespace everything works fine. Thanks once again for your time.

[2018-01-05 14:14] #255 closed

[2018-01-06 15:43] zhakkarn commented on #249
Alright, mfg has been updated. To move to update your instance you'll have to kill the process you launched by running ```sudo docker-compose up``` by either running ```docker-compose kill <name of the docker service>``` by default the service calls himself mailforgood_app_1 if you didn't specify a name. Then run ```docker-compose pull``` then ```sudo docker-compose up``` to update your instance a

[2018-01-06 15:44] zhakkarn commented on #249
I'll let you close the issue if you consider ourselves done with it.

[2018-01-07 01:37] andrewhli commented on #249
Appreciate your help with this! I've run the commands you've listed, and MFG has updated. However, after one successful redirect, I'm now running into the following difficulty:

After submitting the email address, MFG redirects to this page:
![screen shot 2018-01-06 at 7 33 48 pm](https://user-images.githubusercontent.com/5068143/34645638-a0e22300-f318-11e7-8e8a-66782fd98467.png)

Here's the form

[2018-01-07 18:33] andrewhli commented on #249
Here's how to recreate the issues:

1. If you sign up with a duplicate email address that already exists in the list, then the redirect will work (in my case, it will go to "https://google.com")

2. If you sign up with a new email address that does not exist in the list, then the redirect will go to the mail server (in my case, it will go to "mail.test.com") and return a "Page not found" error.

H

[2018-01-07 20:59] deadcoder0904 opened #259 "Add HEML"
It would be nice if it uses https://heml.io/

[2018-01-08 13:10] zhakkarn commented on #249
I messed up. You are using it properly.

The docker image has been patched, you'll have to pull it again (sorry) and everything should be fine.
By the way, props to you for posting a good issue description.

[2018-01-08 13:14] zhakkarn commented on #259
Looks damn nice. I was thinking of using [foundation for emails](https://foundation.zurb.com/emails.html) to up our markup game. I'll look into HEML but our main target are non-profits managed by not-too-tech-savy persons and I'll focus on putting up a drag and drop interface in which you'll be able to drop content into a responsive grid.

[2018-01-08 13:24] andrewhli commented on #249
Thanks! The feature works very well. Looking forward to the newsletter you're putting together

[2018-01-08 13:24] #249 closed

[2018-01-08 13:27] zhakkarn commented on #249
I won't post a round of newsletter this time as there is only this feature to cover. But stay tuned because a drag and drop interface to generate responsive emails is bound to come.

[2018-01-08 15:14] deadcoder0904 commented on #259
Ahh, both are nice. I personally like HEML due to [live preview](https://heml.io/editor). It gives you the direct HTML Code. Idk if Foundation has it.

Also Drag & Drop will be nice too, but I think it would need a lot of time to implement. This might need a lot of time actually I think to create a full-blown website like Wix or so.

I think until its implemented, HEML integration should be super

[2018-01-09 12:02] microworlds opened #262 "Typo in response message while generating email csv"
A little typo in `generateEmailCsv.py` file

https://github.com/freeCodeCamp/mail-for-good/blob/a68222fa94cb5552eaa5544c5494ddba7f09c5a8/utility/generateEmailCsv.py#L7

I think it should be:
`print('This may take some time if the CSV is large ...')`

[2018-01-09 15:29] AlexVipond commented on #255
@zhakkarn I encountered the same Internal Server Error right after choosing which Google account I wanted to use. It happened on both my local installation and my AWS installation. The Google ID and Secret were both filled in without whitespace.

[2018-01-09 15:48] zhakkarn commented on #255
@AlexVipond If my memory serves me right, we had a similar case in which the user had a proxy messing with the redirect which following the authentication (the one occurring right after selecting your google account). @karuppiah7890 is the one having most of the details on that one.

[2018-01-09 16:43] AlexVipond commented on #255
@zhakkarn thanks, I remember reading through that issue but couldn't figure out if that was my problem. @karuppiah7890 any details are much appreciated!

[2018-01-09 19:10] AlexVipond commented on #255
@zhakkarn @karuppiah7890 my local and AWS instances are both working fine now. The only thing I changed was to use a different set of Google API credentials. The credentials were created last night, but the project was created last week. Maybe there's some kind of waiting period before you can connect to the API?

[2018-01-09 19:19] zhakkarn commented on #255
Maybe but I remember when I did set up my creds for the first time I was able to run locally MfG the same day. Anyway, good to hear that you have your instances running.

[2018-01-09 20:34] #262 closed

[2018-01-09 20:54] zhakkarn commented on #259
Foundation is a responsive front-end framework which has a subset dedicated to making responsive emails working with all major email clients. So you can live preview it just like any HTML page you've built up to this point.

I get that HEML would be easier to implement but quite some work has already been put into a drag & drop editor and the effort to finish it would be equivalent to implementing

[2018-01-10 07:03] deadcoder0904 commented on #259
Yep I've used Foundation a year ago & now I recollect it had some Live Preview 😂

If its started already, then do it. I thought if its not done, then HEML integration would be easy. Close this if you're going with D&D Editor

[2018-01-16 11:03] r-kommerce opened #265 "Internal Server Error"
Followed instructions from https://github.com/freeCodeCamp/mail-for-good/blob/master/docs/aws_deploy.md

Server is up, docker is running, when hitting the website, prompted for google login.  Have tried with different credentials but the end result is the same:

Internal Server Error

Looking at docker-compose logs output:

app_1       | Error
app_1       |     at /usr/src/app/node_modules/passpor

[2018-01-16 19:30] zhakkarn commented on #265
The credentials you need are on a page looking like [this](https://imgur.com/YmYKKJi). The same page in which you specified the post-authentication redirect. Can you confirm me that these are the ones you are using?

Unfortunately, the logs you are providing are telling me that you had an authentication problem. Nothing more.

[2018-01-17 06:13] r-kommerce commented on #265
I can confirm that I am using the credentials from that page.  If there is any way to provide additional debugging information please let me know.
![putty-cred](https://user-images.githubusercontent.com/35488764/35028328-87307472-fb90-11e7-9c13-14ade36119c7.PNG)
![web-cred](https://user-images.githubusercontent.com/35488764/35028329-87613378-fb90-11e7-9832-586c4a9a1bd6.PNG)

[2018-01-17 16:37] zhakkarn commented on #265
With the current feedback we are getting I've started to rework the process of deploying MfG. The current strategy is too heavy resulting in a forever-unsufficient documentation and inconsistent success rate. For some it works out of the box, for some, it's on their 2nd try with apparently no differences from the 1st attempt and in some other cases the authentication is a problem which has a diffe

[2018-01-18 16:56] #240 closed

[2018-01-20 04:48] kslr commented on #242
I think I can set the nginx IP check, I was through proxy_pass visit.
However, the use of google landing significance and where?

[2018-01-22 04:28] r-kommerce commented on #265
We appreciate your generosity in offering to help us get this set up. While our need is somewhat urgent, I prefer that you use your valuable time to improve/bullet-proof MfG to amplify the benefit to the community, especially seeing as this is a problem that has/will hit other people.  We look forward to trying it again when you've had a chance to further refine the installation process!

[2018-01-24 15:24] edgardok commented on #265
hi!  im in the same problem, looking for a solution:

app_1       |
app_1       |   ############################
app_1       |   #   Mail 4 Good started    #
app_1       |   ############################
app_1       |   # Port: 8080
app_1       |   ############################
app_1       |
app_1       | (node:47) DeprecationWarning: Using the automatically created return value from client.query as

[2018-01-26 20:53] joepin commented on #259
Just thought I’d throw in my two cents - as an avid Costant Contact user, I would love to see a drag and drop editor. There are several options out there for doing so - take a look at these:

http://grapesjs.com
https://github.com/ory/editor

Probably not feasible for v1, but I’m just adding here for potential future versions.

[2018-01-26 23:47] zhakkarn commented on #259
thank you @joepin for these suggestions.

I'm already using ory to build the editor. I'll look into grapesJS it looks awesome (but also overkill/out-of-our-league)

[2018-01-26 23:51] zhakkarn commented on #265
@r-kommerce  and @edgardok . I forgot about this possibility : did you enable the [google+ API](https://imgur.com/7kRWpa4)?

[2018-01-27 03:33] zhakkarn opened #266 "Replacing auth through Google+ by regular email/password auth"
I'm proposing to switch to a classical email/password authentication. It would remove work from our users. I see two solutions if we want to move to a one-click installation (and a better adoption rate). We can automate the process of creating credentials then inject them into the .env for every deployment. But I can only imagine doing that using some Puppeteer shenanigans. Or make the solution in

[2018-02-10 05:07] SantaHub opened #269 "cant save HTML templates and no analytics section"
<img width="1920" alt="screen shot 2018-02-10 at 10 32 41 am" src="https://user-images.githubusercontent.com/12994795/36058726-43294cf6-0e4e-11e8-814c-47416b9aa4d4.png">

Followed Mail for good documentation. Did i miss anything ? I cant get the analytic tab and couldnt save HTML templates.

[2018-02-13 03:58] zhakkarn commented on #269
Hi @SantaHub , Could you please give me more details about what you are expecting to find?
The analytics are on the "campaign>manage campaign" tab and on the dashboard. As to the HTML template, I just saved a brand new one and sent it to myself without encountering any problems so I'll need the exact steps you used to recreate the problem.

[2018-02-13 18:10] deadcoder0904 commented on #259
For more inspiration, https://designmodo.com/postcards

Only if you haven't build already 🙈

[2018-02-13 18:31] deadcoder0904 commented on #259
No problem. I'll post more if I find anything. Thanks for making this product better 🙌

[2018-02-20 18:43] alexgleason commented on #266
Hi, thanks for developing this! I want to use it, but I don't have a Google account. I refuse to create one because of the privacy implications associated with having one. If there were an option for email/password auth that would be great. :smile:

[2018-02-20 22:40] zhakkarn opened #270 "{appURL}/login should redirect to {appURL}/ when a user is already authenticated"

[2018-02-21 01:48] zhakkarn commented on #269
Can't reproduce and no bump/details from author. Closing for now.

[2018-02-21 01:48] #269 closed

[2018-02-22 20:00] rkpattnaik780 commented on #270
I am interested to work on this issue.

[2018-02-23 17:13] motdde opened #271 "HTML Email delivered in plain test"
When sending HTML emails, I get the code in plain text. I don't know if this is an issue or I just don't know how to use the app.

I also get payload error sometimes when adding template

Someone help, please

[2018-02-23 23:33] zhakkarn commented on #271
Tried on my end. I can't reproduce your problem. Could you provide me with a description of how you managed to encounter this problem?

I am assuming that you know the [limitations of HTML emails](https://kb.mailchimp.com/campaigns/design/limitations-of-html-email)

[2018-02-24 16:02] motdde commented on #271
I use emailframe.work as a boilerplate which I think has handled the limitations.

[2018-02-26 03:06] zhakkarn commented on #271
Alright, I failed to understand what you were doing. One of the main missing pieces right now is the ability to import/paste your own HTML into the editor. Right now we have "HTML templates" as in "use the WYSIWIG editor" but not as "give us raw HTML"

[2018-02-26 08:36] motdde commented on #271
Okay, I had to use mailblast.io eventually.

[2018-02-26 14:07] zhakkarn commented on #271
Cool, I'm glad that you found something that fits you. Moonmail.io is quite nice too, you might want to take a look at it before committing to mailblast.io

[2018-02-26 14:07] #271 closed

[2018-03-03 17:24] ohansemmanuel commented on #265
@zhakkarn thanks for your input here. I seem to be having the same issue. is there an imminent fix around the corner?

Thank you!

[2018-03-03 21:56] zhakkarn commented on #265
@ohansemmanuel , next week (Wednesday?) authenticating using Google+ will be opt-in and the default way to login will be through the classic email/password process. This will remove the need to set up your access to the Google+ api from your instance and by consequence, it will fix this problem and remove some hassle from the setup.

[2018-03-04 17:57] DarkMethod commented on #270
Where is it redirecting to if not {appURL}?

[2018-03-05 00:10] zhakkarn commented on #270
This is not the issue. The issue is, once you are logged-in, you can query {appURL}/login which is http://localhost/login in your case and be presented with the login form. What is needed is to redirect the logged-in user to http://localhost/ if he queries http://localhost/login

[2018-03-05 00:11] zhakkarn commented on #270
^made the title clearer (...I hope)

[2018-03-06 02:54] ohansemmanuel commented on #265
Thanks a lot! @zhakkarn

[2018-03-06 10:57] HassanAli321 commented on #270
#273

[2018-03-12 00:24] AlexVipond commented on #243
@JoshuaSlaven42 I'm having this issue as well, I can't use any templates that insert fields and track links.

However, @QuincyLarson does it successfully in this video: https://www.youtube.com/watch?v=_7U03GVD4a8

So I'm not quite sure what the root cause is

[2018-03-12 14:10] JoshuaSlaven42 commented on #243
@AlexVipond It's my understanding of the regex expression used by mail-for-good as of issue creation that the line break you see in the video that enables using both fields and links in the same message.

Have you tried breaking fields and link tracking apart into separate lines?

[2018-03-14 02:16] darkrubyist opened #274 "sudo docker-compose up failed on local development."
Hello, I was trying Mail For Good on my local development but I receive the following error.
Is there anything I can do to fix it?

Thank you!

[code]

[2018-03-16 11:26] AndrewGHC commented on #274
Hey @darkrubyist - please set a password in your .env file, as in https://github.com/freeCodeCamp/mail-for-good/blob/master/.env.example

[2018-03-16 11:26] #274 closed

[2018-03-16 11:59] darkrubyist commented on #274
Thank you very much for your help.
Now seems that Docker is composing and the server is starting, but when I visit the http://localhost:8080, there is no server running:

Here are my logs. Thank you very much again!
[code]

[2018-03-16 12:16] darkrubyist commented on #274
I figure out why it was not working. http://localhost:8080 didn't work but http://localhost did. Thanks for help @AndrewGHC

[2018-03-17 10:48] harrydry2 opened #275 "Following aws_deploy commands and have an error"
I've just read the command:

`ssh -i "<path to the key file you downloaded earlier>" ubuntu@<your Public DNS (IPv4) from Amazon>`

And I've got the following error: The authenticity of host 'ec2-18-232-190-231.compute-1.amazonaws.com (18.232.190.231)' can't be established. Permission denied (Public Key)

Would really appreciate  some help. Got 10k emails needing sending!

[2018-03-17 22:45] AndrewGHC commented on #274
@darkrubyist Glad you got it working, thanks.

[2018-03-17 22:45] #100 closed

[2018-03-17 22:46] #109 closed

[2018-03-18 00:52] zhakkarn commented on #275
Just to be sure. In a terminal, you did input something like this :
```  ssh -i "200118Main.pem" ubuntu@ec2-18-232-190-231.us-west-2.compute.amazonaws.com```

If the .pem file is sitting in you /home you can copy paste as is the command given to you when you click actions>connect from the page looking like [this image](https://i.imgur.com/wgO5xHA.png)

[2018-04-02 22:05] Dejesumensaje opened #276 "I can't import lists"
I have a problem. When I try to upload a csv, I got a confirmation message but the list stays empty. Also, I'm trying to send a test mail but it loops forever.

[2018-04-03 08:34] zhakkarn commented on #276
Did you set up your SES account on the setting page (at the bottom of the menu on the left)? Can we have a sample of your CSV?

[2018-04-03 16:30] zhakkarn commented on #276
Can you take a look at the last row?

[2018-04-03 16:49] Dejesumensaje commented on #276
It worked! Ty so much.

[2018-04-03 19:29] #276 closed

[2018-04-07 16:42] kevin1193 opened #277 "Can we create and API for this?"

[2018-04-10 21:07] rifkegribenes opened #278 "ERROR: relation "settings" does not exist at character 204"
Hi, last week I was able to deploy successfully on AWS and send emails, but now that I'm trying to run it locally I can't get it set up.

I followed the instructions here: https://github.com/freeCodeCamp/mail-for-good/blob/master/docs/local_deploy.md

and after running `sudo docker-compose up` i got the following error:

[code]

i see there is a previous issue that references this same error (#172

[2018-04-10 21:40] zhakkarn commented on #278
On the first launch, you may see this error or the one below
[code]
This is because you have launched a fresh MfG and there is no user nor user AWS configuration (aka "settings") yet. These errors won't be displayed once you have logged into your instance and filled up the setting page.

Did you try to visit localhost regardless?

[2018-04-10 21:49] rifkegribenes commented on #278
@zhakkarn this is a different error though, it's not the `"users" does not exist` error, mine says `relation "settings" does not exist`. i'm getting the "users" error as well but was not worried about it because i saw from other issues that this is normal on first login. i'm going to try reinstalling everything and starting over and see if i can get it to work... it's working fine on AWS

[2018-04-10 22:13] zhakkarn commented on #278
@rifkegribenes What I failed to convey is that it is a different error but the same cause. Before replying I relaunched the app through docker-compose after clearing all anonymous volumes and recreating the containers. I got both errors then visited http://localhost/ and got the app served.

[2018-04-10 22:15] rifkegribenes commented on #278
@zhakkarn thank you, i just switched back to `stable` in `docker.compose` and rebuilt and now it is working! thank you for your response, i'll close issue.

[2018-04-10 22:15] #278 closed

[2018-04-21 07:57] deadcoder0904 opened #279 "Difference between Sendy & Mail For Good?"
Recently I got to know about [Sendy](https://sendy.co) & both the services look similar to me.

The pricing is also similar ,i.e, $ 1 = 10000 emails & both are Self Hosted Services.

One difference I found is it has a one-time fee of $59 & for every major release updates won't be free.

Anyone with knowledge of Mail Server care to explain the difference between both❓

[2018-04-21 09:45] NoelLH commented on #279
I had a quick look at it while researching options that included Mail for Good. As you say, the one time fee is a difference, and more importantly the fact the code is not open source. This pretty fundamentally changes how the commitment to a given tool works.

I think the current position of features developed is not hugely different, but the impression I got is that Sendy has been there for a wh

[2018-05-04 11:19] hakash commented on #212
Hi all!

I've been trying to get the project up and running locally in a docker environment and I was able to resolve this issue in my installation.

After dumping the JSON returned from Google in Passport, I saw that I needed to take an additional step in my Google API setup. The Google+ API has to be enabled. You can find the specific page here: https://console.developers.google.com/apis/library

[2018-05-05 02:52] arunsathiya commented on #206
Happened to come across this issue and was wondering if there has been any progress to this. I have recently started learning code on freeCodeCamp and Mail For Good is one of those first projects I am learning to setup and use. Would love to see this working with Glitch one day.

[2018-05-05 02:56] arunsathiya commented on #225
Following up here to learn what the right CSV import format is. I have tried a bunch of sample CSV files and all such files seem to show errors like "Unexpected end of input" and "Unexpected identifier" when I click on the "Subscribers" button after import.

[2018-05-07 04:55] zlfdtc1983 commented on #265
I have the same problem.  I have enabled Google+ API, but error still happens.

[2018-05-07 06:22] arjunsinghriard opened #280 "Authorized redirect URIs google+ api not allowing public IPs."

[2018-05-07 07:01] #280 closed

[2018-05-07 14:09] zhakkarn commented on #212
👋 @hakash ,
Unfortunately, the problem is different. If you run the app in dev mode you encounter a broken app because you get the react frontend served before authenticating yourself.

Whereas the expected flow is:
you query the app
-> app gives you an HTML document containing a form to authenticate yourself
-> you authenticate yourself
-> you get the react frontend served
-> the react frontend p

[2018-05-07 14:41] zhakkarn commented on #225
@arunsathiya you need to have one "email" column. The other columns are the variables you'll use in your templates.

[2018-05-07 14:47] zhakkarn opened #281 "Make the "email" columns of the CSV import insensitive to case and special characters"
While importing a list of subscribers the app should translate the different ways of writing "email" to exactly "email".

e.g:
"Email"->"email"
"EMAIL"->"email"
"e-mail"->"email"

[2018-05-07 14:50] zhakkarn commented on #225
@arunsathiya Issue #281, destined to first timers is up to make the whole situation a better. If no one bites I'll do it after finishing what's on my plate.

[2018-05-07 14:52] #225 closed

[2018-05-07 19:56] arjunsinghriard opened #282 "attaching image or embedding image into email."
Hi, first and foremost, amazing work on this open source project. It's giving me the ability to send daily inspirational quotes. I'm quite new to this, however I can't seem to embed an image or have the ability to attach an image into the message. please help. thank you.

[2018-05-10 17:06] deltagolf commented on #189
As @bmorelli25 has said, I solved this issue by changing the header to "email" instead of "Email".

[2018-05-10 17:14] deltagolf commented on #189
I've been searching the code and I think changing this line would fix this:

https://github.com/freeCodeCamp/mail-for-good/blob/d1983c30c0ac6a7b9ec20e1ad3924dd506165eda/server/controllers/list/import-csv.js#L35

[2018-05-10 21:50] hakash commented on #212
@zhakkarn Oh, I got the login page right away, but I guess I ran it as if production then. I'm glad I could be of some help at least, even if it was demonstrating confusion from the docs 😁

[2018-05-12 15:42] Gabbyjose commented on #281
hey there, is this ticket still available? i'm happy to help!

[2018-05-12 15:47] zhakkarn commented on #281
Hi @Gabbyjose ,
As of yet I no one has been assigned to resolving this issue and no pull request has been submitted.

[2018-05-12 15:48] Gabbyjose commented on #281
Hi @zhakkarn, could you show me where in the code this fix needs to happen? I can take a look at it this weekend!

[2018-05-12 16:30] zhakkarn commented on #281
I'm split on this. Finding where is the problem lies represent 80-90% of the work on this one and "First timers only" issues are made to let newcomers onboard themselves more easily by giving them something to look for while they are looking around for the first time.
What I suggest is that you run mail for good on your machine, play with the app and look at the structure of the /client folder. Yo

[2018-05-12 17:16] Gabbyjose commented on #281
I see what you're saying, I'll go ahead and clone the code and begin playing around with it. I'm working on a Mac and need to set up some of the pre-reqs you have on your wiki, so I can start there. Once I dive into the code I can let you know if I have any questions!

[2018-05-28 17:51] #279 closed

[2018-05-28 17:53] zhakkarn commented on #275
@harrydry2 I know it has been a long time since you submitted your issue but now Mail for Good has changed its deployment method and is now as easy as clicking a few buttons.

I'm gonna close this issue as it can't happen again.

[2018-05-28 17:53] #275 closed

[2018-05-28 17:54] zhakkarn commented on #266
@alexgleason Well, it has been some time but it's done. yay!

[2018-05-28 17:54] #266 closed

[2018-05-28 17:57] zhakkarn commented on #254
Due to the recent changes in the auth strategy, this isn't a problem anymore.

[2018-05-28 17:57] #254 closed

[2018-05-28 17:59] zhakkarn commented on #259
I'll close this issue and add HEML support in the "dope but not essential" category along with changing quill for grapejs.

[2018-05-28 17:59] #259 closed

[2018-05-28 18:03] zhakkarn commented on #265
Due to a lack of information and an impossibility to reproduces the bugs I'll go ahead on close this.

[2018-05-28 18:03] #265 closed

[2018-05-28 18:06] zhakkarn commented on #277
We could, but right now we are pretty much putting a UI and a DB on top of Amazon SES. If we remove the UI you might as well directly use the aws-sdk for nodejs or nodemailer.

[2018-05-28 18:09] zhakkarn commented on #242
Authentications to the instances are now limited by the new auth strategy.

[2018-05-28 18:09] #242 closed

[2018-05-28 18:10] alexgleason commented on #266
Hooray, thank you! I'm still wanting to use this. :grin:

[2018-05-28 18:13] zhakkarn commented on #227
After the recent changes, I'll need you to fill up a separate issue if you encounter any problem on deploy/first launch

[2018-05-28 18:13] #227 closed

[2018-05-28 18:16] zhakkarn commented on #206
@QuincyLarson Mail-for-Good does run on Glitch. You have to provide the creds of a remote postgres and redis in the .env but it does. I wouldn't recommend using Glitch to work on the project though.

[2018-05-28 18:16] #206 closed

[2018-05-28 18:18] zhakkarn commented on #190
deploy should be way simpler now. More hosting solutions will be explicitly supported if the community asks for it.

[2018-05-28 18:18] #190 closed

[2018-05-28 19:39] dynelight commented on #281
I'd love to work on this if it is still available.

[2018-05-28 19:49] zhakkarn commented on #281
looks like it is.

2018-05-28 21:39 GMT+02:00 Esteban Rodriguez <notifications@github.com>:

[2018-06-11 00:48] wimo7083 opened #289 "Unable to save credentials"
Hi there, I tried the heroku click to deploy to test this out and I'm running into issues. The deployment works fine and I'm able to login using the default credentials, and login using those. But when I go to add the AWS SES credentials I get a spinner icon that keeps going. Eventually the spinner icon stops and there's an icon saying "not saved" over each one.

[2018-06-11 01:06] zhakkarn commented on #289
Alright, thanks for reporting this. I will get on it tomorrow. I'll keep you posted.

[2018-06-11 01:32] wimo7083 commented on #289
Thank you for the assistance. I'm not sure what's causing it and if you need more details or specifics I can assist with that.

[2018-06-11 23:01] AlexVipond opened #290 "Add docs for configuring white label URL"
Which DNS records need to be added to make sure open and link tracking works with a white label URL? And which records allow the user to open the app through a nicer URL (e.g. website subdomain)?

[2018-06-13 00:12] zhakkarn commented on #289
Alright, thank you for reporting this. It is now fixed. I'll close this issue and will reopen it in case you keep encountering this problem.
I'll need you to delete your instance on heroku and deploy a new one as it is (for now) the easiest (and kind of embarrassing to tell) way to update. I'll get around a better Updating flow after putting a continuous integration pipeline.

[2018-06-13 00:12] #289 closed

[2018-06-26 12:34] manjeshpv commented on #205
open source email server compatible with Amazon SES APIs https://github.com/manjeshpv/emailq works with SMTP

[2018-06-26 12:35] manjeshpv commented on #208
open source email server compatible with Amazon SES APIs https://github.com/manjeshpv/emailq works with SMTP

[2018-06-26 12:35] manjeshpv commented on #209
open source email server compatible with Amazon SES APIs https://github.com/manjeshpv/emailq works with SMTP

[2018-06-26 13:20] manjeshpv commented on #161
open source email server compatible with Amazon SES APIs https://github.com/manjeshpv/emailq works with SMTP

[2018-07-09 01:18] AlexVipond commented on #226
@karuppiah7890 @4iar @HoenikkerPerez I have the same problem. Messages Available is greater than 0, i.e. they are not being consumed. Campaign Report shows opens, but not bounces or complaints

[2018-07-13 09:31] deadcoder0904 opened #299 "Difference between Local & Server Deployment?"
How fast Mail For Good is Locally & on Server so I can choose if I can go with Local Deployment without the need of Redis & PostgreSQL on server.

From what I can understand, if I go full server, then I have to use AWS SES & then Redis & PostgreSQL on the server as well.

And if I go Local, I only have to use AWS SES on Server rest I can do locally right?

And if I go Local, how long will it take

[2018-07-13 14:18] zhakkarn commented on #299
running on a server or your desktop as the same outcome if you have the same computing power on both sides. It probably won't heat up your machine (I wouldn't try it on a desktop at first because I don't encourage running any heavy stuff on a laptop).
You can have a postgres and a redis hosted separately if you want you'll just have to specify them in the .env file and start the server with ```npm

[2018-07-13 14:18] #299 closed

[2018-07-13 15:21] zhakkarn commented on #299
Honestly it depends mostly on the maximum send rate of your SES account.

[2018-07-13 15:30] zhakkarn commented on #299
let's say you have the same basic send rate as I do. 14 emails/second, you'd have to no turn off your desktop for ~20 hours straight. So yeah it doesn't seem like a good option.

You can run almost everything at once if you take the Dockerfile, docker-compose.yml and your .env file on a server and run ```docker-compose up```. When I say 'almost' I mean that you'll still have to setup your SES acco

[2018-07-13 18:20] deadcoder0904 commented on #299
@zhakkarn But that's for a lot of emails right, to be exact, 10,08,000, i.e, 1 million 8 thousand subscribers right?

Another question is, as it is using AWS SES so I just need to submit CSV file & Template & rest is handled by SES. So why my `localhost:8000` server needs to be ON once its sent the data to SES?

[2018-07-13 18:33] zhakkarn commented on #299
@deadcoder0904 gadamn, I slipped on my calculator like a dumbass. Indeed, It would take 6min to send your 5000 emails.  So you don't really need a server, your personnal computer will be just fine.

The app is continuously sending receiving from and sending data to SES. This is why it needs to stay ON during the whole blast.

[2018-07-13 18:34] deadcoder0904 commented on #299
Appreciate it. Thank you so much. Also, as I am not gonna send more than 5 emails per month, how cheap can a server be for this stuff? Can it be free?

[2018-07-13 18:41] zhakkarn commented on #299
For any super short sendings, you can definitely use a free Heroku instance, just use the button on the Readme of this repo. You may want to check [the limitations of the free Heroku instances](https://www.heroku.com/free) the only problematic one imo is that your app can't be up more than 18h per day so you may have someone filling the subscribing form for one of your lists and send it during the

[2018-07-14 06:47] deadcoder0904 commented on #299
@zhakkarn Hey can you recommend on AWS if you have any experience with it?

Do you think AWS On Demand is okay for it?

Also, there are lots of solutions on AWS EC2 - On-Demand, Reserved Instances, Spot Instances, Dedicated Hosts & Per-Second Billing. Can you tell me which one would be inexpensive & effective?

[2018-07-14 19:55] zhakkarn commented on #299
I don't have enough experience with Amazon EC2 to recommend anything. If I were to use Amazon to host the app I'd first research how I could use Lightsail to run the app on a single t2.micro instance. But outside of that, I can't really orient you.

[2018-07-14 20:02] deadcoder0904 commented on #299
Thanks again for all the help. I am reading lots of docs but its overwhelming so I might go with Heroku instead. Lets see :)

[2018-07-16 05:51] deadcoder0904 commented on #184
@karuppiah7890 So does this mean, Email Subscribers & Unsubscribers are managed by Mail For Good❓

I am just starting out with no subscribers & would love to use Mail For Good. So I was handling a way to manage Emails both the subscribers & unsubscribers, if its already built-in then that might be dumb thing to do 😂

So do I have to do something like

# emails.csv

[code]

to start out & then rest

[2018-07-16 07:46] deadcoder0904 commented on #184
cc @zhakkarn as you're more active here 😉

[2018-07-16 10:36] 9jaswag commented on #281
seems like lots of folks have indicated interest in this, is it still available? @zhakkarn

[2018-07-16 10:54] deadcoder0904 commented on #190
@zhakkarn I think you should keep this open as it is not way simpler on AWS. I just tried it & it was a pain in the ass. It literally takes a lot of time (approx. 30 mins) for a AWS beginner.

@smiller171 I agree with you. CloudFormation is the way to go. This won't require new users to set up a lot of thing. CloudFormation is like Heroku's one-click deployment when I didn't have to setup anything

[2018-07-16 11:59] deadcoder0904 commented on #184
Okay I got it. I just created a sample csv file like

[code]

& imported it & now everything is handled by Mail For Good :)

[2018-07-17 01:20] zhakkarn commented on #281
There's already a PR covering this. I just forgot to close the issue. Sorry.

[2018-07-17 01:20] #281 closed

[2018-07-19 08:56] deadcoder0904 opened #301 "Make it work with SPAs like React, Vue, Angular"
I have basically this form

[code]

But I want it to have a client-side validation & so I used [FormData](). If you don't know what `FormData` is & never heard about it (I didn't) it works like Form but through JavaScript rather than HTML.

I am using React & I implemented something like this -

[code]

Everything is same, just implemented in React using [this CodePen](https://codepen.io/agconti/p

[2018-07-19 15:25] deadcoder0904 opened #302 "HTTPS support"
Currently I am using it for [my site](https://akshaykadam.me) & when I submit it to my HTTP URL, it gives me this warning

[code]

So there should be a guide to add direct HTTPS support. I am currently trying LetsEncrypt or AWS Certificate Manager but finding it tedious unfortunately :(

[2018-07-19 22:41] zhakkarn commented on #302
Yes there should be. Yes mail for good is stalling. Yes mail for good is not declared released yet. Yes it's not going to be declared released soon unless there is an unbelievable influx of contributors and a stupidly efficient way of dealing with them all without friction.

[2018-07-20 04:48] deadcoder0904 commented on #302
LOL now I know why the mail was for 😂

[2018-07-21 19:16] AlexVipond commented on #226
@karuppiah7890 @4iar any thoughts on this? ☝️

[2018-08-16 19:13] sage-godspeed commented on #226
![screenshot 13](https://user-images.githubusercontent.com/22007488/44229700-b7741200-a190-11e8-8266-43cd10ccd119.png)
![screenshot 14](https://user-images.githubusercontent.com/22007488/44229701-b80ca880-a190-11e8-8d88-4e13318326de.png)
![screenshot 12](https://user-images.githubusercontent.com/22007488/44229702-b80ca880-a190-11e8-9db8-74b3f3337fba.png)

Here are screenshots to the issue after do

[2018-08-25 04:00] palpalikta commented on #270
i would like to work on the issue

[2018-09-19 03:22] MahbbRah opened #304 "When running from this repo codes it's throwing error SequelizeBaseError"
I'm trying to add the classical login with user password by customizing but after pulling codes and running by building from source with docker I can see that it's already there. But some problems are raised so that it is not working here is the shot after successfully dockerized the source:

it seems like the issue is with a password.

![Error throwing by postgres](https://i.imgur.com/EcM9f3x.png

[2018-09-19 13:27] zhakkarn commented on #304
What happened is that you moved from Google+ auth to classical auth in on the app side but not on the DB side. You need to have a 'password' column in your 'users' table so the app can use the classical email/password credentials.
running the script below will update the DB to the state expected by an updated app.
[code]

[2018-09-19 20:16] marjanovicsteva commented on #133
I open to fix this one. Is anyone working on it atm?

[2018-09-27 07:53] theboman opened #305 "unable to login?"
I have followed the documentation included with the github:

I have editied the .env file with my oAuth config
I get the home screen login -
<img width="727" alt="screen shot 2018-09-27 at 1 21 15 pm" src="https://user-images.githubusercontent.com/8676871/46131025-4d9f5b80-c258-11e8-898f-61fb46fde30a.png">

login using google, it just comes back to a screen saying:
 **Internal Server Error**
from

[2018-10-02 14:07] avid88 commented on #302
I'm very sorry to hear that mail-for-good is not going to continue to develop,
However, I found a new project that also using SES to send emails, for now it has no UI but maybe it can provide some value, I am using it.

[2018-10-02 14:09] avid88 commented on #302
I'm very sorry to hear that mail-for-good is not going to continue to develop,
However, I found a new project that also using SES to send emails, for now it has no UI but maybe it can provide some value, I am using it.

[2018-10-17 23:41] pickleshy commented on #189
I too solved the issue by lowercasing "email" – would be very helpful if the helptext could be explicit about capitalization.

[2018-10-23 06:53] aksanoble opened #315 "Support for personalising emails"
Can we send personalized emails using templating such as
`Dear {{FirsName}}`

[2018-12-14 17:11] freezix commented on #301
The route your posting at only accept GET method, that's why you get a 404. If you want to post new subscribers according to [the route file for the lists](https://github.com/freeCodeCamp/mail-for-good/blob/master/server/routes/lists.js) you should post at **/api/list/add/subscribers** :
[code]

[2019-02-05 12:15] jwulf commented on #266
Can you link to the commit? Or docs?

[2019-02-05 12:31] jwulf commented on #266
This doesn't work with the docker image in the `docker-compose` file. You have to rebuild the docker image using the `Dockerfile`

[2019-03-10 14:12] goehlemichael commented on #315
I have found that if you import a csv in the format:
| email | FirsName |

with the first name of the recipient next to their email. You can then use {{whatever you want}} as a variable in the email.

[2019-03-10 14:16] goehlemichael commented on #290
For example:
You can create an A record such as "email.customdomain.com" and have it point to the ip of your sever. You can then use that url as the whitelist label

[2019-03-10 14:19] goehlemichael commented on #243
If I follow the format:
{trackingExample/https://www.example.com}

It displays on my email like this:
https://www.example.com&trackingId=079e9541-5d24-5340-a374-1aae6f66a9f5">trackingExample

Instead of actually displaying a link. This is following the instructions given in the template creation page

[2019-04-03 13:30] Asjas opened #329 "Getting the project started again."
Hi,

I would like to know if this project is still active and if there is someone who is merging PRs?

I contributed to the freeCodeCamp repo and the freeCodeCamp docs repo in the past and I noticed this project stalled and I want to know if it's the project is being `archived` or if there are plans to  kick-start it back up.

I have experience with React and Redux in the frontend as well as Node

[2019-04-04 07:14] DilanLivera commented on #270
Hi @zhakkarn, is this issue fixed? Could I work on it? Thanks.

[2019-06-15 21:48] mostafachatillon opened #330 "Heroku launch does not work"
here is the screnshot when I try with heroku ![heroku](https://user-images.githubusercontent.com/8183572/59556731-e5500000-8fc7-11e9-97e1-2a179109b3af.png)

[2019-06-19 02:53] JoshEvanJohnson commented on #330
This is fixed by @lordofthelake in PR #327. The JSON of app.json is not valid. This PR corrects it. Validated my own fork to get it deployed for me in heroku and to start the PR process and looked through open PRs before submitting to find it at the top.

[2019-06-19 20:17] ahmedadelnew opened #332 "How to install in host like Hostgator ... is their a video explain this?"
How to install in host like Hostgator ... is their a video explain this?

[2019-06-19 20:51] Asjas commented on #332
There isn't a video that explains how to install `mail-for-good` on Hostgator. I took a quick look at the [Web Hosting](https://www.hostgator.com/web-hosting) of Hostgator and it seems to support `wordpress`, `joomla`, `drupal`, etc. but not Node.js apps.

You would have to use either their [Linux VPS Hosting](https://www.hostgator.com/vps-hosting) or [Dedicated Servers](https://www.hostgator.com/

[2019-06-22 00:04] israelmedel opened #333 "Can we have an installation guide for mac with docker?"
I'm not an expert and I can't make have mail for good working locally on my Mac with docker.
It would be nice if we can have a step by step guide or a video to help more people to use mail for good.

[2019-06-30 05:35] seanWLawrence commented on #333
Have you tried these steps? https://mail-for-good.netlify.com/local-deployment-guide/

[2019-07-31 19:49] informdev opened #334 "Does this still work?"
I know it's not really an issue but it seems to be the mailer we need. I've noticed no updates in a while, and maybe SES SDK has changed since then?

[2019-08-21 22:05] AblingerOscar opened #335 "CONTRIBUTING link is broken"
The link given in the [CONTRIBUTING file of this repository](https://github.com/freeCodeCamp/mail-for-good/blob/master/CONTRIBUTING.md) to FreeCodeCamp's contribution guideline seems to be broken.
Expected link (probably): https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md
Given link: https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md

[2019-08-22 05:23] smakintel commented on #265
Guys I encountered the same issue, enabled google + API in Project (google) fixed this for me

[2019-09-23 08:23] Asjas commented on #335
Fixed in #336

[2019-10-03 22:25] stefanosu commented on #270
Could I work or help with this issue?

[2019-10-04 09:59] #335 closed

[2019-10-04 10:00] raisedadead commented on #334
Will address this in the related issue thread.

Duplicate of #329

[2019-10-04 10:00] #334 closed

[2019-10-04 10:12] raisedadead commented on #329
Hi everyone,

I lead the dev team here at freeCodeCamp.org.

Thanks a lot for your patience with this project.

We are a very small dev team at @freeCodeCamp. The core platform takes a lot of our time, and hence this project which is used by hundreds (including Quincy's weekly email blast) hasn't gotten the love it more than deserves in quite a while.

We are sorry about that, but I must add that

[2019-10-11 23:34] razinc opened #344 "Using f-string in print function."
Hi, not an issue but I would like to replace the current print statement with f-string, if it's okay.

[2019-10-11 23:40] Asjas commented on #344
Hi, @razinc.

The current iteration of the project isn't being maintained. We will only fix security issues on this version but we are not going to make any other changes.

Please see issue #329 where we will take feature requests for the new version of Mail for Good that we are going to start on.

[2019-10-11 23:40] #344 closed

[2019-10-11 23:52] razinc commented on #344
Thanks for the reply @Asjas.

[2019-10-15 01:23] gideonnnalue commented on #270
i would love to work on this issue

[2019-10-15 02:46] Asjas commented on #270
@gideonnnalue This is already fixed in #339.

I just need to test if it works and then I'll merge it.

[2019-11-26 22:41] phamdt opened #346 "support GCP in addition to AWS"
awesome project! is there any interest in also supporting GCP integration for those not on AWS?

[2019-11-27 14:21] Asjas commented on #346
Hey @phamdt

This current version of the project is in maintenance mode and only bug-fixes and security changes will be made to it. We are planning on recreating it from scratch. The current plan is on using AWS again but we will keep GCP and others in mind.

[2019-11-27 14:21] #346 closed

[2019-11-27 14:22] #332 closed

[2019-11-27 19:13] Asjas commented on #330
Fixed in #327. Closing

[2019-11-27 19:13] #330 closed

[2019-12-18 15:23] yonis9 commented on #270
Hi, can I work on this issue?

[2019-12-18 18:05] Asjas commented on #270
Hi @yonis9, This issue was fixed in #339. I just had to merge the PR.

[2019-12-18 18:05] #270 closed

[2020-02-04 11:17] curiousdannii opened #348 "App errors after being installed through Heroku button"
Hi, I'm trying to install this, and while the app seems to install and build correctly using the Heroku button, when the app actually starts I get the following errors:

[code]

Looks like possibly three separate issues: something with pg/sequelize, geoip-lite (has this app been updated to handle the [MaxMind changes announced in Dec 2019?](https://blog.maxmind.com/2019/12/18/significant-changes-t

[2020-02-04 11:35] khaninejad opened #349 "Issue on heroku deployment"
After deply app on heroku application wont start, and if you start with command then this issues appear.

Feedback consumer started: watching for feedback messages (bounces, complaints, etc) from SQS
(node:58) DeprecationWarning: Using the automatically created return value from client.query as an event emitter is deprecated and will be removed in pg@7.0. Please see the upgrade guide at https://no

[2020-02-04 23:23] curiousdannii commented on #348
I got it working by removing the engines section from package.json and bumping bcrypt to 3.0.0.

https://github.com/curiousdannii/mail-for-good/commits/heroku/stable

[2020-02-04 23:23] curiousdannii commented on #349
You can try these changes: https://github.com/freeCodeCamp/mail-for-good/issues/348#issuecomment-582164668

[2020-02-05 14:28] tlafargue opened #350 "Google Auth Causes Internal Error On Callback"
I used to have a working MFG instance. I've always kept it up and a few months ago when I tried to log in it threw an internal error on the /auth/google/callback page after going through Google sign in.

Here is my exact .env file:
[code]

The logs in docker show this:
[code]

Finally here is the configuration of my oAuth Client:
![image](https://user-images.githubusercontent.com/24460120/73850376

[2020-02-06 07:04] khaninejad commented on #349
@curiousdannii not worked:

[code]

[2020-02-09 16:50] khaninejad commented on #350
same here

[2020-03-05 20:44] wayneclancy commented on #350
Same here

[2020-04-12 19:57] moringaman commented on #350
Moi aussi :-(

[2020-05-08 15:32] varundeva opened #351 "After Deployment in Heroku its not working"
It's not loading on Heroku. showing Application error.
in log its showing
`2020-05-08T15:28:06+00:00 app[heroku-redis]: source=REDIS addon=redis-shaped-48669 sample#active-connections=1 sample#load-avg-1m=0.155 sample#load-avg-5m=0.26 sample#load-avg-15m=0.27 sample#read-iops=0 sample#write-iops=0.36885 sample#memory-total=15664256kB sample#memory-free=12254912kB sample#memory-cached=612268kB samp

[2020-05-08 22:03] kelokko commented on #350
same here

[2020-05-15 01:06] danieloi commented on #333
I had issues because my google keys were actually commented out in my .env file I copied from the .env.example one.  The "#" was the issue for my google keys

[2020-05-20 17:54] QuincyLarson commented on #350
Thanks for your patience everyone.

I just emailed @AndrewWalsh and asked if he could take a look at this issue. He knows Mail for Good better than anyone, and did most of the initial development.

I personally have been using Mail for Good each week for my email blast to ~3 million subscribers, and haven't had any problems with authentication. But if it is affecting you all, we are going to look

[2020-05-20 18:07] kelokko commented on #350
Dear @QuincyLarson , thank you very much for your involvement!!!

I actually managed to reach out to  @Asjas , who has been recently in charge of the Mail for Good. He has been kind enough to do a research, which shown the nature of the problem to be in recent (March 2019) discontinuation of Google+ API. In the same time he noticed that local auth doesn't work with no clear reason.

I believe the

[2020-05-23 12:04] #305 closed

[2020-05-23 12:06] #349 closed, assigned to nobody

[2020-05-23 12:06] #351 closed, assigned to nobody

[2020-05-23 15:32] raisedadead commented on #350
Turns out, we need to do some housekeeping on the dependencies, I was able to patch some of the most critical ones, that were breaking Passport's parsing strategy as fixed wayback here: https://github.com/jaredhanson/passport-google-oauth2/commit/039a31dae811e94396ef27196235f7e5a178bb3e

If anyone is willing to test the fix in the linked PR, here are the steps:

[code]

[2020-06-14 13:08] tlafargue commented on #350
@raisedadead I tried out the fix/auth branch with no success. I modified the docker-compose.yml to have the image built from source instead of pulling but I ran into an error upon npm install with the bcrypt dependency. This seems to be due to the fact that the project is using an older version of node (8.2.1) so I went ahead and rebuilt using node version 10.21.0. This did allow the image to be b

[2020-06-17 07:29] raisedadead commented on #350
Ah - that's a bummer.

I used node 8. Can you try [`npm ci`](https://docs.npmjs.com/cli/ci.html)? Like so:

[code]

If that doesn't work, let me know I will try and investigate.

[2020-06-17 12:25] tlafargue commented on #350
@raisedadead Hey just to be clear I'm trying to run the app within a docker container so whatever npm command you are telling me to run, I am adding to the Dockerfile. I don't think this should make a difference but maybe I should try running the app outside Docker. My problem is I already have an another app installed on my machine that requires a more recent version of node so I really think Doc

[2020-06-20 06:40] raisedadead commented on #350
Ah - that's probably why its been breaking for you. If you want to re-use the same machine with Node defaulting to another version, I would recommend using [`nvm`](https://github.com/nvm-sh/nvm) for managing versions. You can default nvm to load the latest version like you want normally, and choose Node 8 for only the session that installs the dependencies on the MFG folder/directory:

[code]

The

[2020-06-20 06:43] raisedadead commented on #350
That said, the node-gyp error might need some build tooling unlreated to MFG's code itself. This can vary depending on the OS you are on. On macOS its Xcode Commandline Tools, on ubuntu its probably `build-essential` or something like that.

we can dig deeper into that if it does not work for you.

[2020-06-20 12:23] tlafargue commented on #350
Thanks for taking the time to answer all my questions. So I tried installing node 8 with nvm and after successfully installing the bcrypt module outside the docker container I run into the same error during npm install inside the docker container. I'm on Ubuntu and I do have build-essential installed. After checking the bcrypt package page it says the compatibility for node 8 is >= 1.0.3 < 4.0.0.

[2020-06-21 08:18] raisedadead commented on #350
Okay seems like you are getting there. Maybe instead of using the `FROM node:8.2.1-onbuild` you could try `alpine` (which will let you install deps outside). Once you do install the dependencies outside the container, you can still run the app in the container.

[2020-06-22 08:31] tlafargue commented on #350
Tried node:8.2.1-alpine. Running into an issue because since babel-cli and other dependencies are not installed in the container, it can't run the node-babel command. Furthermore if I try adding npm install babel-cli to the Dockerfile I run into cascading errors of dependencies not being installed every time I add the error-triggering dependency to the Dockerfile.

[2020-07-24 16:10] niftylettuce opened #356 "Open source email forwarding"
I just wanted to share my work here - since non-profits could happily use it for free (and I'd put any non-profit on a team plan as well for free).  Just let me know.  Or feel free to close this issue.

Site: ** Redacted **
GitHub : ** Redacted **

[2020-07-24 21:02] #356 closed, assigned to nobody

[2020-07-25 01:29] ddevault opened #357 "Your entire project is morally represensible"
Your entire project is morally represensible, and you should delete it immediately and reflect on your actions and the evil you have wrought upon humanity. *You are a bad person*.

It's really fucking simple: spam is evil, and you are conducting evil business. How you call yourself "mail for good", let alone how you sleep at night, is beyond me.

[2020-07-25 17:17] QuincyLarson commented on #357
@ddevault We make it easier and less expensive for nonprofits to send emails to their mailing lists. If that's your opinion of the project, you are entitled to it.

[2020-07-25 17:17] #357 closed, assigned to nobody

[2020-07-25 17:18] ddevault commented on #357
What you do is enable spam. You are a spammer. The word "spammer" is synymouos with "bad person" and you know it, you just cognative dissonanced your way into being able to sleep at night because being a bad person is probably how you make a living.

[2020-07-27 07:23] cseeger-epages opened #358 "can i use my own mail server"
Is it possible to use our own mail server for this project instead of AWS?

[2020-08-03 02:39] ralyodio opened #359 "docker-compose needs a volume for database"
Otherwise you'll loose your database when you restart.

[2020-10-09 04:31] rezaa1 commented on #350
I get the same error still, anyone managed to get this working:

[code]

I believe this is related to DeprecationWarning above, if some one can have a look, would be great

[2020-11-19 17:02] isholaomotayo commented on #350
Hi @tlafargue @rezaa1

I just fixed this issue, took me the good part of today,

First is that the docker images wont work, The issue is cause d by google removing the old Google+ OAuth Method in favor of google sign-in

You will need to follow the development setup to get it working and make some modifications to the code

STEP1  follow the guide here [https://github.com/freeCodeCamp/Mail-for-Goo